@model MrCMS.Web.Apps.Ecommerce.Entities.Geographic.Region
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "Region", new { id = "" }, FormMethod.Post))
{
    <fieldset>
        <legend>
           Add Region to @Model.Country.Name
            <span class="btn-group  display-inline  pull-right">
                 <input type="submit" class="btn-primary btn" value="Add Region" />
            </span>
        </legend>

        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        @Html.HiddenFor(region => region.Country.Id)

   </fieldset>
}