@model MrCMS.Web.Apps.Ecommerce.Entities.Geographic.Region
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "Region", new { id = "" }, FormMethod.Post))
{
    <fieldset>
        <legend>
           Add Region to @Model.Country.Name
            <span class="btn-group  display-inline  pull-right">
                 <input type="submit" class="btn-primary btn" value="Add Region" />
            </span>
        </legend>

        @Html.LabelFor(region => region.Name)
        @Html.TextBoxFor(region => region.Name)
        @Html.ValidationMessageFor(region => region.Name)
        @Html.HiddenFor(region => region.Country.Id)

   </fieldset>
}