@model MrCMS.Web.Apps.Ecommerce.Entities.Region
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "Region", new { id = "" }, FormMethod.Post))
{
    <div class="modal-header">
        <h3>Add Region to @Model.Country.Name</h3>
    </div>
    <div class="modal-body">
        @Html.LabelFor(region => region.Name)
        @Html.TextBoxFor(region => region.Name)
        @Html.ValidationMessageFor(region => region.Name)
        @Html.HiddenFor(region => region.Country.Id)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Add Region" />
    </div>
}