@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.Users.Address
@{
    var otherAddresses = ViewData["other-addresses"] as List<SelectListItem>;
}
<div id="delivery-address-container">
    @if (Model != null)
    {
        using (Html.BeginForm("SetAddress", "SetDeliveryDetails", FormMethod.Post, new { id = "deliveryDetails" }))
        {
        <div class="border-grey margin-bottom-20">
            <div class="sub-header grey-background">
                Who shall we deliver to?
            </div>
            <div class="padding-top-bottom-20">

                @if (otherAddresses.Any())
                {
                    <div class="row-fluid">
                        <div class="span4 align-right line-height-30">
                            Existing Address :
                        </div>
                        <div class="span8">
                            <div class="row-fluid">
                                @Html.DropDownList("existing-addresses", otherAddresses)
                            </div>
                        </div>
                    </div>
                }
                <div class="row-fluid">
                    <div class="span4 align-right line-height-30">
                        First Name <span class="red">*</span> :
                    </div>
                    <div class="span8">
                        <div class="row-fluid">
                            @Html.TextBoxFor(address => address.FirstName, new { @class = "span8" })
                            @Html.ValidationMessageFor(address => address.FirstName)
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 align-right line-height-30">
                        Last Name <span class="red">*</span> :
                    </div>
                    <div class="span8">
                        <div class="row-fluid">
                            @Html.TextBoxFor(address => address.LastName, new { @class = "span8" })
                            @Html.ValidationMessageFor(address => address.LastName)
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span4 align-right line-height-30">
                        Company (optional)
                    </div>
                    <div class="span8">
                        <div class="row-fluid">
                            @Html.TextBoxFor(address => address.Company, new { @class = "span8" })
                            @Html.ValidationMessageFor(address => address.Company)
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span4 align-right line-height-30">
                        Phone Number <span class="red">*</span> :
                    </div>
                    <div class="span8">
                        <div class="row-fluid">
                            @Html.TextBoxFor(address => address.PhoneNumber, new { @class = "span8" })
                            @Html.ValidationMessageFor(address => address.PhoneNumber)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-grey">
            <div class="sub-header grey-background">
                Where would you like to deliver
            </div>
            <div class="padding-top-bottom-20">
                <div class="row-fluid">
                    <div class="span4 align-right line-height-30">
                        Postcode <span class="red">*</span> :
                    </div>
                    <div class="span8">
                        <div class="row-fluid">
                            <div class="span4">
                                @Html.TextBoxFor(address => address.PostalCode, new { @class = "span12" })
                                @Html.ValidationMessageFor(address => address.PostalCode)
                            </div>
                            <div class="span4">
                                <button type="button" class="btn span12" id="postcode-lookup" onclick="PostcodeAnywhere_Interactive_Find_v1_10Begin('AP56-BB29-JR12-RJ77', $('#PostalCode').val(), '', '', '')">Find my address</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid" id="postcode-lookup-container" style="display:none;">
                    <div class="span4 align-right line-height-30"></div>
                    <div class="span8">
                        <select id="return" class="span8" onchange="PostcodeAnywhere_Interactive_RetrieveById_v1_10Begin('AP56-BB29-JR12-RJ77', getElementById('return').value, '', '')"></select>
                    </div>

                </div>

                <div class="row-fluid">
                    <div class="span4 align-right line-height-30">
                        Address 1 <span class="red">*</span> :
                    </div>
                    <div class="span8">
                        <div class="row-fluid">
                            @Html.TextBoxFor(address => address.Address1, new { @class = "span8" })
                            @Html.ValidationMessageFor(address => address.Address1)
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 align-right line-height-30">
                        Address 2  :
                    </div>
                    <div class="span8">
                        <div class="row-fluid">
                            @Html.TextBoxFor(address => address.Address2, new { @class = "span8" })
                            @Html.ValidationMessageFor(address => address.Address2)
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 align-right line-height-30">
                        Town or City <span class="red">*</span> :
                    </div>
                    <div class="span8">
                        <div class="row-fluid">
                            @Html.TextBoxFor(address => address.City, new { @class = "span8" })
                            @Html.ValidationMessageFor(address => address.City)
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 align-right line-height-30">
                        County  :
                    </div>
                    <div class="span8">
                        <div class="row-fluid">
                            @Html.TextBoxFor(address => address.StateProvince, new { @class = "span8" })
                            @Html.ValidationMessageFor(address => address.StateProvince)
                        </div>
                    </div>
                </div>
                <div class="row-fluid margin-bottom-10">
                    <div class="span4 align-right line-height-30">
                        Country <span class="red">*</span> :
                    </div>
                    <div class="span8">
                        <div class="row-fluid line-height-30">
                            @Html.DisplayFor(address => address.Country.Name)
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 align-right line-height-30">
                    </div>
                    <div class="span8">
                        <div class="row-fluid">
                            <input type="submit" class="btn red-gradient span8" id="continue" name="continue" value="Deliver to this address" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    }
</div>
@{Html.IncludeScript("/Themes/Ryness/Content/Scripts/postcode-anywhere.js"); }