@using MrCMS.Web.Apps.Ecommerce.Models
@model MrCMS.Web.Apps.Ecommerce.Models.PaypointPaymentDetailsModel  
@{
    var startMonths = ViewData["start-months"] as IEnumerable<SelectListItem>;
    var startYears = ViewData["start-years"] as IEnumerable<SelectListItem>;
    var expiryMonths = ViewData["expiry-months"] as IEnumerable<SelectListItem>;
    var expiryYears = ViewData["expiry-years"] as IEnumerable<SelectListItem>;
    var cardTypes = ViewData["card-types"] as IEnumerable<SelectListItem>;
    var failureDetails = TempData["error-details"] as FailureDetails;
}
@using (Html.BeginForm("Paypoint", "PaymentMethod", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="border-grey margin-bottom-20" id="select-method">
        <div class="sub-header grey-background">
            Card Details
        </div>
        <div class="padding-20 payment">
            <div class="control-group">
                <label class="control-label" for="CardType">Card Type <span class="red">*</span> :</label>
                <div class="controls">
                    @Html.DropDownListFor(model => model.CardType, cardTypes)
                    @Html.ValidationMessageFor(model => model.CardType)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="CardNumber">Card Number <span class="red">*</span> :</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.CardNumber, new { @class = "input-xlarge" })
                    @Html.ValidationMessageFor(model => model.CardNumber)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="NameOnCard">Name On Card <span class="red">*</span> :</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.NameOnCard, new { @class = "input-xlarge" })
                    @Html.ValidationMessageFor(model => model.NameOnCard)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="CardVerificationCode">Card Verification (CV2) <span class="red">*</span> :</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.CardVerificationCode, new { @class = "input-small" })<img src="/Themes/Ryness/Content/Images/checkout/crv.gif" style="margin-left: 5px;" />
                    @Html.ValidationMessageFor(model => model.CardVerificationCode)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">Valid From :</div>
                <div class="controls">
                    <div class="pull-left">
                        @Html.DropDownListFor(model => model.StartMonth, startMonths, new { @class = "input-small" })
                    </div>
                    <div class="pull-left padding-left-5">
                        @Html.DropDownListFor(model => model.StartYear, startYears, new { @class = "input-small" })
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">Expires On <span class="red">*</span> :</div>
                <div class="controls">
                    <div class="pull-left">
                        @Html.DropDownListFor(model => model.EndMonth, expiryMonths, new { @class = "input-small" })
                        @Html.ValidationMessageFor(model => model.EndMonth)
                    </div>
                    <div class="pull-left padding-left-5">
                        @Html.DropDownListFor(model => model.EndYear, expiryYears, new { @class = "input-small" })
                        @Html.ValidationMessageFor(model => model.EndYear)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="NameOnCard">Issue Number :</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.CardIssueNumber, new { @class = "input-small" })
                    <span class="green">(Maestro/Solo only)</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label>
                    </label>
                    <button class="btn red-gradient span8"  id="continue" name="continue">Place order</button>
                </div>
            </div>
        </div>
    </div>
}
@if (failureDetails != null)
{
    <ul>
        @foreach (var error in failureDetails.Details)
        {
            <li>
                @error
            </li>
        }
    </ul>
}
<style>
    .input-validation-error { border: 1px solid red!important;}
    .field-validation-error span { color: red;}
</style>