@model MrCMS.Web.Apps.Ecommerce.Pages.Product 
<div class="span2">
    <div class="product-picture text-align-center margin-top-10 padding-top-bottom-10">
        @if (Model.Images.Any())
        {
            <a href="/@Model.LiveUrlSegment" title="@Model.Name">@RenderImage(Model.Images.First().FileUrl)</a>
        }
    </div>
    <div class="product-brief">
        <div class="product-abstract">
            <h3><a href="/@Model.LiveUrlSegment">@Model.Name</a></h3>
            <p>@(Model.Abstract != null ? (Model.Abstract.Length > 255 ? Model.Abstract.Substring(0, 250) + "..." : Model.Abstract) : String.Empty)</p>
        </div>
        <div class="product-price">
            @Html.DisplayFor(product => product.DisplayPrice)
            @if (Model.DisplayPreviousPrice.HasValue)
            {
                <span>@Model.PreviousPriceText : @Html.DisplayFor(product => product.DisplayPreviousPrice)</span>
            }

        </div>
    </div>
</div>