@using System.Drawing
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Ecommerce.Pages.Product 
<div class="span3">
    <div class="product-picture text-align-center margin-top-10 padding-top-bottom-10">
        @if (Model.Images.Any())
        {
            if (ViewData["show-featured"] != null && (bool)ViewData["show-featured"])
            {
            <img src="/Themes/Ryness/Content/Images/top-offer.png" alt="offer" title="offer" class="offer" />
            }
            <a href="/@Model.LiveUrlSegment" title="@Model.Name">@RenderImage(Model.Images.First().FileUrl, new Size { Height = 150, Width = 150 }, alt: Model.Name)</a>
        }
    </div>
    <div class="product-brief">
        <div class="product-abstract">
            <h3><a href="/@Model.LiveUrlSegment">@Model.Name</a></h3>
            @Editable(Model, product => product.Abstract)
        </div>
        <div class="product-price">
            @Model.DisplayPrice.ToCurrencyFormat()
            @if (Model.ShowPreviousPrice && Model.DisplayPreviousPrice.HasValue)
            {
                <span>@Model.PreviousPriceText : @Model.DisplayPreviousPrice.ToCurrencyFormat()</span>
            }

        </div>
    </div>
    @if (!Model.IsMultiVariant && Model.Variants.FirstOrDefault().InStock)
    {
        using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
        {
        @Html.Hidden("Id", Model.Variants.FirstOrDefault().Id)
        @Html.Hidden("quantity", 1)
        <button class="generic-button red-gradient span6" style="margin-left:0;">Add to basket</button>
        }
    }
</div>
