@using System.Drawing
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@if (Model.Variants.Any())
{
    <div class="span3 text-align-center">
        <a href="/@Model.LiveUrlSegment">
            @RenderImage(Model.DisplayImageUrl, new Size{Height = 150, Width = 150}, alt:Model.Name)
        </a>
    </div>
    <div class="span6">
        <div class="product-abstract">
            <h3><a href="/@Model.LiveUrlSegment">@Model.Name</a></h3>
            @Editable(Model, product => product.Abstract, true)
        </div>
    </div>
    <div class="span3 last">
        <div class="product-price text-align-right">
            <span>Exclusive price</span>
            @Model.DisplayPrice.ToCurrencyFormat()
            @if (Model.ShowPreviousPrice)
            {
                <span>@Model.PreviousPriceText : <span>@Model.DisplayPreviousPrice.ToCurrencyFormat()</span></span>
            }
        </div>
        <div class="more-info">
            <div class="row-fluid text-align-center">
                <a href="/@Model.LiveUrlSegment" class="btn btn-white span9 offset3">More info</a>
            </div>
        </div>
        @if (!Model.IsMultiVariant && Model.Variants.FirstOrDefault().InStock)
        {
            <div class="quick-buy">
                <div class="row-fluid text-align-center">
                    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                    {
                        @Html.Hidden("Id", Model.Variants.FirstOrDefault().Id)
                        @Html.Hidden("quantity", 1)
                        <button class="generic-button big-red-gradient span9 offset3">Buy</button>
                    }
                </div>
            </div>
        }
    </div>
}