@using System.Globalization
@using MrCMS.Helpers
@model MrCMS.Web.Apps.Articles.Pages.Article
<div class="textpage padding-top-bottom-20">
    <div class="container">
        <div class="content">
            <div class="row-fluid">
                <div class="span12">
                    <h1 class="margin-top-0">@Editable(Model, p => p.Name, false)</h1>
                    <hr />
                    <div>
                        @if (Model.PublishOn.HasValue)
                        {
                            <text>@Model.PublishOn.Value.Day @Model.PublishOn.Value.ToString("MMMMM") @Model.PublishOn.Value.Year.ToString(CultureInfo.InvariantCulture)</text>
                        }
                    </div>
                    <br />
                    @if (!String.IsNullOrEmpty(Model.FeatureImage))
                    {
                        <a href="/@Model.LiveUrlSegment" class="margin-top-0">
                            <img src="@Model.FeatureImage" alt=""/></a>
                    }
                    @Editable(Model, page => page.BodyContent, true)
                </div>
            </div>
        </div>
    </div>
</div>
