@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.NewsletterBuilder.ContentItems.ProductList
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm("AddProductList", "Newsletter", new { id = "" },FormMethod.Post))
{
    <fieldset>
        <legend>
            Add Product List
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn btn-primary" value="Add" />
            </span>
        </legend>
        
        @Html.HiddenFor(x => x.Newsletter.Id)

        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        
        @Html.LabelFor(x => x.Products)
        @Html.TextBoxFor(x=>x.Products)
        <div class="clearfix"></div>
        <input autocomplete="off" class="search-query span6" id="searchparam" name="searchparam" placeholder="Search and add products to be featured within content item" type="text" />
        <div class="clearfix"></div>
        <br/>
        <div id="products2">
            <div class="row-fluid">
                <div class="span6">
                    <table class="table table-striped table-condensed pull-left" style="margin-bottom: 0;"></table>
                </div>
            </div>
        </div>
</fieldset>
}
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/content-item-product-list.js"); }