@using MrCMS.Helpers
@model MrCMS.Web.Apps.EBay.Models.EBayListingModel

<div data-paging-type="async" id="categories">
    @if (Model.Categories.Count == 0)
    {
        <br/>
        <p>
            No categories found.
        </p>
    }
    else
    {
        <table class="table table-condensed table-striped">
            <tbody>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                         <td>
                            @item.CategoryID
                        </td>
                        <td>
                            @item.CategoryPath
                        </td>
                        <td>
                            <button class="btn btn-mini btn-success choose-category" 
                                    data-category-id="@item.Id" data-category-path="@item.CategoryPath">Choose</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
         @Html.Pager(Model.Categories, "Categories", i => new {page = i},new PagedListRenderOptions(){MaximumPageNumbersToDisplay = 10 })
    }

</div>

@{ Html.IncludeScript("~/Apps/EBay/Areas/Admin/Content/Scripts/custom/async-paging.js"); }