@model MrCMS.Web.Apps.EBay.Entities.Listings.EBayListing
@{
    ViewBag.Title = "Edit eBay Listing";
}

<fieldset>
    <legend><strong>@Model.Product.Name</strong>
        <span class="btn-group  display-inline  pull-right">
            @(!Model.IsListed ? 
            Html.ActionLink("List", "ListAll", "Listing", new {id = Model.Id, location="edit"}, new {@class = "btn btn-primary", data_toggle = "fb-modal"}) : 
            Html.ActionLink("End", "End", "Listing", new {id = Model.Id, location="edit"}, new {@class = "btn btn-warning", data_toggle = "fb-modal"}))
            
            @Html.ActionLink("Sync", "Sync", "Listing", new {id=Model.Id, location="edit"},new { @class = "btn btn-success", data_toggle = "fb-modal"})
            @Html.ActionLink("Delete", "Delete", "Listing", new {id=Model.Id, location="edit"},new { @class = "btn btn-danger", data_toggle = "fb-modal"})
        </span>
    </legend>
</fieldset>

<div class="row-fluid">
    <div class="span12">
        <p>
        Listed in <strong>@Model.EBayCategory.CategoryPath</strong> 
        </p>
        @if (Model.Items.Count > 1)
        {
            <div class="alert alert-info"><strong>NOTE: </strong>Choosen category does not support publishing listing with multiple variations, instead
                the variants of this product are listed separatly on eBay.
            </div>
        }
        @{Html.RenderPartial("ListingItems", Model.Items);}
    </div>
</div>
