@using MrCMS.Helpers
@using MrCMS.Web.Apps.EBay.Models
@model IList<MrCMS.Web.Apps.EBay.Entities.Listings.EBayListingItem>

<div id="listing-items">
    @if (Model.Count == 0)
    {
        @:No listing items added.
    }
    else
    {
       <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Title
                    </th>
                    <th>SKU
                    </th>
                    <th>eBay Item Id
                    </th>
                     <th>Status
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ProductVariant.DisplayName
                        </td>
                        <td>
                            @item.ProductVariant.SKU
                        </td>
                        <td>
                            @item.EBayItemID
                        </td>
                         <td>
                            @item.Status.GetDescription()
                        </td>
                        <td>
                            @switch (item.Status)
                            {
                                case EBayListingItemStatus.NotListed:
                                    @Html.FormLink("List", "ListListingItem", "Listing", new {id = item.Id}, new {@class = "btn btn-mini btn-success"})
                                    break;
                                case EBayListingItemStatus.Scheduled:
                                case EBayListingItemStatus.Listed:
                                    @Html.FormLink("End", "EndListingItem", "Listing", new {id = item.Id}, new {@class = "btn btn-mini btn-warning"})
                                    break;
                                case EBayListingItemStatus.Returned:
                                case EBayListingItemStatus.Unsold:
                                case EBayListingItemStatus.Sold:
                                    @Html.FormLink("Relist", "EndListingItem", "Listing", new {id = item.Id}, new {@class = "btn btn-mini btn-success"})
                                    break;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
@{ Html.IncludeScript("~/Apps/EBay/Areas/Admin/Content/Scripts/custom/listings.js"); }