@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Paging.IPagedList<MrCMS.Web.Apps.Amazon.Entities.Listings.AmazonListing>

<div data-paging-type="async" id="listings">
    
    @if (!Model.Any())
    {
        @:No listings found.
    }
    else
    {
        <table class="table table-striped table-condensed" style="overflow: scroll">
            <thead>
                <tr>
                    <th>
                        SKU
                    </th>
                     <th>
                        ASIN
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.SellerSKU
                        </td>
                         <td>
                            @item.ASIN
                        </td>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Status.GetDescription()
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Listing", new {id = item.Id}, new { @class="btn btn-mini"})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @Html.Pager(Model, "Listings", i => new { page = i })

</div>
@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/async-paging.js"); }
