@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Pages.Product
<div class="tab-pane" id="download-product-options">
     <label class="checkbox">@Html.CheckBox("IsDownloadable", Model.IsDownloadable) Downloadable?</label>
    <div id="downloadable" @(Model.IsDownloadable?Html.Raw("style='display:block'"):Html.Raw("style='display:none'"))>
        <br/>
         <div class="row-fluid">
             <div class="span6">
                 <div class="row-fluid">
                     <div class="span6">
                         @Html.LabelFor(x => x.DownloadFileUrl)
                         @Html.TextBoxFor(x => x.DownloadFileUrl, new {@class = "media-selector"})
                         @Html.ValidationMessageFor(x => x.DownloadFileUrl)
                     </div>
                     <div class="span6">
                         @Html.LabelFor(x => x.DemoFileUrl)
                         @Html.TextBoxFor(x => x.DemoFileUrl, new {@class = "media-selector"})
                         @Html.ValidationMessageFor(x => x.DemoFileUrl)
                     </div>
                 </div>
                    </div>
            <div class="span6">
                @Html.LabelFor(x=>x.AllowedNumberOfDaysForDownload)
                @Html.TextBoxFor(x=>x.AllowedNumberOfDaysForDownload,new {@class="span3"})
                @Html.ValidationMessageFor(x=>x.AllowedNumberOfDaysForDownload)
          
                 @Html.LabelFor(x=>x.AllowedNumberOfDownloads)
                 @Html.TextBoxFor(x=>x.AllowedNumberOfDownloads,new {@class="span3"})
                 @Html.ValidationMessageFor(x=>x.AllowedNumberOfDownloads)
             
                @Html.LabelFor(x=>x.NumberOfDownloads)
                @Html.TextBoxFor(x=>x.NumberOfDownloads,new {@class="span3"})
                @Html.ValidationMessageFor(x=>x.NumberOfDownloads)
            </div>
        </div>
    </div>
</div>
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/download-product.js"); }