@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Pages.Product
<div class="tab-pane" id="product-properties">
    @Html.LabelFor(product => product.BasePrice)
    @Html.TextBoxFor(product => product.BasePrice) 

    @Html.LabelFor(product => product.PreviousPrice)
    @Html.TextBoxFor(product => product.PreviousPrice)

    @Html.LabelFor(product => product.SKU)
    @Html.TextBoxFor(product => product.SKU)

    @Html.LabelFor(product => product.StockRemaining)
    @Html.TextBoxFor(product => product.StockRemaining)

    @Html.LabelFor(product => product.TaxRate.Id, "Tax Rate")
    @Html.DropDownListFor(product => product.TaxRate.Id, ViewData["taxrates"] as IEnumerable<SelectListItem>)

    @if (Model.Gallery != null)
    {
        @Html.LabelFor(product => product.Gallery.Id, "Gallery")
        @Html.ActionLink("To Gallery", "Edit", "MediaCategory", new { id = Model.Gallery.Id }, null)
    }

    @{ Html.RenderAction("ViewCategories", "Product", new { product = Model });}
    @{ Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/edit-product.js"); }
</div>