@model MrCMS.Web.Apps.Ecommerce.Entities.Currencies.Currency
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "Currency", FormMethod.Post))
{
    <fieldset>
        <legend>Add Currency
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Add Currency" />
            </span>
        </legend>

        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        @Html.LabelFor(x => x.Code)
        @Html.TextBoxFor(x => x.Code)
        @Html.ValidationMessageFor(x => x.Code)
        @Html.LabelFor(x => x.Format)
        @Html.TextBoxFor(x => x.Format)
        @Html.ValidationMessageFor(x => x.Format)

    </fieldset>
}