@model IList<MrCMS.Web.Apps.Ecommerce.Entities.Currencies.Currency>
@{
    ViewBag.Title = "Currencies";
}

<form>
    <fieldset>
        <legend>Currencies
            <span class="btn-group  display-inline  pull-right">
                <a href="@Url.Action("Add", "Currency")" class="btn btn-primary"  data-toggle="fb-modal">Add Currency</a>
            </span>
        </legend>

        @if (Model.Count == 0)
        {
            <text>
            No currencies.
            </text>
        }
        else
        {
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name
                        </th>
                        <th>Code
                        </th>
                        <th>Format
                        </th>
                        <th>Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Code
                            </td>
                            <td>
                                @item.Format
                            </td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink("Edit", "Edit", "Currency", new { id = item.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                                    @Html.ActionLink("Delete", "Delete", "Currency", new { id = item.Id }, new { @class = "btn btn-mini btn-danger", data_toggle = "fb-modal" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </fieldset>
</form>