@model MrCMS.Web.Apps.Amazon.Services.Orders.Sync.GetUpdatedOrdersRequest
@using (Html.BeginForm())
{
    <div class="row-fluid">
        <div class="span12">
            @Html.LabelFor(request => request.LastUpdatedAfter)
            @Html.TextBoxFor(request => request.LastUpdatedAfter, new { @class = "date-time-picker" })
            @Html.ValidationMessageFor(request => request.LastUpdatedAfter)
            @Html.LabelFor(request => request.LastUpdatedBefore)
            @Html.TextBoxFor(request => request.LastUpdatedBefore, new { @class = "date-time-picker" })
            @Html.ValidationMessageFor(request => request.LastUpdatedBefore)
            
            <input type="submit" class="btn btn-primary" value="Get new orders"/>
        </div>
    </div>
}