@using System.Web.Mvc.Html
@using MrCMS.Web.Apps.Amazon.Models
@model AmazonOrderSearchModel
@{
    ViewBag.Title = "Amazon Orders";
    var amazonManageOrdersUrl = ViewData["AmazonManageOrdersUrl"] as string;
}

@using (Html.BeginForm("Index", "Orders", FormMethod.Get))
{

    <fieldset>
        <legend> 
            <div class="row">
                <div class="col-lg-6">
                    Amazon Orders
                </div>
                <div class="col-lg-6">
                     <span class="btn-group  display-inline  pull-right margin-left-10">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </span>
                    <span class="btn-group  display-inline  pull-right margin-left-10">
                        @Html.ActionLink("Sync", "SyncMany", "Orders", null, new {@class = "btn btn-success"})
                    </span>
                    <span class="btn-group  display-inline  pull-right margin-left-10">
                        @if (!String.IsNullOrWhiteSpace(amazonManageOrdersUrl))
                        {
                            <a href='@amazonManageOrdersUrl' target="_blank" class="btn btn-default">Manage Orders on Amazon
                            </a>
                        }
                    </span>
                    <span class="btn-group  display-inline  pull-right">
                        @Html.ActionLink("Logs", "Index", "Logs", new {type = AmazonLogType.Orders}, new {@class = "btn"})
                    </span>
                </div>
            </div>
            <span class="btn-group  display-inline  pull-right">
            
            </span>
        </legend>
    </fieldset>


    <div class="row">
        <div class="col-lg-12">
            @Html.LabelFor(x => x.SearchText, "Search (Order Id, Name or Email)")
            @Html.TextBoxFor(x => x.SearchText, new {@class = "form-control"})
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            @Html.LabelFor(x => x.DateFrom)
            @Html.TextBoxFor(x => x.DateFrom, new {@class = "col-lg-12 date-time-picker"})
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(x => x.DateTo)
            @Html.TextBoxFor(x => x.DateTo, new {@class = "col-lg-12 date-time-picker"})
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(x => x.ShippingStatus)
            @Html.DropDownList("ShippingStatus", ViewData["ShippingStatuses"] as IEnumerable<SelectListItem>, new {@class = "form-control"})
        </div>
    </div>

    <hr />
}


<div class="row">
    <div class="col-lg-12">
        @{Html.RenderPartial("Orders", Model); }
    </div>
</div>
