@using System.Web.Mvc.Html
@using MrCMS.Web.Apps.Amazon.Models
@model AmazonOrderSearchModel
@{
    ViewBag.Title = "Amazon Orders";
    var amazonManageOrdersUrl = ViewData["AmazonManageOrdersUrl"] as string;
}

@using (Html.BeginForm("Index", "Orders", FormMethod.Get))
{
    
    <fieldset>
        <legend>Amazon Orders 
         
        <span class="btn-group  display-inline  pull-right">
            @Html.ActionLink("Logs", "Index", "Logs", new { type = AmazonLogType.Orders }, new { @class = "btn" })

            @if (!String.IsNullOrWhiteSpace(amazonManageOrdersUrl))
            {
                <a href='@amazonManageOrdersUrl' target="_blank" class="btn">Manage Orders on Amazon
                </a>
            }
             @Html.ActionLink("Sync", "SyncMany", "Orders", null,new { @class = "btn btn-success" })
            <button type="submit" class="btn btn-primary">Search</button>
        </span>
        </legend>
    </fieldset>


    <div class="row-fluid">
        <div class="span12">
            @Html.LabelFor(x => x.SearchText, "Search (Order Id, Name or Email)")
            @Html.TextBoxFor(x => x.SearchText, new { @class = "span12" })
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            @Html.LabelFor(x => x.DateFrom)
            @Html.TextBoxFor(x => x.DateFrom, new { @class = "span12 date-time-picker" })
        </div>
        <div class="span4">
            @Html.LabelFor(x => x.DateTo)
            @Html.TextBoxFor(x => x.DateTo, new { @class = "span12 date-time-picker" })
        </div>
        <div class="span4">
            @Html.LabelFor(x => x.ShippingStatus)
            @Html.DropDownList("ShippingStatus", ViewData["ShippingStatuses"] as IEnumerable<SelectListItem>, new { @class = "span12" })
        </div>
    </div>
    
    <hr />
}


<div class="row-fluid">
    <div class="span12">
        @{Html.RenderPartial("Orders", Model); }
    </div>
</div>
