@using System.Web.Mvc.Html
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Amazon.Models
@model AmazonSyncModel
@{
    ViewBag.Title = "Mark Amazon Order as Shipped";
}
    <fieldset>
        <legend>
            Mark Amazon Order #@Model.Description as Shipped
            <span class="btn-group  display-inline  pull-right">
                @Html.ActionLink("Back to Order", "Details", "Orders", new {id=Model.Id}, new { @class = "btn btn-primary"})
                @Html.ActionLink("Orders", "Index", "Orders", null, new { @class = "btn"})
                @Html.ActionLink("Logs", "Index", "Logs", new {type=AmazonLogType.Orders}, new { @class = "btn"})
            </span>
        </legend>
        
        @Html.Hidden("Id",Model.Id)
        @Html.Hidden("Description",Model.Description)
        @Html.Hidden("TaskId",Guid.NewGuid())
        
        <div id="pb" style="display: none">
            <div class="progress progress-info progress-striped">
                <div class="bar" style="width: 0;"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <button type="button" class="btn btn-success" id="pb-start-task">
                    Mark Now</button>
            </div>
            <div class="span6">
                <div id="pb-status" style="display: none">
                    @{Html.RenderAction("ProgressBarMessages","App",new {Model.TaskId}); }
                </div>
            </div>
        </div>
       
    </fieldset>

@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/progress-bar-paged.js");}
@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/mark-order-shipped.js");}

@{ Html.IncludeCss("~/Apps/Amazon/Areas/Admin/Content/Styles/progress-bar.css"); }