@model MrCMS.Web.Apps.Ecommerce.Models.AddPriceBreakModel
@{ 
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("Add", "PriceBreak", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Add Price Break</h3>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Type)
        @Html.LabelFor(model => model.Quantity)
        @Html.TextBoxFor(model => model.Quantity)
        @Html.ValidationMessageFor(model => model.Quantity)
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Add Price Break" />
    </div>
}