@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Models.EmailAndLoginModel
@{
    var errorMessages = TempData.ErrorMessages();
}
@using (Html.BeginForm("SetOrderEmailAndLogin", "EnterOrderEmail", FormMethod.Post))
{
    <div class="block-title">
        <h1>
            Email address
        </h1>
    </div>
    if (errorMessages.Any())
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var message in errorMessages)
                {
                    <li>@message</li>
                }
            </ul>
        </div>
    }
    
    <div class="row">
        <div class="col-sm-8">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="OrderEmail" class="col-sm-6">Enter your Email address<span class="red">*</span>:</label>
                        <div class="col-sm-12">
                            @Html.TextBoxFor(x => x.OrderEmail, new { placeholder = "Email address", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.OrderEmail)
                        </div>
                </div>
            </div>
            <p>Do you have a password?</p>    
            <div class="form-inline margin-bottom-10">
                <label class="radio padding-right-10">
                    @Html.RadioButtonFor(model => model.HavePassword, true) Yes
                </label>
                <label class="radio">
                    @Html.RadioButtonFor(model => model.HavePassword, false) No
                </label>
            </div>
            <div id="password-box" style="display: none" class="margin-bottom-10">
                @Html.PasswordFor(model => model.Password, new { placeholder = "Enter your password here", @class = "form-control" })
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input class="btn btn-primary btn-block" type="submit" id="continue" name="continue" value="Continue" />
        </div>
    </div>
}
@{ Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/enter-order-email.js"); }