@using MrCMS.Helpers
@model MrCMS.Paging.IPagedList<MrCMS.Web.Apps.Ecommerce.Entities.Search.SearchLog>
@{
    ViewBag.Title = "Search Logs";
}

<form>
    <fieldset>
        <legend>
            Search Logs
        </legend>

        @using (Html.BeginForm("Index", "SearchLog", FormMethod.Get))
        {
            <div class="input-group">
                <input type="text" class="search-query form-control" placeholder="Search" id="searchParam" name="q" value="@ViewData["query"]" />
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary btn-success" value="Search" />
                </span>
            </div>
        }
        <hr />
        @if (Model.Count == 0)
        {
            @:No search log.
            }
        else
        {
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Text
                            </td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink("Edit", "Edit", "SearchLog", new { id = item.Id }, new { @class = "btn btn-xs btn-default", data_toggle = "fb-modal" })
                                    @Html.ActionLink("Delete", "Delete", "SearchLog", new { id = item.Id }, new { @class = "btn btn-xs btn-danger", data_toggle = "fb-modal" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </fieldset>
</form>

@Html.Pager(Model, "Index", i => new { page = i })