@using MrCMS.Website
@model System.Collections.Generic.List<MrCMS.Web.Apps.Core.Models.Navigation.NavigationRecord>
<ul class="nav navbar-nav navbar-right">
    <li>
        <a class="user" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
        <ul class="dropdown-menu">
            @foreach (var page in Model)
            {
                if (@page.Text.ToString() == "My Account")
                {
                    <li><a href="@page.Url">@page.Text</a></li>
                }
                else
                {
                    <li><a href="@page.Url">@page.Text</a></li>
                }
            }
        </ul>
    </li>
</ul>