@using MrCMS.Web.Apps.Ecommerce.Models
@model MrCMS.Web.Apps.Ecommerce.Models.PaypointPaymentDetailsModel  
@{
    var startMonths = ViewData["start-months"] as IEnumerable<SelectListItem>;
    var startYears = ViewData["start-years"] as IEnumerable<SelectListItem>;
    var expiryMonths = ViewData["expiry-months"] as IEnumerable<SelectListItem>;
    var expiryYears = ViewData["expiry-years"] as IEnumerable<SelectListItem>;
    var cardTypes = ViewData["card-types"] as IEnumerable<SelectListItem>;
    var failureDetails = TempData["error-details"] as FailureDetails;
}
@if (failureDetails != null)
{
    <div class="alert alert-error">
        <ul>
            @if (failureDetails.Details != null)
            {
                foreach (var error in failureDetails.Details)
                {
                <li>
                    @error
                </li>
                }
            }
            else
            {
                <li>
                    @failureDetails.Message
                </li>
            }
        </ul>
    </div>
}
@using (Html.BeginForm("Form", "Paypoint", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div id="select-method">
        <h5>Card Details</h5>
        <div class="control-group">
            <label class="control-label" for="CardType">Card Type <span class="red">*</span> :</label>
            <div class="controls">
                @Html.DropDownListFor(model => model.CardType, cardTypes)
                @Html.ValidationMessageFor(model => model.CardType)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CardNumber">Card Number <span class="red">*</span> :</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.CardNumber)
                @Html.ValidationMessageFor(model => model.CardNumber)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="NameOnCard">Name On Card <span class="red">*</span> :</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.NameOnCard)
                @Html.ValidationMessageFor(model => model.NameOnCard)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="CardVerificationCode">Card Verification <span class="red">*</span> :</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.CardVerificationCode)
                <span><img src="/Apps/Ecommerce/Content/Images/crv.gif" alt="CVC"/></span>
                @Html.ValidationMessageFor(model => model.CardVerificationCode)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">Valid From :</div>
            <div class="controls">
                <div class="pull-left margin-right-5">
                    @Html.DropDownListFor(model => model.StartMonth, startMonths, new { @class="input-small"})
                </div>
                <div class="pull-left">
                    @Html.DropDownListFor(model => model.StartYear, startYears, new { @class="input-small"})
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">Expires On <span class="red">*</span> :</div>
            <div class="controls">
                <div class="pull-left margin-right-5">
                    @Html.DropDownListFor(model => model.EndMonth, expiryMonths, new { @class="input-small"})
                    @Html.ValidationMessageFor(model => model.EndMonth)
                </div>
                <div class="pull-left">
                    @Html.DropDownListFor(model => model.EndYear, expiryYears, new { @class="input-small"})
                    @Html.ValidationMessageFor(model => model.EndYear)
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="NameOnCard">Issue Number :</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.CardIssueNumber)
                <span class="green">(Maestro/Solo only)</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-info" id="continue" name="continue">Confirm Order</button>
            </div>
        </div>
        <div class="alert alert-info">
            <strong>Information:</strong> You may be taken to your card issuer’s website for card validation. You will be returned back to this site once the process is complete.
        </div>
    </div>
}
<style>
    .input-validation-error {
        border: 1px solid red!important;
    }

    .field-validation-error span {
        color: red;
    }
</style>
