@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.RewardPoints.ManualAdjustment

<h4>Create user reward point adjustment</h4>
@using (Html.BeginForm("Add", "UserRewardPoints", new { id = "" }, FormMethod.Post))
{
    @Html.ReturnToThis();
    @Html.HiddenFor(adjustment => adjustment.User.Id)

    <div class="form-group">
        @Html.LabelFor(adjustment => adjustment.Points)
        @Html.TextBoxFor(adjustment => adjustment.Points, new { type = "number", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(adjustment => adjustment.Message)
        @Html.TextAreaFor(adjustment => adjustment.Message, 8, 20, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Add adjustment</button>
}
