@model MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch
@using MrCMS.Helpers

<ul class="breadcrumb">
<li><a href="#">Home</a> <span class="divider">/</span></li>
<li class="active">Products</li>
</ul>
@RenderZone("Before Content")
@Html.HiddenFor(x=>x.Id)
<div class="row-fluid">
    <div class="span3">
        <div class="product-filter-box-title">
            Filter by Category
        </div>
        <div class="row-fluid">
          <ul class="nav nav-tabs nav-stacked return-delivery-box">
                @foreach (var item in (List<MrCMS.Web.Apps.Ecommerce.Pages.Category>)ViewBag.Categories)
                {
                     <li>
                        <a href="/@item.LiveUrlSegment">@item.Name <i class="icon-chevron-right pull-right"></i></a>
                    </li>
                }
          </ul>
        </div>
        <br />
        <div class="product-filter-box-title">
            Filter by Price
        </div>
        <div class="row-fluid">
            @Html.Hidden("product-price-range-min",(Int32)ViewBag.ProductPriceRangeMin)
            @Html.Hidden("product-price-range-max",(Int32)ViewBag.ProductPriceRangeMax)
            Price range from &pound;<span id="product-price-range-min-value">@ViewBag.ProductPriceRangeMin</span> - &pound;<span id="product-price-range-max-value">@ViewBag.ProductPriceRangeMax</span>
          <div id="slider-range" class="product-filter-box-slider"></div>
        </div>
        <br />
        <div class="product-filter-box-title">
            Filter by Options
        </div>
        <div class="row-fluid">
            <ul id="product-filter-box-options" class="nav nav-tabs nav-stacked return-delivery-box">
           @foreach (var option in (List<MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductAttributeOption>)ViewBag.ProductOptions)
           {
               if (option.Values.Select(x => x.Value).Distinct().Count() > 0)
               {
                <li>
                        <a>
                        @option.Name
                        <br/>
                        <select id="@(Html.Encode("product-option-values-"+option.Name))" class="span12">
                         <option value="0">All</option>
                        @foreach (var optionValue in option.Values.Select(x=>x.Value).Distinct())
                        {
                                <option value="@(optionValue)">@optionValue</option>
                        }
                        </select>
                        </a>
                </li>
                } 
           }
           </ul>
           </div>
         <br />
        <div class="product-filter-box-title">
            Filter by Specifications
        </div>
        <div class="row-fluid">
            <ul id="product-filter-box-specifications" class="nav nav-tabs nav-stacked return-delivery-box">
           @foreach (var specification in (List<MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductSpecificationAttribute>)ViewBag.ProductSpecifications)
           {
               if(specification.Values.Select(x=>x.Value).Distinct().Count()>0)
               {
               <li>
                        <a>
                        @specification.Name
                        <br/>
                        <select id="@(Html.Encode("product-specification-values-"+specification.Name))" class="span12">
                         <option value="0">All</option>
                        @foreach (var specificationValue in specification.Values.Select(x=>x.Value).Distinct())
                        {
                                <option value="@(specificationValue)">@specificationValue</option>
                        }
                        </select>
                        </a>
                </li>
              }
           }
           </ul>
           </div>
    </div>
    <div class="span9">
            @{Html.RenderAction("Results", "ProductSearch");}
    </div>
</div>

@{ Html.IncludeScript("~/Themes/Ecommerce/Apps/Ecommerce/Content/Scripts/custom/product-search.js"); }