@model MrCMS.Web.Apps.Ecommerce.Models.ProductPagedList
@using MrCMS.Helpers

<div id="products-wrapper">
@if (Model.Any())
{
    <div id="TotalItemCount" style="display:none">@Model.TotalItemCount</div>
    <div id="PageSize" style="display:none">@Model.Count</div>
    <div id="PageNumber" style="display:none">@Model.PageNumber</div>
    <div class="clearfix"></div>
    <div class="row-fluid">
    <div id="products">
            @foreach (var item in Model)
            {
                <div class="item">
                    <div class="span3 photo">
                    @if(item.Images.Any())
                    {
                            <img src="@(item.Images.First<MrCMS.Entities.Documents.Media.MediaFile>().FileUrl)" class="img-rounded pull-left span12" alt="@item.Name" />
                    }
                    </div>
                    <div class="span6">
                        <h4><a href="/@item.LiveUrlSegment">@item.Name</a></h4>
                        @(item.Abstract.Length>255?item.Abstract.Substring(0,250)+"...":item.Abstract)
                    </div>
                    <div class="span3">
                        <div class="pull-right">
                        Exclusive price
                            <h1 class="product-price">
                                        @if (item.PricePreTax == 0 && item.Variants.Any())
                                        {
                                            @Html.Raw("&pound;"+item.Variants.OrderBy(x=>x.Price).First<MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant>().Price.ToString())
                                        }
                                        else
                                        {
                                            @Html.Raw("&pound;"+item.PricePreTax.ToString("#.##"));
                                        }
                            </h1>
                            shop price <span style="text-decoration:line-through">&pound;@(item.PreviousPrice.HasValue?item.PreviousPrice.Value.ToString("#.##"):String.Empty)</span>
                            <br /><br />
                            <a href="/@item.LiveUrlSegment" class="btn btn-info span12">
                            More info
                            </a>
                            </div>
                        </div>
                    <div class="clearfix"></div>
                </div>
            }
    </div>
    </div>
      <div id="products-paging">
        @Html.Pager(Model, "ProductSearch", i => new { pageNo = i })
    </div>
   
}
</div>
<script>
    $('#TotalItemCount').change();
    $('#PageCount').change();
    $('#PageNumber').change();
</script>
