@model MrCMS.Web.Apps.Ecommerce.Models.ProductPagedList
@using MrCMS.Helpers

<div id="products-wrapper">
@if (Model.Count() > 0)
{
    <div id="products-operations">
    <div id="stats" class="pull-left">Showing 1 - 12 of @(Model.Count())</div>
    <div id="show" class="pull-right">
        <label>Show</label>
            <select class="pull-right" id="options">
                <option value="6">6 products per page</option>
            </select>
    </div>
    <div id="sorting" class="pull-right">
        <label>Sort by</label>
            <select class="pull-right" id="product-sorting-options">
                <option value="1">Most popular</option>
            </select>
    </div>
        </div>
    <div class="clearfix"></div>
    <div id="products row-fluid">
            @foreach (var item in Model)
            {
                <div class="item">
                    <div class="span3" style="height:200px; overflow:hidden;">
                    @if(item.Images.Count()>0)
                    {
                            <img src="@(item.Images.First<MrCMS.Entities.Documents.Media.MediaFile>().FileUrl)" class="img-rounded pull-left span12" />
                    }
                    </div>
                    <div class="span6">
                        <h4><a href="/@item.LiveUrlSegment">@item.Name</a></h4>
                        @(item.Abstract.Length>255?item.Abstract.Substring(0,250)+"...":item.Abstract)
                    </div>
                    <div class="span3">
                        <div class="pull-right">
                        Exclusive price
                            <h1 class="product-price">
                                        @if (item.PricePreTax == 0 && item.Variants.Count>0)
                                        {
                                            @Html.Raw("&pound;"+item.Variants.OrderBy(x=>x.Price).First<MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant>().Price.ToString())
                                        }
                                        else
                                        {
                                            @Html.Raw("&pound;"+item.PricePreTax.ToString());
                                        }
                            </h1>
                            shop price <span style="text-decoration:line-through">&pound;@(item.PreviousPrice.HasValue?item.PreviousPrice.Value.ToString("#.##"):"")</span>
                            <br /><br />
                            <button class="btn btn-info span12" type="button">More info</button>
                            </div>
                        </div>
                    <div class="clearfix"></div>
                </div>
            }
    </div>
    <div id="products-paging">
        @Html.Pager(Model, "ProductSearch", i => new { pageNo = i })
    </div>
}
    </div>