@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Web.Apps.Ecommerce.Entities.Products.Brand
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var product = ViewData["product"] as Product;
}
@using (Html.BeginForm("AddBrand", "Product", new { id = "" }, FormMethod.Post, new { id = "add-brand-inline" }))
{
    <fieldset>
        <legend>
            Add Brand
            <span class="btn-group  display-inline  pull-right">
                <button id="close" class="btn-primary btn">Save Brand</button>
            </span>
        </legend>

        @Html.Hidden("productId", product != null ? product.Id : 0)

        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(webpage => webpage.Logo)<br />
            @Html.TextBoxFor(webpage => webpage.Logo, new { @class = "media-selector" })
        </div>

    </fieldset>
}
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/brands.js"); }