@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Paging.IPagedList<Category>
@{ 
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var product = ViewData["product"] as Product;
}
<div class="modal-header">
    <h3>Add Products to Solution</h3>
</div>
<div class="modal-body">
    <div id="categories">
        <table class="table table-striped table-condensed margin-top-0" style="margin-bottom: 0;">
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.NestedName</td>
                        <td>
                            <div class="pull-right">
                                <button class="btn btn-success add-category" data-category-id="@category.Id" data-product-id="@product.Id" data-page="@(Model.PageCount > 1 ? Model.PageNumber : Model.PageNumber - 1)">Add</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Pager(Model, "AddCategory", i => new { page = i, id = product.Id })
    </div>
</div>
<div class="modal-footer">
    <button id="close" class="btn-primary btn">Close</button>
</div>
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/product-categories.js"); }
