@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Models.ProductPagedList
@{
    ViewBag.Title = "Products";
}

@if (Model != null)
{
    <form>
        <fieldset>
            <legend>
                Products
                <span class="btn-group  display-inline  pull-right">
                    <a href="@Url.Action("Add", "Webpage", new { id = Model.ProductContainerId })" class="btn btn-primary">Add Product</a>
                </span>
            </legend>

            @using (Html.BeginForm("Index", "Product", FormMethod.Get))
            {
                <div class="input-group">
                    @Html.TextBox("q", ViewData["q"], new { @class = "search-query form-control" })
                    <span class="input-group-btn">

                        <input type="submit" value="Search" class="btn btn-default" />
                    </span>
                </div><br />
            }
            @if (Model.Any())
            {
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                # of variants
                            </th>
                            <th>
                                Published
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(product.Name, "Edit", "Webpage", new { id = product.Id }, null)
                                </td>
                                <td>
                                    @product.Variants.Count
                                </td>
                                <td>
                                    @product.Published
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.Pager(Model, "Index", p => new { p, q = ViewData["q"] }, PagedListRenderOptions.PageNumbersOnly)
            }
            else
            {
                <p>No products.</p>
            }
        </fieldset>
    </form>
}
else
{
    <h2>Products</h2>
    <p>Before you can add products, you need to add a Product Search to the navigation tree (Right-click on the Root item)</p>
}