@model MrCMS.Web.Apps.Ecommerce.Models.MakeMultivariantModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("ManageOptions", "Product", FormMethod.Post))
{
    <fieldset>
        <legend>
            Manage Product Attribute Options
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Save & Close" />
            </span>
        </legend>

        @Html.HiddenFor(model => model.ProductId)
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(model => model.Option1)
                @Html.EditorFor(model => model.Option1)
                @Html.HiddenFor(model => model.Option1Id)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(model => model.Option2)
                @Html.EditorFor(model => model.Option2)
                @Html.HiddenFor(model => model.Option2Id)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(model => model.Option3)
                @Html.EditorFor(model => model.Option3)
                @Html.HiddenFor(model => model.Option3Id)
            </div>
        </div>
    </fieldset>
}