@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Pages
@model MrCMS.Web.Apps.Core.Models.RegisterAndLogin.ChangePasswordModel 
@using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post, new{@class="form-horizontal"}))
{
    <div class="row">
        <div class="col-sm-8">
            <div class="margin-bottom-10">
                <label for="Password">Password</label>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="margin-bottom-10">
                <label for="ConfirmPassword">Confirm Password</label>
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            <div class="margin-bottom-10">
                <input type="submit" value="Change Password" class="btn btn-default btn-block" />
            </div>

            @if (!String.IsNullOrEmpty(Model.Message))
            {
                <div class="alert alert-error">
                    @Model.Message
                </div>
            }
        </div>
    </div>
}
