@using MrCMS.Helpers
@model MrCMS.Web.Apps.Core.Models.RegisterAndLogin.UserAccountModel
@using (Html.BeginForm("UserAccountDetails", "UserAccount", null, FormMethod.Post, new { @class = "form-horizontal" }))
{   
    <div class="row">
        <div class="col-sm-12">
            <div class="margin-bottom-10">
                <label for="FirstName">First Name</label>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="margin-bottom-10">
                <label for="LastName">Last Name</label>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="margin-bottom-10">
                <label for="Email">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="margin-bottom-10">
                <input type="submit" value="Save Changes" class="btn btn-default btn-block" />
            </div>
        </div>
    </div>
    
    if (!String.IsNullOrEmpty(ViewBag.Message))
    {
    <div class="alert alert-error">
        @ViewBag.Message
    </div>
    }
}

