@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@using MrCMS.Helpers
@using System.Linq

<ul class="breadcrumb">
<li><a href="/">Home</a> <span class="divider">/</span></li>
<li><a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())">Products</a> <span class="divider">/</span></li>
<li class="active">@Model.Name</li>
</ul>

<div class="row-fluid">
    <div class="span8">
        <div class="row-fluid">
        <div class="span4">
            @if (Model.Images.Any())
            {
                <img src="@(Model.Images.First<MrCMS.Entities.Documents.Media.MediaFile>().FileUrl)" alt="@Model.Name" />
            }
            <br /><br />
            <div class="clearfix"></div>
            <div id="product-image-thumbnails">
            <ul class="thumbnails">
            @foreach (var item in Model.Images)
            {
                <li class="span3">
                <img src="@(item.FileUrl)" alt="@Model.Name" />
                    </li>
            }
           </ul>
                </div>
        </div>
        <div class="span8">
            <h3>@Model.Name</h3>
            @if (Model.PricePreTax > 0 || Model.Price > 0)
            {
                <span>Exclusive price</span>
                <h1 class="product-price">
                    @if (Model.PricePreTax == 0 && Model.Variants.Any())
                    {
                        @Html.Raw("&pound;" + Model.Variants.OrderBy(x => x.Price).First().Price.ToString("#.##"))
                    }
                    else
                    {
                        @Html.Raw("&pound;" + Model.Price.ToString("#.##"))
                    }
                </h1>
                <span>shop price: <span style="text-decoration: line-through">&pound;@(Model.PreviousPrice.HasValue ? Model.PreviousPrice.Value.ToString("#.##") : "")</span></span>
            }
            <br /> <br />
            @(Model.Abstract!=null?(Model.Abstract.Length>255?Model.Abstract.Substring(0,250)+"...":Model.Abstract):String.Empty)
            <br />
            <div id="mail-print-buttons">
            <i class="icon-envelope"></i> <i class="icon-print"></i>
            </div> 
            @*TWITTER*@
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="@this.Request.Url.AbsoluteUri" data-count="none" data-hashtags="products">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
            @*PINTEREST*@
            <a href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
            @*FB*@
            <div class="fb-like" data-href="@this.Request.Url.AbsoluteUri" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
            
            </div>
    </div>
        <hr />
        <h4>Full Description</h4>
        <p>
             @(new HtmlString(Model.BodyContent))
        </p>
        <br />
            <div class="row-fluid">
                <ul class="nav nav-tabs nav-stacked  span6">
                   <li>
                       <a href="#">Delivery Details <i class="icon-chevron-right pull-right"></i></a>
                   </li>
                    <li>
                       <a href="#">Returns Information <i class="icon-chevron-right pull-right"></i></a>
                   </li>
             </ul>
                </div>
        <br />
    </div>
    <div class="span4">
        @if (Model.AttributeOptions.Any())
        {
            foreach (var item in Model.AttributeOptions.OrderBy(x => x.DisplayOrder))
            {
                <pre class="product-variants-filter">
                <label class="pull-left">Select @item.Name&nbsp;</label>
                <select class="pull-right" id='@(Html.Encode("attributeOption" + item.Id))'>
                    @foreach (var optionValue in item.Values)
                    {
                        <option value="@optionValue.ProductVariant.Id">@optionValue.Value</option>
                    }
                </select>
               </pre>
            }
        }
        @if (Model.PriceBreaks.Any())
        {
            <div id="product-pricebreaks">
            <div class="product-pricebreaks-title">
                PRICE BREAKS - The more you buy, the more you save.
            </div>
             <table class="table table-bordered table-condensed">
                 <tr>
                     <th>Quantity</th>
                     <th>Price</th>
                 </tr>
            @foreach (var item in Model.PriceBreaks)
            {
                 <tr>
                     <td>@item.Quantity</td>
                     <td>&pound;@item.Price.ToString("#.##")</td>
                 </tr> 
            }
            </table>
             </div>
        }
        else if (Model.Variants.Any() && !Model.PriceBreaks.Any())
        {
            <div id="product-variants-pricebreaks">
            <div class="product-pricebreaks-title">
                PRICE BREAKS - The more you buy, the more you save.
            </div>
             <table id="product-pricebreaks-table" class="table table-bordered table-condensed">
                 <tr>
                     <th>Quantity</th>
                     <th>Price</th>
                 </tr>
                 @if (Model.Variants.Any() && Model.Variants.First().PriceBreaks.Any())
                 {
                     foreach (var item in Model.Variants.First().PriceBreaks)
                     {
                         <tr>
                             <td>@item.Quantity</td>
                             <td>&pound;@item.Price.ToString("#.##")</td>
                         </tr> 
                     }
                 }
                 else
                 {
                     <tr>
                             <td>1</td>
                             <td>&pound;@(Model.Variants.First().Price.ToString("#.##"))</td>
                    </tr>
                 }
            </table>
             </div>
        }
        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
        {
                if (!Model.Variants.Any())
                {
                    @Html.HiddenFor(x => x.Id)
                        }
                   @Html.Hidden("IdVariant", 0)
                    <pre id="product-addtobasket">
                            <label class="pull-left">Quantity&nbsp;</label>
                            <input type="text" class="input-mini pull-left" value="1" id="quantity" name="quantity" />
                            <button class="btn btn-info btn-addtobasket pull-right span7" type="submit">Add to basket</button>
                         </pre>
         }
            <hr />
            @if (Model.SpecificationValues.Any())
            {
                <div id="product-specifications">
                <h4>Specifications</h4>
                <table class="table table-bordered table-striped table-condensed">
                @foreach (var item in Model.SpecificationValues.OrderBy(x=>x.DisplayOrder))
                {
                     <tr>
                         <td><strong>@item.ProductSpecificationAttribute.Name</strong></td>
                         <td>@item.Value</td>
                     </tr>
                }
                 </table>
                </div>
            }
    </div>
</div>

@{ Html.IncludeScript("~/Themes/Ecommerce/Apps/Ecommerce/Content/Scripts/custom/product.js"); }