@using System.Drawing
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant 
@if (Model != null)
{
    <div class="span6">
        <div class="row-fluid">
            <div class="span2">
                <a href="/@Model.Product.UrlSegment" title="@Model.DisplayName">
                    @RenderImage(Model.Product.DisplayImageUrl, new Size { Height = 150, Width = 150 })
                </a>
            </div>
            <div class="span10">
                <h4><a href="/@Model.Product.UrlSegment">@Model.DisplayName</a></h4>
                <div class="product-price">@Model.Price.ToCurrencyFormat()</div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="alert alert-info">
            <div class="row-fluid">
                <div class="span4">
                    @{ Html.RenderAction("CartDetails", "ProductAddedToCart");}
                </div>
                <div class="span8">
                    <div class="row-fluid">
                        <div class="span6">
                            <a href="@(UniquePageHelper.GetUrl<Cart>())" class="btn span12">Edit Basket</a>
                        </div>
                        <div class="span6">
                            <a href="@(UniquePageHelper.GetUrl<EnterOrderEmail>())" class="btn btn-info span12">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
