@using System.Drawing
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant 
@if (Model != null)
{
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-2">
                <a href="/@Model.Product.UrlSegment" title="@Model.DisplayName">
                    @RenderImage(Model.Product.DisplayImageUrl, null, null, new { @class = "img-responsive" })
                </a>
            </div>
            <div class="col-sm-10">
                <h4><a href="/@Model.Product.UrlSegment">@Model.DisplayName</a></h4>
                <div class="product-price">@Model.Price.ToCurrencyFormat()</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="alert alert-info">
            <div class="row">
                <div class="col-sm-12">
                    @{ Html.RenderAction("CartDetails", "ProductAddedToCart");}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="@(UniquePageHelper.GetUrl<Cart>())" class="btn btn-white btn-block">Edit Basket</a>
                        </div>
                        <div class="col-sm-6">
                            <a href="@(UniquePageHelper.GetUrl<EnterOrderEmail>())" class="btn btn-normalgreen btn-block">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
