@model MrCMS.Web.Apps.Ecommerce.Entities.Users.Address

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Edit", "Address", FormMethod.Post))
{
    <fieldset>
          <legend>Edit Address
               <span class="btn-group  display-inline  pull-right">
                  <input type="submit" class="btn-primary btn" value="Save" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        @Html.Hidden("orderID",ViewData["orderID"])
        @Html.Hidden("addressType",ViewData["addressType"])

               <div class="row-fluid">
         <div class="span6">
             @Html.LabelFor(x => x.FirstName) 
        @Html.TextBoxFor(x => x.FirstName)
        
         @Html.LabelFor(x => x.LastName) 
        @Html.TextBoxFor(x => x.LastName)
        
            @Html.LabelFor(x => x.Title) 
        @Html.TextBoxFor(x => x.Title)
        
          @Html.LabelFor(x => x.Company) 
        @Html.TextBoxFor(x => x.Company)
        
           @Html.LabelFor(x => x.PhoneNumber) 
        @Html.TextBoxFor(x => x.PhoneNumber)
        

             </div>
                   <div class="span6">
                                @Html.LabelFor(x => x.Address1) 
        @Html.TextBoxFor(x => x.Address1)

                         @Html.LabelFor(x => x.Address2) 
        @Html.TextBoxFor(x => x.Address2)
        
           @Html.LabelFor(x => x.PostalCode) 
        @Html.TextBoxFor(x => x.PostalCode)
        
                @Html.LabelFor(x => x.City) 
        @Html.TextBoxFor(x => x.City)
        
         @Html.LabelFor(x => x.StateProvince) 
        @Html.TextBoxFor(x => x.StateProvince)
        
         @Html.LabelFor(x => x.Country) 
        @Html.DropDownList("CountryID",ViewData["Countries"] as IEnumerable<SelectListItem>)
        
             </div>
                   </div>
         </fieldset>
}