@using MrCMS.Web.Apps.Ecommerce.Payment.Stripe
@model MrCMS.Web.Apps.Ecommerce.Payment.Stripe.Models.StripePaymentDetailsModel

<!-- The stripe script must always load directly from js.stripe.com to remain PCI compliant.
     Thought can not include the script in a bundle or host a copy of it internally. -->
<!-- <script src="https://js.stripe.com/v3/"></script> -->

@{
    var token = ViewData["token"] as string;
}
<hr />
<div class="alert alert-danger" role="alert" data-stripe-errors="true" style="display: none;"></div>

<div class="row">
    <div class="col-sm-8">
        <div data-card="true">

            @using (Html.BeginForm("ConfirmPaymentStatus", "Stripe", FormMethod.Post, new { id = "payment-form" }))
            {
                @Html.HiddenFor(x => x.TotalAmount)
                @Html.HiddenFor(model => model.PublicKey, new { id = "PublicKey", name = "PublicKey", value = @Model.PublicKey })

                <div class="form-row">
                    <div>&nbsp;</div>
                    @Html.HiddenFor(x => x.CustomerName, new { name = "CustomerName", id = "CustomerName", value = @Model.CustomerName })
                    <div>&nbsp;</div>

                    <label for="card-element"> Credit or debit card </label>
                    <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display Element errors. -->
                    <div>&nbsp;</div>
                    <div id="card-errors" role="alert"></div>
                </div>

                @Html.HiddenFor(x => x.HandleCardPaymentStatus, new { id = "HandleCardPaymentStatus", name = "HandleCardPaymentStatus" })

                <!-- User address details -->
                @Html.HiddenFor(x => x.PostalCode, new { id = "PostalCode", name = "PostalCode", value = @Model.PostalCode })
                @Html.HiddenFor(x => x.LineOne, new { id = "LineOne", name = "LineOne", value = @Model.LineOne })
                @Html.HiddenFor(x => x.LineTwo, new { id = "LineTwo", name = "LineTwo", value = @Model.LineTwo })
                @Html.HiddenFor(x => x.City, new { id = "City", name = "City", value = @Model.City })
                @Html.HiddenFor(x => x.Country, new { id = "Country", name = "Country", value = @Model.Country })
                @Html.HiddenFor(x => x.State, new { id = "State", name = "State", value = @Model.State })

                <div> &nbsp;</div>
                    <input type="hidden" id="PaymentIntentId" , name="PaymentIntentId" value="@ViewData["PaymentIntentId"]" />
                <div>&nbsp;</div>

                <input type="submit" value="@Resource("Confirm Order")" class="btn btn-primary btn-lg"
                       data-submit-button="true" id="card-button" data-secret="@ViewData["ClientSecret"]" />
            }

        </div>
    </div>
</div>

<script src="~/Apps/Ecommerce/Content/Scripts/custom/stripe-payment.js" type="text/javascript"></script>

   
