@model MrCMS.Web.Apps.Ecommerce.Payment.Stripe.Models.StripePaymentDetailsModel

<hr />
<div class="alert alert-danger" role="alert" data-stripe-errors="true" style="display: none;"></div>

<div class="row">
    <div class="col-sm-8">
        <div data-card="true">

            @using (Html.BeginForm("ConfirmPaymentStatus", "Stripe", FormMethod.Post, new { id = "payment-form" }))
            {
                @Html.HiddenFor(x => x.TotalAmount)
                @Html.HiddenFor(model => model.PublicKey)

                <div class="">
                    @Html.HiddenFor(x => x.CustomerName)
                    <label for="card-element">Credit or debit card</label>
                    <div id="card-element" class="margin-bottom-10 margin-top-10">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>
                    <!-- Used to display Element errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>

                @Html.HiddenFor(x => x.HandleCardPaymentStatus)

                <!-- User address details -->
                @Html.HiddenFor(x => x.PostalCode)
                @Html.HiddenFor(x => x.LineOne)
                @Html.HiddenFor(x => x.LineTwo)
                @Html.HiddenFor(x => x.City)
                @Html.HiddenFor(x => x.Country)
                @Html.HiddenFor(x => x.State)

                <input type="hidden" id="PaymentIntentId" name="PaymentIntentId" value="@Model.PaymentIntentId" />
                <input type="submit" value="@Resource("Confirm Order")" class="btn btn-primary btn-lg" data-submit-button="true" id="card-button" data-secret="@Model.ClientSecret" />
            }
        </div>
    </div>
</div>

<script src="~/Apps/Ecommerce/Content/Scripts/custom/stripe-payment.js"></script>