@model MrCMS.Web.Apps.Ecommerce.Pages.Category
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@using MrCMS.Web.Apps.Ecommerce.Services.Products
@{
    var query = ViewData["query"] as ProductSearchQuery;
    var parentCategories = Model.ActivePages.Skip(1).Where(webpage => webpage is Category).ToList();
    parentCategories.Reverse();
}

<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())">Products</a> <span class="divider">/</span></li>
    @foreach (var category in parentCategories)
    {
        <li><a href="/@category.LiveUrlSegment">@category.Name</a> <span class="divider">/</span></li>
    }
    <li class="active">@Model.Name</li>
</ul>
@RenderZone("Before Content")
@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.LiveUrlSegment)

<div class="row-fluid" id="product-search-container">
    @{ Html.RenderAction("Query", "ProductSearch", new { query });}
    @{ Html.RenderAction("Results", "ProductSearch", new { query });}
</div>
@{
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.history.js");
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/product-search.js");
}