@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.OrderNote

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Add", "OrderNote", FormMethod.Post))
{
    <fieldset>
        <legend>Add Order Note
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Add Order Note" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Order.Id)
        @Html.HiddenFor(x => x.User.Id)
        @Html.LabelFor(x => x.ShowToClient)
        @Html.CheckBoxFor(x => x.ShowToClient)
        <br />
        <br />
        @Html.LabelFor(x => x.Note)
        @Html.TextAreaFor(x => x.Note, new {@class = "span12", style="height:250px"})

    </fieldset>
}