@model MrCMS.Web.Apps.Ecommerce.Entities.NotificationTemplateSettings

@{
    ViewBag.Title = "Edit Notification Template Settings";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "NotificationTemplateSettings", FormMethod.Post))
{
@Html.HiddenFor(x => x.Id)
<div class="row-fluid">
    <div class="span8">
        <h2>Customer Notification Templates</h2>
    </div>
    <div class="span4">
        <div class="btn-group  display-inline  pull-right">
           <input type="submit" class="btn-primary btn" value="Save" />
        </div>
    </div>
</div>
    
@Html.LabelFor(x => x.Name)
@Html.TextBoxFor(x => x.Name, new { @class = "input-xxlarge" })
    

<div class="accordion" id="notificationAccordion">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#notificationAccordion" href="#c1">
Order Confirmation
</a>
</div>
<div id="c1" class="accordion-body collapse in">
<div class="accordion-inner">
@Html.TextAreaFor(x => x.OrderConfirmationTemplate, new { @class = "ckedit-enabled" })
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#notificationAccordion" href="#c2">
Shipping Notification
</a>
</div>
<div id="c2" class="accordion-body collapse">
<div class="accordion-inner">
@Html.TextAreaFor(x => x.ShippingNotificationTemplate, new { @class = "ckedit-enabled" })
</div>
</div>
</div>
    <div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#notificationAccordion" href="#c3">
Cancelled Notification
</a>
</div>
<div id="c3" class="accordion-body collapse">
<div class="accordion-inner">
@Html.TextAreaFor(x => x.CancelledNotificationTemplate, new { @class = "ckedit-enabled" })
</div>
</div>
</div>
</div>

<h2>Store Owner Notifications</h2>

@Html.LabelFor(x => x.Emails)
@Html.TextBoxFor(x => x.Emails, new { @class = "input-xxlarge" })

@Html.LabelFor(x => x.OwnerTemplate)
@Html.TextAreaFor(x => x.OwnerTemplate, new { @class = "ckedit-enabled" })

}