@model MrCMS.Web.Apps.Ecommerce.Entities.Templating.NotificationTemplateSettings
@{
    ViewBag.Title = "Edit Notification Template Settings";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "NotificationTemplateSettings", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <fieldset>
        <legend>Customer Notification Templates
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Save" />
            </span>
        </legend>
    </fieldset>
    <div class="accordion" id="notificationAccordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#notificationAccordion" href="#c1">Order Confirmation
                </a>
            </div>
            <div id="c1" class="accordion-body collapse in">
                <div class="accordion-inner">
                    @Html.TextAreaFor(x => x.OrderConfirmationTemplate, new { @class = "ckedit-enabled" })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#notificationAccordion" href="#c2">Shipping Notification
                </a>
            </div>
            <div id="c2" class="accordion-body collapse">
                <div class="accordion-inner">
                    @Html.TextAreaFor(x => x.ShippingNotificationTemplate, new { @class = "ckedit-enabled" })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#notificationAccordion" href="#c3">Cancelled Notification
                </a>
            </div>
            <div id="c3" class="accordion-body collapse">
                <div class="accordion-inner">
                    @Html.TextAreaFor(x => x.CancelledNotificationTemplate, new { @class = "ckedit-enabled" })
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#notificationAccordion" href="#c4">Out of Stock Notification
                </a>
            </div>
            <div id="c4" class="accordion-body collapse">
                <div class="accordion-inner">
                    @Html.TextAreaFor(x => x.OutOfStockNotificationTemplate, new { @class = "ckedit-enabled" })
                </div>
            </div>
        </div>
    </div>

    <fieldset>
        <legend>Store Owner Notifications
            <span class="btn-group  display-inline  pull-right">
            </span>
        </legend>
    </fieldset>
    @Html.LabelFor(x => x.Emails)
    @Html.TextBoxFor(x => x.Emails, new { @class = "input-xxlarge" })

    @Html.LabelFor(x => x.OwnerTemplate)
    @Html.TextAreaFor(x => x.OwnerTemplate, new { @class = "ckedit-enabled" })

}