@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.OrderLine

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Edit", "OrderLine", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Edit Order Line</h3>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Order.Id)

        @Html.LabelFor(x => x.ProductVariant)
        @Html.DropDownList("ProductID",ViewData["products"] as IEnumerable<SelectListItem>)
        @Html.LabelFor(x => x.Quantity)
        @Html.TextBoxFor(x => x.Quantity)
        @Html.LabelFor(x => x.Discount)
        @Html.TextBoxFor(x => x.Discount)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Save Changes" />
    </div>
}