@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.OrderLine

@{
    ViewBag.Title = "Edit Order Line";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}    
@using (Html.BeginForm("Edit", "OrderLine", FormMethod.Post))
{
        <fieldset>
        <legend>Edit Order Line
                <span class="btn-group  display-inline  pull-right">
                     <input type="submit" class="btn-primary btn" value="Update Order Line" />
                </span>
        </legend>
    </fieldset>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Order.Id)

        @Html.LabelFor(x => x.ProductVariant)
        @Html.DropDownList("ProductID",ViewData["products"] as IEnumerable<SelectListItem>)
        @Html.LabelFor(x => x.Quantity)
        @Html.TextBoxFor(x => x.Quantity)
        <span class="text-error">
        @Html.ValidationMessageFor(x => x.Quantity)</span>
        @Html.LabelFor(x => x.Discount)
        @Html.TextBoxFor(x => x.Discount)
        <span class="text-error">
        @Html.ValidationMessageFor(x => x.Discount)</span>
}