@using System.Drawing
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.Cart.CartItem
<div class="row-fluid cart-item">
    <div class="span8">
        <div class="span2 photo padding-top-bottom-10">
            @if (Model.Item.Product.Images.Any())
            {
                <a href="/@Model.Item.Product.LiveUrlSegment" title="@Model.Item.DisplayName">
                    @RenderImage(Model.Item.Product.Images.First().FileUrl, new Size{Width = 50, Height = 50},null, null, new{@class="img-rounded span12"})
                </a>
            }
        </div>
        <div class="span10 cart-item-info padding-top-bottom-10">
            <div class="cart-item-name">
                <a href="/@Model.Item.Product.LiveUrlSegment">@Model.Item.DisplayName</a>
            </div>
            <a data-id="@Model.Id" data-action="delete-cart-item" href="#" class="bold-font">Remove</a>
        </div>
    </div>

    <div class="span2 padding-top-bottom-10">
        <input type="text" class="input-mini" name="@Html.Raw("quantity-" + Model.Id)" value="@Model.Quantity" data-cart-id="@Model.Id"/>
        @foreach (var option in Model.Item.OptionValues)
        {
            <p>
                <strong>
                    @option.ProductOption.Name
                </strong>
                <span>:</span>
                @option.Value
            </p>
        }
    </div>

    <div class="span2 padding-top-bottom-10">
        <div class="price">
            Price : @Model.UnitPrice.ToCurrencyFormat()<br/>
            <strong>Total : @Model.Price.ToCurrencyFormat()</strong>
        </div>
    </div>
</div>
