@model MrCMS.Web.Apps.Ecommerce.Models.PaymentDetailsModel
@using MrCMS.Helpers

<div class="row-fluid margin-bottom-20">
    <div class="span8">
        @using (Html.BeginForm("PaymentDetails", "Cart", FormMethod.Post))
        {
            <div class="border-grey margin-bottom-20">
                <div class="sub-header grey-background">
                    Payment details
                </div>

                <div class="padding-20 payment">
                    <div class="row-fluid">
                        <div class="span5 align-right line-height-30">
                            Card Type<span class="red">*</span> :
                        </div>
                        <div class="span5">
                            <div class="row-fluid">
                                <select id="CartType" name="CartType" class="span12">
                                    <option value="visa">Visa</option>
                                    <option value="visaelectron">Visa Electron</option>
                                    <option value="maestro">Maestro</option>
                                    <option value="amex">American Express</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- end card type -->
                    <div class="row-fluid">
                        <div class="span5 align-right line-height-30">
                            Card Number <span class="red">*</span> :
                        </div>
                        <div class="span5">
                            <div class="row-fluid">
                                <input type="text" name="CardNumber" class="span12" />
                            </div>
                        </div>
                    </div>
                    <!-- end card no -->
                    <div class="row-fluid">
                        <div class="span5 align-right line-height-30">
                            Card Verification Code <span class="red">*</span> :
                        </div>
                        <div class="span5">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="row-fluid">
                                        <input type="text" class="span12" name="CardVerificationCode" />
                                    </div>
                                </div>
                                <div class="line-height-30 span6">
                                    <img src="/Themes/Ryness/Content/Images/checkout/crv.gif" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end verifcation code -->
                    <div class="row-fluid">
                        <div class="span5 align-right line-height-30">
                            Start Date <span class="red">*</span> :
                        </div>
                        <div class="span5">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="row-fluid">
                                        <select class="span12" id="startmonth" name="StartMonth">
                                            <option value="0">MM</option>
                                            @for (int i = 1; i < 13; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="row-fluid">
                                        <select class="span12" id="startyear" name="StartYear">
                                            <option value="0">YYYY</option>
                                            @for (int i = DateTime.Now.Year - 10; i < DateTime.Now.Year + 1; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span2 line-height-30 green">
                            Maestro/Solo only
                        </div>
                    </div>
                    <!-- end start date -->
                    <div class="row-fluid">
                        <div class="span5 align-right line-height-30">
                            End Date <span class="red">*</span> :
                        </div>
                        <div class="span5">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="row-fluid">
                                        <select class="span12" id="endmonth" name="EndMonth">
                                            <option value="0">MM</option>
                                            @for (int i = 1; i < 13; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="row-fluid">
                                        <select class="span12" id="endyear" name="EndYear">
                                            <option value="0">YYYY</option>
                                            @for (int i = DateTime.Now.Year; i < DateTime.Now.Year + 16; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end end date -->
                    <div class="row-fluid">
                        <div class="span5 align-right line-height-30">
                            Name On Card <span class="red">*</span> :
                        </div>
                        <div class="span5">
                            <div class="row-fluid">
                                <input type="text" class="span12" name="NameOnCard" />
                            </div>
                        </div>
                    </div>
                    <!-- end name on card -->
                    <div class="row-fluid">
                        <div class="span5 align-right line-height-30">
                            Card Issue Number <span class="red">*</span> :
                        </div>
                        <div class="span5">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="row-fluid">
                                        <input type="text" class="span12" name="CardIssueNumber" />
                                    </div>
                                </div>
                                <div class="span6 line-height-30 green">
                                    Maestro/Solo only
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Card Issue -->
                </div>
            </div><!-- end form section-->
            
            <div class="border-grey margin-bottom-20">
                <div class="sub-header grey-background">
                    Billing address
                </div>
                <div class="padding-20">
                    <div class="row-fluid">
                        <div class="span3">
                            <label class="checkbox">
                                <input type="checkbox" id="useDeliveryAddress" name="UseDeliveryAddress" checked>
                                Use delivery address : 
                            </label>
                        </div>
                        <div class="span9">
                            (@(Model.CartModel.ShippingAddress.Name ?? String.Empty)
                            @(Model.CartModel.ShippingAddress.PhoneNumber ?? String.Empty)
                            @(Model.CartModel.ShippingAddress.Company ?? String.Empty)
                            @(Model.CartModel.ShippingAddress.Address1 ?? String.Empty),
                            @(Model.CartModel.ShippingAddress.Address2 ?? String.Empty)
                            @(Model.CartModel.ShippingAddress.City ?? String.Empty)
                            @(Model.CartModel.ShippingAddress.PostalCode ?? String.Empty)
                            @(Model.CartModel.ShippingAddress.Country != null ? Model.CartModel.ShippingAddress.Country.Name : String.Empty)
                        </div>
                    </div>
                </div>
            </div>
          
            
            /* @TODO: No styling for billing address */
            <div id="billingAddress" style="display: none">
                <div>
                    <div class="span4">First Name*:</div>
                    <div>
                        <input type="text" name="FirstName" class="input-xlarge" value="@(Model.CartModel.BillingAddress != null ? Model.CartModel.BillingAddress.FirstName : String.Empty)" data-val="true" required/>
                    </div>
                </div>
                <div>
                    <div class="span4">Last Name*:</div>
                    <div>
                        <input type="text" name="LastName" class="input-xlarge" value="@(Model.CartModel.BillingAddress != null ? Model.CartModel.BillingAddress.LastName : String.Empty)" data-val="true" required/></div>
                </div>
                <div>
                    <div class="span4">Phone Number*:</div>
                    <div>
                        <input type="text" name="PhoneNumber" class="input-xlarge" value="@(Model.CartModel.BillingAddress != null ? Model.CartModel.BillingAddress.PhoneNumber : String.Empty)" data-val="true" required/></div>
                </div>
                <div>
                    <div class="span4">Address 1*:</div>
                    <div>
                        <input type="text" name="Address1" class="input-xlarge" value="@(Model.CartModel.BillingAddress != null ? Model.CartModel.BillingAddress.Address1 : String.Empty)" data-val="true" required/></div>
                </div>
                <div>
                    <div class="span4">Address 2:</div>
                    <div>
                        <input type="text" name="Address2" class="input-xlarge" value="@(Model.CartModel.BillingAddress != null ? Model.CartModel.BillingAddress.Address2 : String.Empty)"/></div>
                </div>
                <div>
                    <div class="span4">Town or City*:</div>
                    <div>
                        <input type="text" name="City" class="input-xlarge" value="@(Model.CartModel.BillingAddress != null ? Model.CartModel.BillingAddress.City : String.Empty)" data-val="true" required/></div>
                </div>
                <div>
                    <div class="span4">County:</div>
                    <div>
                        <input type="text" name="StateProvince" class="input-xlarge" value="@(Model.CartModel.BillingAddress != null ? Model.CartModel.BillingAddress.StateProvince : String.Empty)"/></div>
                </div>
                <div>
                    <div class="span4">Country*:</div>
                    <div>
                        @Html.DropDownList("Country.Id", ViewData["countries"] as IEnumerable<SelectListItem>, new { @class = "input-xlarge" })
                    </div>
                </div>
                <div>
                    <div class="span4">Postcode (zip)*:</div>
                    <div>
                        <input type="text" name="PostalCode" class="input-medium" value="@(Model.CartModel.BillingAddress != null ? Model.CartModel.BillingAddress.PostalCode : String.Empty)" data-val="true" required/></div>
                </div>
            </div><!-- end billing-->
            
            <div class="border-grey margin-bottom-20">
                <div class="sub-header grey-background">
                    Newsletter
                </div>
                <div class="padding-20">
                    <div class="row-fluid">
                        <div class="span12">
                            <label class="checkbox">
                                <input type="checkbox" name="SignUpForNewsletter" checked>
                                Sign up to Ryness Newsletter for the latest deals and news direct to your inbox
                            </label>
                        </div>
                    </div>
                </div>
            </div>
 
            <div class="border-grey margin-bottom-20">
                <div class="padding-20 grey-background">
                    <div class="row-fluid">
                        <div class="span12 align-center">
                            <p>
                                Click “Place order” button to complete your order
                            </p>
                            <div class="row-fluid">
                                <div class="span3">
                                </div>
                                <div class="span6">
                                    <div class="row-fluid">
                                        <button class="btn red-gradient span12" type="submit" id="continue" name="continue">Place order</button>
                                    </div>
                                </div>
                                <div class="span3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p class="cardtext">
                You may be taken to your card issuer’s website for card validation. You will be returned to Ryness once the process is complete.
            </p>
        }
    </div>
    <div class="span4 border-top-grey">
        @{Html.RenderAction("BasicDetails", "Cart");}
        <hr />
        @{Html.RenderAction("OrderEmail", "Cart");}
        <hr />
        @{Html.RenderAction("DeliveryDetails", "Cart");}
    </div>
</div>

@{ Html.IncludeScript("~/Themes/Ecommerce/Apps/Ecommerce/Content/Scripts/custom/payment-details.js"); }
