@model dynamic
@{
    ViewBag.Title = "Bulk Stock Update";
}

<fieldset>
    <legend>Bulk Stock Update
         <span class="btn-group  display-inline  pull-right">
            @Html.ActionLink("Stock Report (CSV)","ExportStockReport", "Stock", new { @class="btn btn-primary"}))
        </span>
    </legend>
    @if(!String.IsNullOrWhiteSpace(ViewBag.Status))
    {
        <br />
        <span class="alert alert-info">@ViewBag.Status</span>
        <div class="clearfix"></div>
        <hr/>
    }
        <div class="row-fluid">
                 @using (Html.BeginForm("BulkStockUpdate", "Stock", FormMethod.Post, new { enctype = "multipart/form-data" }))
                 {
                     <label>Choose Import File</label>
                         <input type="file" name="document" id="document" />
                     <div class="clearfix"></div>
                     <br />
                     if (ViewBag.Messages != null)
                     {
                         foreach (var item in (Dictionary<string, List<string>>) ViewBag.Messages)
                         {
                             if (item.Key != "success")
                             {
                                 <span>
                                     <strong>@item.Key</strong> has the following errors:
                                 </span>
                                 <ul>
                                     @foreach (var error in (List<string>) item.Value)
                                     {
                                         <li>
                                             @error
                                         </li>
                                     }
                                 </ul>
                             }
                             else
                             {
                                 <div class="alert alert-success">
                                @item.Value.First()
                                </div>
                             }
                         }
                     }
                     if(ViewBag.ImportStatus!=null)
                     {
                             <div class="alert alert-error">@ViewBag.ImportStatus</div>
                            <div class="clearfix"></div>
                     }
                  
                  <input type="submit" class="btn btn-primary" value="Start Bulk Stock Update"/>
                 }
        </div>
</fieldset>