@using MrCMS.Web.Apps.Ecommerce.Settings
@model MrCMS.Web.Apps.Ecommerce.Entities.Shipping.ShippingMethod
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Edit", "ShippingMethod", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Edit Shipping Method</h3>
    </div>
    <div class="modal-body">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.LabelFor(x => x.Description)
        @Html.TextAreaFor(x => x.Description)
        @if (MrCMS.Website.MrCMSApplication.Get<TaxSettings>().ShippingRateTaxesEnabled)
        {
            @Html.LabelFor(x => x.TaxRate.Id, "Tax Rate")
            @Html.DropDownListFor(x => x.TaxRate.Id, ViewData["tax-rates"] as IEnumerable<SelectListItem>)
        }
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Update Shipping Method" />
    </div>
}