@model List<MrCMS.Web.Apps.Ecommerce.Entities.Shipping.ShippingMethod>
@{
    ViewBag.Title = "Shipping Methods";
}

<div class="row-fluid">
    <div class="span4">
        <h2>Shipping Methods</h2>
    </div>
    <div class="span8">
        <div class="btn-group  display-inline  pull-right">
            <a href="@Url.Action("Add", "ShippingMethod")" class="btn btn-primary"  data-toggle="fb-modal">Add Shipping Method</a>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div id="product-list">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name
                    </th>
                    <th>Description
                    </th>
                    <th>Tax Rate
                    </th>
                    <th>Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.TaxRateName
                        </td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", "ShippingMethod", new { id = item.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                                @Html.ActionLink("Delete", "Delete", "ShippingMethod", new { id = item.Id }, new { @class = "btn btn-mini btn-danger", data_toggle = "fb-modal" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
