@using MrCMS.Web.Apps.Ecommerce.Settings
@model List<MrCMS.Web.Apps.Ecommerce.Entities.Shipping.ShippingMethod>
@{
    ViewBag.Title = "Shipping Methods";
}
<form>
    <fieldset>
        <legend>Shipping Methods
            <span class="btn-group  display-inline  pull-right">
                <a href="@Url.Action("Sort", "ShippingMethod")" class="btn btn-default"  data-toggle="fb-modal">Sort</a>
                <a href="@Url.Action("Add", "ShippingMethod")" class="btn btn-primary"  data-toggle="fb-modal">Add Shipping Method</a>
            </span>
        </legend>
        @if (Model.Any())
        {
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Name
                        </th>
                        <th>Description
                        </th>
                        @if (MrCMS.Website.MrCMSApplication.Get<TaxSettings>().ShippingRateTaxesEnabled)
                        {
                            <th>Tax Rate </th>
                        }
                        <th>Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Description
                            </td>
                            @if (MrCMS.Website.MrCMSApplication.Get<TaxSettings>().ShippingRateTaxesEnabled)
                            {
                                <td>
                                    @item.TaxRateName
                                </td>
                            }
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink("Edit", "Edit", "ShippingMethod", new { id = item.Id }, new { @class = "btn btn-xs btn-default", data_toggle = "fb-modal" })
                                    @Html.ActionLink("Delete", "Delete", "ShippingMethod", new { id = item.Id }, new { @class = "btn btn-xs btn-default btn-danger", data_toggle = "fb-modal" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>
                No shipping methods.
            </p>
        }
    </fieldset>
</form>
