@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Settings.EcommerceSettings
@{
    ViewBag.Title = "Edit Ecommerce Settings";
}
@using (Html.BeginForm("Edit", "EcommerceSettings", FormMethod.Post))
{
    <fieldset>
        <legend>Ecommerce Settings
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Save Settings" />
            </span>
        </legend>
        
        <div class="row">
            <div class="col-lg-6">
                @Html.LabelFor(x => x.CurrencyId)
                @Html.DropDownListFor(x => x.CurrencyId, ViewData["currency-options"] as IEnumerable<SelectListItem>, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.CurrencyId)

                @Html.HiddenFor(settings => settings.SiteId)

                @Html.LabelFor(x => x.SearchProductsPerPage)
                @Html.TextBoxFor(x => x.SearchProductsPerPage, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.SearchProductsPerPage)
        
                @Html.LabelFor(x => x.PreviousPriceText)
                @Html.TextBoxFor(x => x.PreviousPriceText, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.PreviousPriceText)
                
                @Html.InlineCheckboxFor(x=>x.EnableWishlists, null, null,  "Enable wishlists")
                
                @Html.InfoBlock("Heads up!", " You will also need to add the 'Show wishlist' page in order to fully enable wishlists.")
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(x => x.DefaultNoProductImage)
                @Html.TextBoxFor(x => x.DefaultNoProductImage, new {@class = "media-selector"})
                @Html.ValidationMessageFor(x => x.DefaultNoProductImage)
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                @Html.LabelFor(x => x.ReportLogoImage)
                @Html.TextBoxFor(x => x.ReportLogoImage, new {@class = "media-selector"})
                @Html.ValidationMessageFor(x => x.ReportLogoImage)
                
                @Html.LabelFor(x => x.ReportFooterText)
                @Html.TextAreaFor(x => x.ReportFooterText, new {@class = "form-control",style="height:90px"})
                @Html.ValidationMessageFor(x => x.ReportFooterText)  
            </div>
        </div>
    </fieldset>
}