@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Settings.EcommerceSettings
@{
    ViewBag.Title = "Edit Ecommerce Settings";
}


@using (Html.BeginForm("Edit", "EcommerceSettings", FormMethod.Post))
{
    <fieldset>
        <legend>Ecommerce Settings
            
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Save Settings" />
            </span>
        </legend>
        @Html.HiddenFor(settings => settings.Site.Id)
        @Html.LabelFor(x => x.PageSizeAdmin)
        @Html.TextBoxFor(x => x.PageSizeAdmin)
        @Html.ValidationMessageFor(x => x.PageSizeAdmin)

        @Html.LabelFor(x => x.SearchProductsPerPage)
        @Html.TextBoxFor(x => x.SearchProductsPerPage)
        @Html.ValidationMessageFor(x => x.SearchProductsPerPage)

        @Html.LabelFor(x => x.CurrencyId)
        @Html.DropDownListFor(x => x.CurrencyId, ViewData["currency-options"] as IEnumerable<SelectListItem>)
        @Html.ValidationMessageFor(x => x.CurrencyId)
    </fieldset>
}