@model MrCMS.Web.Apps.Ecommerce.Models.UserAccount.UpdatePasswordModel

@using (Html.BeginForm("UpdatePassword", "UserAccountChangePassword", FormMethod.Post))
{
    <div class="form-group">
    @Html.LabelFor(x => x.CurrentPassword)
    @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CurrentPassword)
</div>

<div class="form-group">
    @Html.LabelFor(x => x.NewPassword)
    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.NewPassword)
</div>

    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmNewPassword)
        @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
    </div>
    
    <button type="submit" class="btn btn-primary">
        Change Password
    </button>
}

