@model List<MrCMS.Web.Apps.Ecommerce.Entities.Discounts.Discount>
@{
    ViewBag.Title = "Discounts";
}

<form>
    <fieldset>
        <legend>Discounts
            <span class="btn-group  display-inline  pull-right">
                <a href="@Url.Action("Add", "Discount")" class="btn btn-success"  data-toggle="fb-modal">Add Discount</a>
            </span>
        </legend>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Name
                    </th>
                    <th>Code
                    </th>
                    <th>Time period
                    </th>
                    <th>Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Code
                        </td>
                        <td>
                            @item.ValidTimePeriod
                        </td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", "Discount", new { id = item.Id }, new { @class = "btn btn-mini" })
                                @Html.ActionLink("Delete", "Delete", "Discount", new { id = item.Id }, new { @class = "btn btn-mini btn-danger", data_toggle = "fb-modal" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
</form>
