@model List<MrCMS.Web.Apps.Ecommerce.Entities.Discount>
@{
    ViewBag.Title = "Discounts";
}

<div class="row-fluid">
    <div class="span4">
        <h2>Discounts</h2>
    </div>
    <div class="span8">
        <div class="btn-group  display-inline  pull-right">
            <a href="@Url.Action("Add", "Discount")" class="btn btn-primary"  data-toggle="fb-modal">Add Discount</a>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div id="product-list">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name
                    </th>
                     <th>Code
                    </th>
                     <th>
                         Time period
                    </th>
                    <th>Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                         <td>
                            @item.Code
                        </td>
                         <td>
                            @item.DateFrom.Value.ToShortDateString()
                             &nbsp -  &nbsp
                            @item.DateTo.Value.ToShortDateString()
                        </td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", "Discount", new { id = item.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                                @Html.ActionLink("Delete", "Delete", "Discount", new { id = item.Id }, new { @class = "btn btn-mini btn-danger", data_toggle = "fb-modal" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
