@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Models.OrderSearchModel
@{
    ViewBag.Title = "Orders";
}

@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{
    <fieldset>
        <legend>Orders
            <span class="btn-group  display-inline  pull-right">
                <button type="submit" class="btn btn-primary">Filter</button>
            </span>
        </legend>
        @if (Model.Results!=null && !Model.Results.Any())
        {
            @:No orders.
        }
        else
        {
            <h4>
                Filter orders
            </h4>
            <div class="row-fluid">
                <div class="span4">
                    <div>
                        <div class="span4">Email:</div>
                        <div>
                            @Html.TextBoxFor(x=>x.Email,new {@class="input-medium"})
                        </div>
                    </div>
                    <div>
                        <div class="span4">Order Id:</div>
                        <div>
                            @Html.TextBoxFor(x=>x.OrderId,new {@class="input-medium"})
                        </div>
                    </div>
                    <div>
                        <div class="span4">Date From:</div>
                        <div>
                            @Html.TextBoxFor(x=>x.DateFrom,new {@class="input-medium"})
                        </div>
                    </div>
                    <div>
                        <div class="span6">Payment Status:</div>
                        <div>
                            @Html.DropDownList("PaymentStatus", ViewData["PaymentStatuses"] as IEnumerable<SelectListItem>, new {@class = "input-medium"})
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div>
                        <div class="span4">Last Name:</div>
                        <div>
                            @Html.TextBoxFor(x=>x.LastName,new {@class="input-medium"})
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div>
                        <div class="span4">Date To:</div>
                        <div>
                            @Html.TextBoxFor(x=>x.DateTo,new {@class="input-medium"})
                        </div>
                    </div>
                    <div>
                        <div class="span4">Shipping Status:</div>
                        <div>
                            @Html.DropDownList("ShippingStatus", ViewData["ShippingStatuses"] as IEnumerable<SelectListItem>, new {@class = "input-medium"})
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Email
                        </th>
                        <th>Payment Status
                        </th>
                        <th>Shipping Status
                        </th>
                        <th>Amount
                        </th>
                        <th>Created On
                        </th>
                         <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Results)
                    {
                        <tr>
                            <td>
                                @item.OrderEmail
                            </td>
                            <td>
                                @item.PaymentStatus
                            </td>
                            <td>
                                @item.ShippingStatus
                            </td>
                            <td>
                                &pound;@item.Total.ToString("#.##")
                            </td>
                            <td>
                                @item.CreatedOn
                            </td>
                             <td>
                                <div class="btn-group">
                                    @Html.ActionLink("Details", "Edit", "Order", new { id = item.Id }, new { @class = "btn btn-mini"})
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @Html.Pager(Model.Results, "Index", i => new {page = i})
    </fieldset>
}