@using MrCMS.Helpers
@using MrCMS.Logging
@model MrCMS.Paging.IPagedList<MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order>

@{
    ViewBag.Title = "Orders";
}

<div class="row-fluid">
    <div class="span4">
        <h2>Orders</h2>
    </div>
</div>
<div class="row-fluid">
  
       @if (Model.Count == 0)
        {
            @:No orders.
        }
        else
        {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>User
                    </th>
                     <th>Subtotal
                    </th>
                     <th>Tax
                    </th>
                     <th>Discount
                    </th>
                     <th>Total
                    </th>
                        <th>Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(item.User!=null?item.User.FirstName+" "+item.User.LastName:String.Empty)
                        </td>
                         <td>
                            @item.Subtotal
                        </td>
                         <td>
                            @item.Tax
                        </td>
                          <td>
                            @item.DiscountCode
                        </td>
                          <td>
                            @item.Total
                        </td>
                          <td>
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", "Order", new { id = item.Id }, new { @class = "btn btn-mini" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       }
  </div>

@Html.Pager(Model, "Index", i => new { page = i })