@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Models
@model OrderSearchModel
@{
    ViewBag.Title = "Orders";
}

@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{

    <fieldset>
        <legend>Orders
            <span class="btn-group  display-inline  pull-right">
                <button type="submit" class="btn btn-primary">Search</button>
            </span>
        </legend>
        @if (!Model.Results.Any())
        {
            @:No orders.
        }
        else
        {

            <div class="row-fluid">
                <div class="span4">
                    @Html.LabelFor(x => x.SearchText, "Email or Lastname")
                    @Html.TextBoxFor(x => x.SearchText, new { @class = "span12" })

                    @Html.LabelFor(x => x.OrderId)
                    @Html.TextBoxFor(x => x.OrderId, new { @class = "span12" })
                </div>
                <div class="span4">
                    @Html.LabelFor(x => x.DateFrom)
                    @Html.TextBoxFor(x => x.DateFrom, new { @class = "span12 date-time-picker" })

                    @Html.LabelFor(x => x.PaymentStatus)
                    @Html.DropDownListFor(x => x.PaymentStatus, ViewData["PaymentStatuses"] as IEnumerable<SelectListItem>, new { @class = "span12" })
                </div>
                <div class="span4">

                    @Html.LabelFor(x => x.DateTo)
                    @Html.TextBoxFor(x => x.DateTo, new { @class = "span12 date-time-picker" })

                    @Html.LabelFor(x => x.ShippingStatus)
                    @Html.DropDownListFor(x => x.ShippingStatus, ViewData["ShippingStatuses"] as IEnumerable<SelectListItem>, new { @class = "span12" })
                </div>
            </div>
            <hr />
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Sales Channel
                        </th>
                        <th>Order Id
                        </th>
                        <th>Email
                        </th>
                        <th>Payment Info
                        </th>
                        <th>Shipping Info
                        </th>
                        <th>Amount
                        </th>
                        <th>Created On
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Results)
                    {
                        var status = "warning";
                        if (item.ShippingStatus.Equals(ShippingStatus.Shipped) && item.PaymentStatus.Equals(PaymentStatus.Paid))
                        {
                            status = "success";
                        }
                        else if (item.IsCancelled)
                        {
                            status = "error";
                        }
                        <tr class="@status">
                            <td>
                                @(item.SalesChannel!=null ? item.SalesChannel.GetDescription() : SalesChannel.MrCMS.GetDescription())
                            </td>
                            <td>
                                @item.Id
                            </td>
                            <td style="word-break: break-all">
                                @item.OrderEmail
                            </td>
                            <td>
                                @if (!item.IsCancelled)
                                {
                                    @item.PaymentStatus 
                                        
                                        if (item.PaymentStatus == PaymentStatus.Pending)
                                        {
                                            <span></span>
                                            @Html.ActionLink("Mark as Paid", "MarkAsPaid", "Order", new { id = item.Id, index = true }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                                            <span></span>
                                            @Html.ActionLink("Void", "MarkAsVoided", "Order", new { id = item.Id, index = true }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                                        }
                                    <br />
                                    @item.PaymentMethod
                                }
                                else
                                {
                                    @:Cancelled
                                }
                            </td>
                            <td>
                                @if (!item.IsCancelled)
                                {
                                    @item.ShippingStatus
                                    <span></span>
                                    if (item.ShippingStatus != ShippingStatus.Shipped)
                                    {
                                    @Html.ActionLink("Mark as Shipped", "MarkAsShipped", "Order", new { id = item.Id, index = true }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                                    }
                                    <br />
                                    if (item.ShippingMethod != null)
                                    {
                                        @item.ShippingMethod.Name
                                    }
                                }
                                else
                                {
                                    @:Cancelled
                                }
                            </td>
                            <td>@item.Total.ToCurrencyFormat()
                            </td>
                            <td>
                                @item.CreatedOn
                            </td>
                            <td>
                                <div class="btn-group">
                                    @Html.ActionLink("Details", "Edit", "Order", new { id = item.Id }, new { @class = "btn btn-mini" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.Pager(Model.Results, "Index", i => new { page = i })
        }

    </fieldset>
}
@{ Html.IncludeCss("~/Apps/Ecommerce/Areas/Admin/Content/Styles/ecommerce-admin.css"); }