@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("MarkAsShipped", "Order", FormMethod.Post))
{
    <fieldset>
        <legend>Set Order as Shipped
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Set Order as Shipped" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        @Html.Hidden("index", (bool) ViewBag.Index)
        
        @*<div class="form-group">
            @Html.LabelFor(x => x.ShippingMethod)
            @Html.DropDownListFor(x => x.ShippingMethod.Id, ViewData["ShippingMethods"] as IEnumerable<SelectListItem>, new {@class="form-control" })
        </div>*@
        <div class="form-group">
            @Html.LabelFor(x => x.TrackingNumber, "Tracking number (optional)")
            @Html.TextBoxFor(x => x.TrackingNumber, new{@class="form-control"})
        </div>
    </fieldset>
}