@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order

<div class="tab-pane active" id="order-details">
    <div class="row-fluid">
        <div class="span6">

@using (Html.BeginForm("Edit", "Order", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)

            <table class="table table-bordered table-striped">

              <tr>
                <td>
                   @Html.LabelFor(x => x.Subtotal)
                </td>
                <td>
                      @Html.DisplayFor(x => x.Subtotal)
                </td>
              </tr>
              <tr>
                <td>
                      @Html.LabelFor(x => x.Tax)
                </td>
                <td>
               @Html.DisplayFor(x => x.Tax)
                </td>
              </tr>
              <tr>
                <td>
                      @Html.LabelFor(x => x.Total)
                </td>
                <td>
                     @Html.DisplayFor(x => x.Total)
                </td>
              </tr>
              <tr>
                <td>
                      @Html.LabelFor(x => x.Weight)
                </td>
                <td>
                   @Html.DisplayFor(x => x.Weight)
                </td>
              </tr>
              <tr>
                <td>
                      @Html.LabelFor(x => x.DiscountCode)
                </td>
                <td>
     @Html.EditorFor(x => x.DiscountCode)
                </td>
              </tr>
                        <tr>
                <td>
                       @Html.LabelFor(x => x.ShippingTotal)
                </td>
                <td>
     @Html.DisplayFor(x => x.ShippingTotal)
                </td>
              </tr>

                <tr>
                <td>
                       @Html.LabelFor(x => x.ShippingAddress)
                </td>
                <td>
                     @Html.ActionLink("Edit", "Edit", "Address", new { addressType=1, orderID = Model.Id, addressID=Model.ShippingAddress!=null?Model.ShippingAddress.Id:0 }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                </td>
              </tr>

                 <tr>
                <td>
                       @Html.LabelFor(x => x.ShippingMethod)
                </td>
                <td>
     @Html.DropDownList("ShippingMethodId",ViewData["ShippingMethods"] as IEnumerable<SelectListItem>)
                </td>
              </tr>

                <tr>
                <td>
                       @Html.LabelFor(x => x.ShippingStatus)
                </td>
                <td>
     @Html.DropDownListFor(x => x.ShippingStatus,ViewData["ShippingStatuses"] as IEnumerable<SelectListItem>)
                </td>
              </tr>

                <tr>
                <td>
                       @Html.LabelFor(x => x.BillingAddress)
                </td>
                <td>
                     @Html.ActionLink("Edit", "Edit", "Address", new { addressType=2, orderID = Model.Id, addressID=Model.BillingAddress!=null?Model.BillingAddress.Id:0 }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                </td>
              </tr>

                 <tr>
                <td>
                       @Html.LabelFor(x => x.PaymentMethod)
                </td>
                <td>
     @Html.EditorFor(x => x.PaymentMethod)
                </td>
              </tr>
                 <tr>
                <td>
                       @Html.LabelFor(x => x.PaymentStatus)
                </td>
                <td>
      @Html.DropDownListFor(x => x.PaymentStatus,ViewData["PaymentStatuses"] as IEnumerable<SelectListItem>)
                </td>
              </tr>
                 <tr>
                <td>
                       @Html.LabelFor(x => x.PaidDate)
                </td>
                <td>
     @Html.DisplayFor(x => x.PaidDate)
                </td>
              </tr>

                     <tr>
                <td>
                       @Html.LabelFor(x => x.CustomerIP)
                </td>
                <td>
     @Html.DisplayFor(x => x.CustomerIP)
                </td>
              </tr>

                <tr>
                <td>
                       @Html.LabelFor(x => x.OrderEmail)
                </td>
                <td>
     @Html.EditorFor(x => x.OrderEmail)
                </td>
              </tr>

          </table>

  
     <input type="submit" class="btn-primary btn" value="Save Changes" />
}
           
             </div>
        </div>
</div>
