@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.GoogleBase.GoogleBaseProduct
@{
    var gender = ViewData["genders"] as IEnumerable<SelectListItem>;
    var ageGroup = ViewData["age-groups"] as IEnumerable<SelectListItem>;
    var productConditions = ViewData["product-conditions"] as IEnumerable<SelectListItem>;
}

@using (Html.BeginForm("UpdateGoogleBaseProduct", "ImportExport", FormMethod.Post))
{
    <div class="row-fluid">
        <div class="span6">
            @Html.HiddenFor(x => x.ProductVariant.Id)
            @Html.HiddenFor(x => x.Id)
            <h4>&nbsp;@(!string.IsNullOrWhiteSpace(Model.ProductVariant.Name) ? Model.ProductVariant.Name : Model.ProductVariant.Product.Name)</h4>
            <br />
            <div style="width:100%; overflow: hidden">
                @Html.LabelFor(x => x.OverrideCategory)
                @Html.HiddenFor(x => x.OverrideCategory,new {@class="select2 select2-full", style="width:100%"})
            </div>
            <br />
            <br />
            <button type="button" class="btn update-google-base-product" data-google-base-product-id="@Model.Id" data-google-base-product-variant-id="@Model.ProductVariant.Id">
                Update
            </button>
        </div>
        <div class="span3">
            @Html.LabelFor(x => x.Condition)
            @Html.DropDownListFor(x => x.OverrideCondition, GeneralHelper.SelectDefaultValue(productConditions, Model.Condition.ToString()), new {@class = "span12"})
            @Html.LabelFor(x => x.Gender)
            @Html.DropDownListFor(x => x.Gender, GeneralHelper.SelectDefaultValue(gender, Model.Gender.ToString()), new {@class = "span12"})
            @Html.LabelFor(x => x.AgeGroup)
            @Html.DropDownListFor(x => x.AgeGroup, GeneralHelper.SelectDefaultValue(ageGroup, Model.AgeGroup.ToString()), new {@class = "span12"})
        </div>
        <div class="span3">
            @Html.LabelFor(x => x.Grouping)
            @Html.TextBoxFor(x => x.Grouping, new {@class = "span12", placeholder = "e.g: comforters"})
            @Html.LabelFor(x => x.Labels)
            @Html.TextBoxFor(x => x.Labels, new {@class = "span12", placeholder = "e.g: clothing, shoes"})
            @Html.LabelFor(x => x.Redirect)
            @Html.TextBoxFor(x => x.Redirect, new {@class = "span12", placeholder = "e.g: http://www.merchant.com/product.html"})
        </div>
    </div>
}
<hr />
