@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "ProductVariant", new {id=""}, FormMethod.Post))
{
    <div class="modal-header">
        <h3>Add Product Variant</h3>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(variant => variant.Product.Id)
        @Html.LabelFor(variant => variant.Name)
        @Html.TextBoxFor(variant => variant.Name)
        @for (int index = 0; index < Model.Product.AttributeOptions.Count; index++)
        {
            var option = Model.Product.AttributeOptions[index];
            @Html.LabelFor(variant => variant.AttributeValues[index].Value, option.Name)
            @Html.TextBoxFor(variant => variant.AttributeValues[index].Value)
            @Html.Hidden("AttributeValues["+index+"].ProductAttributeOption.Id", option.Id.ToString())
        }
        @Html.LabelFor(variant => variant.SKU)
        @Html.TextBoxFor(variant => variant.SKU)
        @Html.LabelFor(variant => variant.BasePrice)
        @Html.TextBoxFor(variant => variant.BasePrice)
        @Html.LabelFor(variant => variant.StockRemaining)
        @Html.TextBoxFor(variant => variant.StockRemaining)
        @Html.LabelFor(product => product.TrackingPolicy)
        @Html.DropDownListFor(product => product.TrackingPolicy, ViewData["tracking-policy"] as IEnumerable<SelectListItem>)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Add Product Variant" />
    </div>
}