@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
<div id="images" class="tab-pane">
    @Html.HiddenFor(x=>x.FeaturedImageUrl)
    @if (Model.Product.Images.Any())
    {
        <div style="width: 100%; overflow: hidden">
            <select id="FeaturedImageUrlBox" style="width: 50%; min-width: 300px">
                <option value="0" data-url="" data-name="">Choose Featured Image for @Model.DisplayName</option>
                @foreach (var item in Model.Product.Images)
                {
                    var selectedValue = !String.IsNullOrWhiteSpace(Model.FeaturedImageUrl) && Model.FeaturedImageUrl == item.FileUrl ? "selected='selected'" : string.Empty;
                    <option value="@item.FileUrl" @Html.Raw(selectedValue) data-url="@item.FileUrl" data-name="@item.FileName">@item.FileName</option>
                }
            </select>
        </div>
    }
    else
    {
        <p>
            No images added for product. Please add at least one image to product and try again.
        </p>
    }
</div>