@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
<div class="tab-pane" id="download-options">
    <label class="checkbox">@Html.CheckBox("IsDownloadable", Model.IsDownloadable) Downloadable?</label>
    <div id="downloadable" @(Model.IsDownloadable ? Html.Raw("style='display:block'") : Html.Raw("style='display:none'"))>
        <br />
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        @Html.LabelFor(x => x.DownloadFileUrl)
                        @Html.TextBoxFor(x => x.DownloadFileUrl, new { @class = "media-selector" })
                        @Html.ValidationMessageFor(x => x.DownloadFileUrl)
                    </div>
                    <div class="col-lg-6">
                        @Html.LabelFor(x => x.DemoFileUrl)
                        @Html.TextBoxFor(x => x.DemoFileUrl, new { @class = "media-selector" })
                        @Html.ValidationMessageFor(x => x.DemoFileUrl)
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @Html.LabelFor(x => x.AllowedNumberOfDaysForDownload)
                @Html.TextBoxFor(x => x.AllowedNumberOfDaysForDownload, new { @class = "col-lg-3" })
                @Html.ValidationMessageFor(x => x.AllowedNumberOfDaysForDownload)

                @Html.LabelFor(x => x.AllowedNumberOfDownloads)
                @Html.TextBoxFor(x => x.AllowedNumberOfDownloads, new { @class = "col-lg-3" })
                @Html.ValidationMessageFor(x => x.AllowedNumberOfDownloads)
            
                <div class="alert alert-info">
                    Set Allowed number of days or Allowed number of downloads to blank to not restrict downloads.
                </div>
            </div>
        </div>


    </div>
</div>
