@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Edit", "ProductVariant", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Edit Product Variant</h3>
    </div>
    <div class="modal-body">
        @for (int index = 0; index < Model.AttributeValues.Count; index++)
        {
            @Html.LabelFor(variant => variant.AttributeValues[index].Value, Model.AttributeValues[index].ProductAttributeOption.Name)
            @Html.TextBoxFor(variant => variant.AttributeValues[index].Value)
            @Html.HiddenFor(variant => variant.AttributeValues[index].Id)
        }
        @Html.LabelFor(variant => variant.SKU)
        @Html.TextBoxFor(variant => variant.SKU)
        @Html.LabelFor(variant => variant.BasePrice)
        @Html.TextBoxFor(variant => variant.BasePrice)
        @Html.LabelFor(variant => variant.StockRemaining)
        @Html.TextBoxFor(variant => variant.StockRemaining)
         @if(MrCMS.Website.MrCMSApplication.Get<MrCMS.Web.Apps.Ecommerce.Settings.TaxSettings>().LoadedPricesIncludeTax)
        {
        @Html.LabelFor(variant => variant.TaxRate.Id, "Tax Rate")
        @Html.DropDownListFor(variant => variant.TaxRate.Id, ViewData["taxrates"] as IEnumerable<SelectListItem>)
         }
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Update Product Variant" />
    </div>
}