@model MrCMS.Web.Apps.Ecommerce.Pages.Category
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@using MrCMS.Web.Apps.Ecommerce.Services.Products
@{
    var query = ViewData["query"] as ProductSearchQuery;
    var parentCategories = Model.ActivePages.Skip(1).Where(webpage => webpage is Category).ToList();
    parentCategories.Reverse();
}
@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.LiveUrlSegment)
<div class="row-fluid" id="product-search-container">
    <div class="span3">
        @RenderZone("Before Filters")
        @{ Html.RenderAction("Query", "ProductSearch", new { query });}
        @RenderZone("After Filters")
    </div>
    <div class="span9">
        @{ Html.RenderAction("Results", "ProductSearch", new { query });}
    </div>
</div>
<div class="row-fluid margin-top-10 hidden-phone">
    <div class="span12">
        <h1>@Editable(Model, category => category.Name)</h1>
        @Editable(Model, category => category.BodyContent, true)
    </div>
</div>
@{
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.history.js");
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/product-search.js");
}