@using System.Web.Mvc.Html
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Settings
@using MrCMS.Website
@model MrCMS.Web.Apps.Amazon.Models.AmazonDashboardModel
@{
    ViewBag.Title = "Amazon App Dashboard";
}

<fieldset>
    <legend>Amazon App Dashboard
        <span class="pull-right">
             @using (Html.BeginForm("Dashboard", "App", new {id = ""}, FormMethod.Post))
             {
                 @Html.EditorFor(x => x.FilterFrom)
                 @Html.EditorFor(x => x.FilterUntil)
                 <button type="submit" class="btn">Filter</button>
             }
        </span>
    </legend>

    <div class="row-fluid">
        <div class="span4">
            <div class="row-fluid">
                <div class="span4">
         
                    <div class="dashboard-box">
                        <div class="info">
                            <div class="stats">
                                @Model.NoOfOrders
                            </div>
                            <div class="stats-description">                           
                                Orders
                            </div>
                        </div>        
                    </div>

                </div>

                <div class="span4">
                
                
                    <div class="dashboard-box">
                        <div class="info">
                            <div class="stats">
                                @Model.NoOfUnshippedOrders
                            </div>
                            <div class="stats-description">                           
                                <span>Unshipped Orders</span>
                            </div>
                        </div>              
                    </div>
                

                </div>
            
                <div class="span4">
         
                    <div class="dashboard-box">
                        <div class="info">
                            <div class="stats">
                                @Model.AverageOrderAmount
                            </div>
                            <div class="stats-description">                           
                                <span>Avg Order Amount</span>
                            </div>
                        </div>           
                    </div>

                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
        
                    <div class="dashboard-box">
                        <div class="graphics">
                            <canvas id="orders"></canvas>     
                        </div>
                        <div class="info orders">
                            <div class="stats">
                            
                            </div>
                            <div class="stats-description">                           
                                Revenue (@(MrCMSApplication.Get<EcommerceSettings>().Currency.Code))
                            </div>
                        </div>
                        @Html.ActionLink("All Orders", "Index", "Orders", null,new { @class = "more-info peter-river"})
                    </div>
                </div> 
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid">
                <div class="span4">
         
                    <div class="dashboard-box">
                        <div class="info">
                            <div class="stats">
                                @Model.NoOfActiveListings
                            </div>
                            <div class="stats-description">                           
                                <span>Active Listings</span>
                            </div>
                        </div>         
                    </div>

                </div>

                <div class="span4">
                
                
                    <div class="dashboard-box">
                        <div class="info">
                            <div class="stats">
                                @Model.NoOfOrderedProducts.ToString("n0")
                            </div>
                            <div class="stats-description">                           
                                <span>Ordered Products</span>
                            </div>
                        </div>      
                    </div>
                

                </div>
    
                <div class="span4">
         
                    <div class="dashboard-box">
                        <div class="info">
                            <div class="stats">
                                @Model.NoOfShippedProducts.ToString("n0")
                            </div>
                            <div class="stats-description">                           
                                <span>Shipped Products</span>
                            </div>
                        </div>           
                    </div>

                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
        
                    <div class="dashboard-box">
                        <div class="graphics">
                            <canvas id="products"></canvas>     
                        </div>
                        <div class="info orders">
                            <div class="stats">
                          
                            </div>
                            <div class="stats-description">                           
                                Products Sold
                            </div>
                        </div>
                        @Html.ActionLink("All Listings", "Index", "Listing", null,new { @class = "more-info nephritis"}) 
                    </div>
                </div> 
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid">
                
                <div class="span4">
         
                    <div class="dashboard-box">
                        <div class="info">
                            <div class="stats">
                                @Model.NoOfApiCalls
                            </div>
                            <div class="stats-description">                           
                                Api Calls
                            </div>
                        </div>
                    </div>

                </div>

                <div class="span4">
         
                    <div class="dashboard-box @(Model.SellerSettingsStatus?"":"alizarin")">
                        <div class="info">
                            <div class="stats">
                                @(Model.SellerSettingsStatus?"OK":"Check")
                            </div>
                            <div class="stats-description">
                                @Html.ActionLink("Seller Settings", "Settings", "Seller", null,new { @class = ""})                                    
                            </div>
                        </div>
                                
                    </div>

                </div>

                <div class="span4">
                
                
                    <div class="dashboard-box @(Model.AppSettingsStatus?"":"alizarin")">
                        <div class="info">
                            <div class="stats">
                                @(Model.AppSettingsStatus?"OK":"Check")
                            </div>
                            <div class="stats-description">
                                @Html.ActionLink("App Settings", "Settings", "App", null,new { @class = ""})                                     
                            </div>
                        </div>
                     
                    </div>
                

                </div>
   
            </div>
            <div class="row-fluid">
                <div class="span12">
                    @{Html.RenderAction("DashboardLogs", "App");}
                </div>
            </div>  
        </div>
    </div>
</fieldset>

@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/charts/Chart.min.js"); }
@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/dashboard.js"); }
@{ Html.IncludeCss("~/Apps/Amazon/Areas/Admin/Content/Styles/dashboard.css"); }