@using MrCMS.Helpers
@using MrCMS.Web.Apps.Amazon.Helpers
@using MrCMS.Web.Apps.Amazon.Models
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model AmazonDashboardModel

<div data-paging-type="async">
    @if (Model != null && !Model.Logs.Any())
    {
        @:No Logs
    }
    else
    {
        foreach (var item in Model.Logs)
        {
            var alerttype = "info";
            switch (item.LogStatus)
            {
                case AmazonLogStatus.Error:
                    {
                        alerttype = "error";
                    }
                    break;
                case AmazonLogStatus.Delete:
                    {
                        alerttype = "warning";
                    }
                    break;
                case AmazonLogStatus.Initiation:
                case AmazonLogStatus.Insert:
                case AmazonLogStatus.Update:
                case AmazonLogStatus.Stage:
                    {
                        alerttype = "info";
                    }
                    break;
                case AmazonLogStatus.Completion:
                    {
                        alerttype = "success";
                    }
                    break;
                default:
                    {
                        alerttype = "info";
                    }
                    break;
            }
            <div class="alert dashboard-box-log @alerttype">
                     <small class="pull-right">@item.CreatedOn.ToString("dd/MM/yyyy HH:mm")</small>
                <strong>@item.LogType.GetDescription()</strong>
                <br/>
                @item.Message.ToShortString(50)
             </div>
        }

        @Html.Pager(Model.Logs, "DashboardLogs", i => new {page = i})
    }
</div>

 @{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/async-paging.js"); }