@using MrCMS.Web.Apps.Ecommerce.Entities.Orders
@model MrCMS.Web.Apps.Core.Models.RegisterAndLogin.LoginModel
@{
    var order = ViewData["order"] as Order;
    var errorMessage = TempData["register-error"] as string;
}
<div class="margin-bottom-20 grey-border">
    <div class="block-title">
        <h1 class="h1style padding-left-10">
            Log in to remember your order
        </h1>
    </div>
    <div class="padding-20">
        @using (Html.BeginForm("LoginAndAssociateOrder", "OrderPlaced", null, FormMethod.Post, new { @class = "" }))
        {
            @Html.HiddenFor(model => model.Email)
            @Html.Hidden("Id", order.Guid)
            <div class="form-group">
                @Html.LabelFor(x=>x.Password, Resource("Enter your password:"))
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <input type="submit" class="btn btn-primary" value="@Resource("Continue")" />

        }
    </div>
</div>
