@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers

<div class="pull-right">
    <div id="top-menu-box">
        <div class="pull-right">

            @if (MrCMS.Website.CurrentRequestData.CurrentUser != null)
            {
                <a href="/logout">Logout</a>
                <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.UserAccount>())">My Account</a>
            }
            else
            {
                <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.UserLogin>())">Login</a>
                <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.UserRegistration>())">Register</a>
            }
        </div>
    </div>
    <a class="btn btn-large btn-info btn-checkout" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">Checkout</a>
</div>

<div id="basket-info-box" class="pull-right">
    <i class="icon-shopping-cart"></i>Your <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.Cart>())">basket</a> has @Model.ItemCountText - @Html.DisplayFor(model => model.Total)
</div>
