@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers

<p><strong>Delivery Details</strong></p>
<br />
@*@Model.ShippingAddress.Name
<br />
@Model.ShippingAddress.PhoneNumber
<br />
<br />
@Model.ShippingAddress.Company
<br />
@Model.ShippingAddress.Address1
<br />
@Model.ShippingAddress.Address1
<br />
@Model.ShippingAddress.City
<br />
@Model.ShippingAddress.PostalCode
<br />
@Model.ShippingAddress.Country.Name*@