@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers

<p><strong>Delivery Details</strong></p>
<p>
@(Model.ShippingAddress.Name??String.Empty)
</p>
<p>
@(Model.ShippingAddress.PhoneNumber??String.Empty)
</p>
<p>
@(Model.ShippingAddress.Company??String.Empty)
</p>
<p>
@(Model.ShippingAddress.Address1??String.Empty)
</p>
<p>
@(Model.ShippingAddress.Address1??String.Empty)
</p>
<p>
@(Model.ShippingAddress.City??String.Empty)
</p>
<p>
@(Model.ShippingAddress.PostalCode??String.Empty)
</p>
<p>
@(Model.ShippingAddress.Country!=null?Model.ShippingAddress.Country.Name:String.Empty)
    </p>
<a class="btn btn-info" id="edit" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.SetDeliveryDetails>())">Edit</a>