@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers

<p><strong>Delivery Details</strong></p>
<p>
@Model.ShippingAddress.Name
</p>
<p>
@Model.ShippingAddress.PhoneNumber
</p>
<p>
@Model.ShippingAddress.Company
</p>
<p>
@Model.ShippingAddress.Address1
</p>
<p>
@Model.ShippingAddress.Address1
</p>
<p>
@Model.ShippingAddress.City
</p>
<p>
@Model.ShippingAddress.PostalCode
</p>
<p>
@Model.ShippingAddress.Country.Name
    </p>
<a class="btn btn-info" id="edit" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.SetDeliveryDetails>())">Edit</a>