@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Models.CartModel

<div id="details">
<ul class="breadcrumb">
<li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="@(MrCMS.Helpers.UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())">Products</a> <span class="divider">/</span></li>
    <li class="active">Basket</li>
</ul>
<div class="row-fluid">
 <div class="pull-left">
<h4>Shopping Basket</h4>
 </div>
     <div class="pull-right">
         @if(Model.Items.Any())
         {
             <a class="btn btn-info" href="@(MrCMS.Helpers.UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">Pay securely NOW!</a>
         }
 </div>
</div>
<div class="row-fluid" id="cart-items">
    <div class="span12">
        @if(Model.Items.Any())
        {
            <div class="row-fluid" id="header">
            <div class="span4 header-item">
                <span class="pull-left">
                Item description
                    </span>
            </div>
            <div class="span3 header-item">
                 <span class="pull-left">
                Your options
                     </span>
            </div>
            <div class="span2 header-item">
                Quantity
            </div>
            <div class="span3 header-item">
               <span class="pull-right">
                Price
                    </span>
            </div>
            </div>
            foreach (var item in Model.Items)
            {
            <div class="row-fluid row">
            <div class="span4 cell">
                <div class="span4 photo">
                            @if (item.Item.Product.Images.Any())
                            {
                                <img src="@(item.Item.Product.Images.First().FileUrl)" class="img-rounded pull-left span12" alt="@item.Name" />
                            }
                        </div>
                        <div class="span8 name">
                            @item.Name
                        </div>
            </div>
            <div class="span3 cell">
                @foreach (var option in item.Item.AttributeValues)
	            {
		            <p class="pull-left">
                        <strong>
                            @option.ProductAttributeOption.Name
                        </strong>
                        <span>:</span>
                        @option.Value
		            </p>
	            }
            </div>
            <div class="span2 cell">
                <input type="text" class="input-mini" name="@Html.Raw("quantity-"+item.Id)" value="@item.Quantity" data-cart-id="@item.Id"/>
            </div>
            <div class="span3 cell">
                <div class="pull-right price">
                <h4>&pound;@item.Price.ToString("#.##")</h4>
                            @Html.ActionLink("Delete", "DeleteCartItem", "Cart", new { id = item.Id }, new { data_toggle = "fb-modal" })
                 </div>
            </div>
            </div>
        }
            
        }
        else
        {
            <span>No items in basket.</span>
        }
</div>
</div>

    @if(Model.Items.Any())
        {
<div class="row-fluid">
     <div class="pull-right">
 <button type="button" class="btn" id="update-basket">Update Basket</button>
 </div>
</div>
<div class="row-fluid" id="cart-discount">
     <div class="pull-right">
         @Html.HiddenFor(x => x.DiscountCode)

            <div id="add-discount-code-box" style="display:none">
             <button id="add-discount-code" class="btn pull-right">Add Discount Code</button>
             <input type="text" id="discount-code" class="pull-right"/>
                <div class="title pull-right">Add Discount Code</div>
               </div>  
               <div id="discount-code-box" style="display:none">
              <button id="update-discount-code" class="btn pull-right">Update Discount Code</button>
                <div class="title pull-right"></div>
               </div>  
        
 </div>
</div>
    }
<div class="row-fluid">
 <div class="span6">
 </div>
     <div class="span6 pull-right" id="cart-summary">
         @if(Model.Items.Any())
        {
            <div>
                <div class="span6">Subtotal before delivery charges</div>
                <div class="pull-right value">&pound;@Model.TotalPreShipping.ToString("#.##")
                </div>
            </div>
             <div class="clearfix"></div>
            <div>
                <div class="span6">VAT</div>
                <div class="pull-right value">&pound;@Model.Tax.ToString("#.##")
                </div>
            </div>
              <div class="clearfix"></div>
            <div>
                <div class="span6">
                    @Html.DropDownList("ShippingCalculation", ViewData["shipping-calculations"] as IEnumerable<SelectListItem>, new { @class="input-xlarge" })
                </div>
                <div class="pull-right value">
                    @Html.Raw(Model.ShippingTotal.HasValue?"&pound;"+Model.ShippingTotal.Value.ToString("#.##"):"Please choose shipping method.<br/><br/>")
                </div>
   
            </div>
            <div class="total-divider"></div>
            <div>
                <div class="span6">Total</div>
                <div class="pull-right total">&pound;@Model.Total.ToString("#.##")</div>
            </div>
        }
 </div>
</div>
    <div class="row-fluid">
 <div class="pull-left">
<a class="btn" href="@(MrCMS.Helpers.UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())">Continue Shopping</a>
 </div>
     <div class="pull-right">
 @if(Model.Items.Any())
         {
             <a class="btn btn-info" href="@(MrCMS.Helpers.UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">Pay securely NOW!</a>
         }
 </div>
</div>

</div>

@{ Html.IncludeScript("~/Themes/Ecommerce/Apps/Ecommerce/Content/Scripts/custom/cart.js"); }