@model MrCMS.Web.Apps.Ecommerce.Models.PaymentDetailsModel
@using MrCMS.Helpers

<br />
<div class="row-fluid">
<div class="span8">
<h4>Payment details</h4>
@using (Html.BeginForm("PaymentDetails", "Cart", FormMethod.Post))
{
<div>
    <div class="span4">Card Type*:</div>
    <div>
         <select id="CartType" name="CartType">
                <option value="visa">Visa</option>
                <option value="visaelectron">Visa Electron</option>
                <option value="maestro">Maestro</option>
                <option value="amex">American Express</option>
            </select>
    </div>
</div>
<div class="clearfix"></div>
<div>
    <div class="span4">Card Number*:</div>
    <div><input type="text" name="CardNumber" class="input-xlarge" /></div>
</div>
<div>
    <div class="span4">Card Verification Code*:</div>
    <div><input type="text" name="CardVerificationCode" class="input-small" /></div>
</div>
     <div>
    <div class="span4">Start Date:</div>
    <div>
        <div class="pull-left">
            <select id="startmonth" name="StartMonth">
                <option value="0">MM</option>
                @for (int i = 1; i < 13; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="pull-left">
            <select id="startyear" name="StartYear">
                <option value="0">YYYY</option>
                @for (int i = DateTime.Now.Year - 10; i < DateTime.Now.Year+1; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
    </div>
</div>
     <div>
    <div class="span4">End Date*:</div>
      <div>
         <div class="pull-left">
            <select id="endmonth" name="EndMonth">
                @for (int i = 1; i < 13; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
         </div>
        <div class="pull-left">
            <select id="endyear" name="EndYear">
                @for (int i = DateTime.Now.Year; i < DateTime.Now.Year+16; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
    </div>
</div>
 <div>
    <div class="span4">Name On Card*:</div>
    <div><input type="text" name="NameOnCard" class="input-xlarge" /></div>
</div>
 <div>
    <div class="span4">Card Issue Number*:</div>
    <div><input type="text" name="CardIssueNumber" class="input-medium" /> Maestro/Solo only</div>
</div>
<hr />
<h4>Billing address</h4>
<p>
      <label class="checkbox" id="">
          <input type="checkbox" checked="checked" id="useDeliveryAddress" name="UseDeliveryAddress"> Use delivery address 
          <span id="deliveryAddress">
              (@(Model.CartModel.ShippingAddress.Name??String.Empty) 
              @(Model.CartModel.ShippingAddress.PhoneNumber??String.Empty) 
              @(Model.CartModel.ShippingAddress.Company??String.Empty) 
              @(Model.CartModel.ShippingAddress.Address1??String.Empty),
              @(Model.CartModel.ShippingAddress.Address2??String.Empty) 
              @(Model.CartModel.ShippingAddress.City??String.Empty) 
              @(Model.CartModel.ShippingAddress.PostalCode??String.Empty) 
              @(Model.CartModel.ShippingAddress.Country!=null?Model.CartModel.ShippingAddress.Country.Name:String.Empty)
        </span>
</label>
    </p>
    
     <div id="billingAddress" style="display:none">
                     <div>
                <div class="span4">First Name*:</div>
                <div>
                    <input type="text" name="FirstName" class="input-xlarge" value="@(Model.CartModel.BillingAddress!=null?Model.CartModel.BillingAddress.FirstName:String.Empty)" data-val="true" required/></div>
            </div>
            <div>
                <div class="span4">Last Name*:</div>
                <div><input type="text" name="LastName" class="input-xlarge" value="@(Model.CartModel.BillingAddress!=null?Model.CartModel.BillingAddress.LastName:String.Empty)" data-val="true" required/></div>
            </div>
            <div>
                <div class="span4">Phone Number*:</div>
                <div><input type="text" name="PhoneNumber" class="input-xlarge" value="@(Model.CartModel.BillingAddress!=null?Model.CartModel.BillingAddress.PhoneNumber:String.Empty)" data-val="true" required/></div>
            </div>
            <div>
                <div class="span4">Address 1*:</div>
                <div><input type="text" name="Address1" class="input-xlarge" value="@(Model.CartModel.BillingAddress!=null?Model.CartModel.BillingAddress.Address1:String.Empty)" data-val="true" required/></div>
            </div>
            <div>
                <div class="span4">Address 2:</div>
                <div><input type="text" name="Address2" class="input-xlarge" value="@(Model.CartModel.BillingAddress!=null?Model.CartModel.BillingAddress.Address2:String.Empty)"/></div>
            </div>
                <div>
            <div class="span4">Town or City*:</div>
                <div><input type="text" name="City" class="input-xlarge" value="@(Model.CartModel.BillingAddress!=null?Model.CartModel.BillingAddress.City:String.Empty)" data-val="true" required/></div>
            </div>
               <div>
            <div class="span4">County:</div>
                <div><input type="text" name="StateProvince" class="input-xlarge" value="@(Model.CartModel.BillingAddress!=null?Model.CartModel.BillingAddress.StateProvince:String.Empty)"/></div>
            </div>
                   <div>
            <div class="span4">Country*:</div>
                <div>
                     @Html.DropDownList("Country.Id", ViewData["countries"] as IEnumerable<SelectListItem>, new { @class="input-xlarge" })
                </div>
            </div>
                   <div>
            <div class="span4">Postcode (zip)*:</div>
                <div><input type="text" name="PostalCode" class="input-medium" value="@(Model.CartModel.BillingAddress!=null?Model.CartModel.BillingAddress.PostalCode:String.Empty)" data-val="true" required/></div>
            </div>
     </div>
 
<hr />
<h4>Newsletter</h4>
 <p>
      <label class="checkbox">
<input type="checkbox" checked="checked" name="SignUpForNewsletter"> Sign up to Mr CMS Newsletter for the latest deals and news direct to your inbox.
</label>
 </p>
<br />
<button class="btn btn-info" type="submit" id="continue" name="continue">Place order</button>
}
</div>
<div class="span4">
@{Html.RenderAction("BasicDetails", "Cart");}
<hr />
@{Html.RenderAction("OrderEmail", "Cart");}
<hr />
@{Html.RenderAction("DeliveryDetails", "Cart");}
</div>
</div>

@{ Html.IncludeScript("~/Themes/Ecommerce/Apps/Ecommerce/Content/Scripts/custom/payment-details.js"); }
