@model MrCMS.Web.Apps.Ecommerce.Pages.OrderPlaced
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Models.RegisterAndLogin
@using MrCMS.Web.Apps.Ecommerce.Controllers
@using MrCMS.Web.Apps.Ecommerce.Entities.Orders
@using MrCMS.Web.Apps.Ecommerce.Models
@{
    var order = ViewData["order"] as Order;
    var emailRegistrationStatus = ViewData["user-can-register"] is EmailRegistrationStatus ? (EmailRegistrationStatus)ViewData["user-can-register"] : EmailRegistrationStatus.Available;
}
<div class="padding-top-bottom-20">
    <div class="row">
        <div class="col-sm-12 padding-left-0 mobile-left-padding">
            <h1>@Resource("Order Complete")</h1>

            <h3>@string.Format(Resource("Your order (ID:{0}) was successfully processed."), order.Id.ToString())</h3>
            
            @Editable(Model, placed => placed.BodyContent)

            @switch (emailRegistrationStatus)
            {
                case EmailRegistrationStatus.EmailInUse:
                    Html.RenderPartial("LoginAndAssociateOrder", new LoginModel { Email = order.OrderEmail });
                    break;
                case EmailRegistrationStatus.Available:
                    Html.RenderPartial("RegisterAndAssociateOrder", new RegisterModel { Email = order.OrderEmail, FirstName = order.BillingAddress.FirstName, LastName = order.BillingAddress.LastName });
                    break;
            }

            <hr />
            <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())" class="btn btn-default" >@Resource("Return to shop")
            </a>
        </div>
    </div>
</div>
