@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers.Cart
@using MrCMS.Web.Apps.Ecommerce.Models
@model MrCMS.Web.Apps.Ecommerce.Pages.PaymentDetails
@{ var cart = ViewData["cart"] as CartModel;}
@{ var settingBillingAddress = ViewData["setting-billing-address"] is bool && (bool)ViewData["setting-billing-address"];}

<div class="padding-top-bottom-20">
    <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-8 padding-bottom-20">
            <div class="block-title">
                <h1>@Resource("Billing Address")</h1>
            </div>
            @if (cart.RequiresShipping && cart.BillingAddressSameAsShippingAddress)
            {
                using (Html.BeginForm("BillingAddressSameAsShippingAddress", "PaymentDetails", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("SameAsShipping", cart.BillingAddressSameAsShippingAddress) @Resource("Use Delivery Address")
                        </label>
                        <div class="controls">
                            @cart.ShippingAddress.GetDescription()
                        </div>
                    </div>
                }
            }

            @if (settingBillingAddress)
            {
                Html.RenderAction("SetBillingAddress", "PaymentDetails");
            }
            else if (!cart.BillingAddressSameAsShippingAddress && cart.BillingAddress != null)
            {
                <div class="margin-bottom-10">
                    <label>
                        @Resource("Billing Address") :
                    </label>
                    @cart.BillingAddress.GetDescription()
                </div>

                using (Html.BeginForm("UpdateBillingAddress", "PaymentDetails", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-info" value="Edit" type="submit" />
                        </div>
                    </div>
                }
            }

            <br />
            @if (cart.TermsAndConditionsRequired)
            {
                <div class="block-title">
                    <div class="h1style">@Resource("Payment Details Page - Terms and Conditions", "Terms and Conditions")</div>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBox("TermsAndConditionsAccepted", cart.TermsAndConditionsAccepted) @Html.Raw(Resource("I accept the terms and conditions"))
                    </label>
                </div>
            }

            <div class="block-title">
                <div class="h1style">@Resource("Payment Details")</div>
            </div>
            @if (!settingBillingAddress)
            {
                Html.RenderPartial("SelectMethod", cart);
                <div id="payment-confirmation">
                    @if (cart.CanShowPaymentMethod())
                    {
                        Html.RenderAction(cart.PaymentMethodAction, cart.PaymentMethodController);
                    }
                </div>
            }
            else
            {
                <p>@Resource("Select after updating billing address")...</p>
            }

        </div>

        <div class="col-lg-5 col-md-4 col-sm-4">
            @{Html.RenderAction("Summary", "Checkout");}
            @{Html.RenderAction("OrderEmail", "Checkout");}
            @if (cart.RequiresShipping)
            {
                Html.RenderAction("DeliveryDetails", "Checkout");
            }
        </div>
    </div>
</div>

@{ Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/payment-details.js"); }

