@using System.Web.Mvc.Html
@using MrCMS.Web.Apps.Amazon.Models
@model MrCMS.Web.Apps.Amazon.Settings.AmazonAppSettings
@{
    ViewBag.Title = "Amazon App Settings";
}

@using (Html.BeginForm("App", "Settings", new {id = ""}, FormMethod.Post, new {id = "edit-settings"}))
{
    <fieldset>
        <legend>Amazon App Settings
            <span class="btn-group  display-inline  pull-right">
                <button class="btn btn-primary">Save</button>
                @Html.ActionLink("Logs", "Index", "Logs", new {type = AmazonLogType.AppSettings}, new {@class = "btn btn-success"})
            </span>
        </legend>
        
        @Html.HiddenFor(x => x.SiteId)

        <div class="row">
            <div class="col-lg-6">
                @Html.LabelFor(x => x.AWSAccessKeyId)
                @Html.TextBoxFor(x => x.AWSAccessKeyId, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.AWSAccessKeyId)

                @Html.LabelFor(x => x.SecretKey)
                @Html.TextBoxFor(x => x.SecretKey, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.SecretKey)
                
            </div>       
            <div class="col-lg-6">
                
                @Html.LabelFor(x => x.ApiEndpoint)
                @Html.TextBoxFor(x => x.ApiEndpoint, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.ApiEndpoint)
                
                <div class="row">
                    <div class="col-lg-4">
                        @Html.LabelFor(x => x.FeedsApiVersion)
                        @Html.TextBoxFor(x => x.FeedsApiVersion, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.FeedsApiVersion)
                    </div>
                    <div class="col-lg-4">
                        @Html.LabelFor(x => x.OrdersApiVersion)
                        @Html.TextBoxFor(x => x.OrdersApiVersion, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.OrdersApiVersion)
                    </div>
                    <div class="col-lg-4">
                        @Html.LabelFor(x => x.ProductsApiVersion)
                        @Html.TextBoxFor(x => x.ProductsApiVersion, new {@class = "form-control"})
                        @Html.ValidationMessageFor(x => x.ProductsApiVersion)
                    </div>
                </div>


            </div>
            
        </div>
        
         <div class="row">
            <div class="col-lg-12">
                @Html.LabelFor(x => x.AmazonProductDetailsUrl)
                @Html.TextBoxFor(x => x.AmazonProductDetailsUrl, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.AmazonProductDetailsUrl)
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                @Html.LabelFor(x => x.AmazonOrderDetailsUrl)
                @Html.TextBoxFor(x => x.AmazonOrderDetailsUrl, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.AmazonOrderDetailsUrl)
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                @Html.LabelFor(x => x.AmazonManageOrdersUrl)
                @Html.TextBoxFor(x => x.AmazonManageOrdersUrl, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.AmazonManageOrdersUrl)
            </div>
        </div>
        
        <div class="row">
             <div class="col-lg-12">
                 @Html.LabelFor(x => x.AmazonManageInventoryUrl)
                @Html.TextBoxFor(x => x.AmazonManageInventoryUrl, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.AmazonManageInventoryUrl)
             </div>
        </div>
    </fieldset>
}