@using System.Web.Mvc.Html
@using MarketplaceWebServiceFeedsClasses
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Amazon.Models
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Amazon.Settings.AmazonSellerSettings
@{
    ViewBag.Title = "Amazon Seller Settings";
}

@using (Html.BeginForm("Seller", "Settings", new { id = "" }, FormMethod.Post))
{
    <fieldset>
        <legend>
            Amazon Seller Settings
            <span class="btn-group  display-inline  pull-right">
                @Html.ActionLink("Logs", "Index", "Logs", new { type = AmazonLogType.SellerSettings }, new { @class = "btn btn-default" })
                <button class="btn btn-primary">Save</button>

            </span>
        </legend>

        @Html.HiddenFor(x => x.SiteId)

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.SellerId)
                    @Html.TextBoxFor(x => x.SellerId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.SellerId)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.MarketplaceId)
                    @Html.TextBoxFor(x => x.MarketplaceId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.MarketplaceId)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(x => x.BarcodeIsOfType)
                    @Html.DropDownList("BarcodeIsOfType",
                    Enum.GetValues(typeof(StandardProductIDType)).OfType<StandardProductIDType>().BuildSelectItemList(type => type.GetDescription(), type => type.GetDescription(), null, String.Empty), new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.BarcodeIsOfType)
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.DefaultFulfillmentCenter)
                    @Html.TextBoxFor(x => x.DefaultFulfillmentCenter, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DefaultFulfillmentCenter)
                </div>
            </div>
        </div>
    </fieldset>
}