@using System.Web.Mvc.Html
@using MrCMS.Web.Apps.Amazon.Models
@model MrCMS.Web.Apps.Amazon.Settings.AmazonSyncSettings
@{
    ViewBag.Title = "Amazon Sync Settings";
}

@using (Html.BeginForm("Sync", "Settings", new {id = ""}, FormMethod.Post))
{
    <fieldset>
        <legend>Amazon Sync Settings
            <span class="btn-group  display-inline  pull-right">
                <button class="btn btn-primary">Save</button>
                @Html.ActionLink("Logs", "Index", "Logs", new {type = AmazonLogType.SyncSettings}, new {@class = "btn btn-success"})
            </span>
        </legend>
        
        @Html.HiddenFor(x => x.SiteId)

        <div class="row-fluid">
            <div class="span6">
                <label class="checkbox">@Html.CheckBox("TryCalculateVat", Model.TryCalculateVat) Try calculate VAT?</label>
                <label class="checkbox">@Html.CheckBox("UseDefaultTaxRateForShippingTax", Model.UseDefaultTaxRateForShippingTax) Use default tax rate for calculating shipping tax?</label>
            </div>
            <div class="span6">
                @Html.LabelFor(x => x.LastRun)
                @Html.DisplayTextFor(x => x.LastRun)
            </div>       
        </div>
    </fieldset>
}