@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductSpecificationAttributeOption

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Add", "ProductSpecificationAttributeOption", FormMethod.Post))
{
    <fieldset>
        <legend>
            Add Product Specification Atrribute Option
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Add Atrribute Option" />
            </span>
        </legend>

        @Html.Hidden("attributeId", Model.ProductSpecificationAttribute.Id)
        @Html.HiddenFor(x => x.ProductSpecificationAttribute.Id)
        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new{@class="form-control"})
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </fieldset>
}