@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductSpecificationAttributeOption
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Edit", "ProductSpecificationAttributeOption", FormMethod.Post))
{
    <fieldset>
        <legend>
            Edit Product Specification Atrribute Option
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Update Atrribute Option" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        @Html.Hidden("attributeId", Model.ProductSpecificationAttribute.Id)
        @Html.HiddenFor(x => x.ProductSpecificationAttribute.Id)
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        <br />
        @Html.ValidationMessageFor(x => x.Name)
    </fieldset>
}