@model MrCMS.Web.Apps.Ecommerce.Entities.TaxRate


@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Add", "TaxRate", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Add Tax Rate</h3>
    </div>
    <div class="modal-body">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.LabelFor(x => x.Code)
        @Html.TextBoxFor(x => x.Code)
        @Html.LabelFor(x => x.Percentage)
        @Html.TextBoxFor(x => x.Percentage)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Add Tax Rate" />
    </div>
}