@model MrCMS.Web.Apps.Ecommerce.Entities.TaxRate

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}

@using (Html.BeginForm("Edit", "TaxRate", FormMethod.Post, new { id = "edit-tax-rate" }))
{
    <div class="modal-header">
        <h3>Edit Tax Rate</h3>
    </div>
    <div class="modal-body">
    @Html.HiddenFor(x => x.Id)
       @Html.HiddenFor(x => x.Country.Id)
       @Html.HiddenFor(x => x.Region.Id)
    @Html.LabelFor(x => x.Percentage)
    @Html.TextBoxFor(x => x.Percentage)
    </div>
    <div class="modal-footer">
         <button class="btn btn-primary" id="save-edit" data-action="save" data-form-id="edit-tax-rate">
                Save Changes</button>
    </div>
}