@model MrCMS.Web.Apps.Ecommerce.Entities.Tax.TaxRate
@{
    ViewBag.Title = "Edit " + Model.Name;
}

@using (Html.BeginForm("Edit", "TaxRate", FormMethod.Post, new { id = "edit-tax-rate" }))
{
    <fieldset>
    <legend>
        Edit - @Model.Name
        <span class="btn-group  display-inline  pull-right">
            @Html.ActionLink("Back to list", "Index", "TaxRate", null, new { @class = "btn" })
            <input class="btn btn-primary" id="save-edit" data-action="save" data-form-id="edit-tax-rate" type="submit" value="Save" /> 
        </span>
    </legend>
    @Html.HiddenFor(x => x.Id)
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)
    @Html.LabelFor(x => x.Code)
    @Html.TextBoxFor(x => x.Code)
    @Html.LabelFor(x => x.Percentage)
    @Html.TextBoxFor(x => x.Percentage)
    </fieldset>
}