@model MrCMS.Web.Apps.Ecommerce.Entities.TaxRate
@{
    ViewBag.Title = "Edit " + Model.Name;
}

<div class="row-fluid">
    <div class="span4">
        <h4>Edit - @Model.Name</h4>
    </div>
    <div class="span8">
        <div class="btn-group  display-inline  pull-right">
            @Html.ActionLink("Back to list", "Index", "TaxRate", null, new { @class = "btn" })
            <button class="btn btn-primary" id="save-edit" data-action="save" data-form-id="edit-tax-rate">
                Save</button>
        </div>
    </div>
</div>
@using (Html.BeginForm("Edit", "TaxRate", FormMethod.Post, new { id = "edit-tax-rate" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)
    @Html.LabelFor(x => x.Code)
    @Html.TextBoxFor(x => x.Code)
    @Html.LabelFor(x => x.Percentage)
    @Html.TextBoxFor(x => x.Percentage)
}