@using MrCMS.Web.Apps.Ecommerce.Settings
@model IList<MrCMS.Web.Apps.Ecommerce.Entities.Country>
@{
    ViewBag.Title = "Tax Rates";
}

<div class="row-fluid">
    <h3>Tax Settings</h3>
    @{ Html.RenderPartial("Settings", ViewData["settings"] as TaxSettings);}
</div>

<div class="row-fluid">
    <div class="span4">
        <h3>Tax Rates</h3>
    </div>
</div>
@foreach (var country in Model)
{
    <div class="pull-left">
        <strong>@country.Name</strong>
    </div>
    <div class="pull-left">
        &nbsp;&nbsp;@if (country.TaxRates != null && country.TaxRates.Where(x => x.Region == null).Count() > 0)
                    { 
            @country.TaxRates.Where(x => x.Region == null).First().Percentage.ToString("F") @Html.Encode("%") 
                    }
    </div>
    <div class="pull-right">
        <div class="btn-group">


            @if (country.TaxRates.Where(x => x.Region == null).Count() > 0)
            {
                @Html.ActionLink("Edit", "Edit", new { countryId = country.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                @Html.ActionLink("Delete", "Delete", new { countryId = country.Id }, new { @class = "btn btn-danger btn-mini", data_toggle = "fb-modal" })
            }
            else
            {
                @Html.ActionLink("Add", "Add", new { countryId = country.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
            }
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
            if (country.Regions.Count > 0)
            { 
    <ul>

        @foreach (var region in country.Regions)
        {
            <li>
                @region.Name &nbsp;&nbsp; @if (region.TaxRates.Count > 0)
                                          { 
                    @region.TaxRates.First().Percentage.ToString("F") @Html.Encode("%") 
                                          }

                <div class="btn-group pull-right">

                    @if (region.TaxRates.Count > 0)
                    {
                        @Html.ActionLink("Edit", "Edit", new { regionId = region.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                        @Html.ActionLink("Delete", "Delete", new { regionId = region.Id }, new { @class = "btn btn-danger btn-mini", data_toggle = "fb-modal" })
                    }
                    else
                    {
                        @Html.ActionLink("Add", "Add", new { regionId = region.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                    }
                </div>

                <div class="clearfix"></div>
                <br />
            </li>
        }

    </ul>
   
            }
}


