@using MrCMS.Web.Apps.Ecommerce.Settings
@using MrCMS.Helpers
@{
    ViewBag.Title = "Tax Rates";
}
<fieldset>
    <legend>Tax <span class="btn-group  display-inline  pull-right"><a href="@Url.Action("Add", "TaxRate")" class="btn btn-primary" data-toggle="fb-modal">
        Add Tax Rate</a> </span></legend>
</fieldset>
<h4>
    Tax Categories</h4>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Code
            </th>
            <th>
                Rate Percentage
            </th>
            <th>
                Is Default Rate?
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rate in Model)
        {
            <tr>
                <td>
                    @rate.Name
                </td>
                <td>
                    @rate.Code
                </td>
                <td>
                    @rate.Percentage
                </td>
                <td>
                    @rate.IsDefault
                </td>
                <td>
                    <div class="btn-group">
                        @Html.FormLink("Make Default", "MakeDefault", "TaxRate", new{id = rate.Id}, new {@class= "btn btn-mini"})
                        @Html.ActionLink("Edit", "Edit", new { id = rate.Id }, new { @class = "btn btn-mini" })
                        @Html.ActionLink("Delete", "Delete", new { id = rate.Id }, new { @class = "btn btn-danger btn-mini", data_toggle = "fb-modal" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr class="small-margin" />
<h4>
    Tax Settings</h4>
@{ Html.RenderPartial("Settings", ViewData["settings"] as TaxSettings);}
