@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.OrderRefund
@{
    ViewBag.Title = "Add Refund";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}   
@using (Html.BeginForm("Add", "OrderRefund", FormMethod.Post))
{
       <fieldset>
        <legend>Add Order Refund
                <span class="btn-group  display-inline  pull-right">
                     <input type="submit" class="btn-primary btn" value="Add Order Refund" />
                </span>
        </legend>
    </fieldset>

    @Html.HiddenFor(x => x.Order.Id)
    @Html.HiddenFor(x => x.User.Id)
    @Html.LabelFor(x => x.Amount)
    @Html.EditorFor(x => x.Amount)
    <span class="text-error">
    @Html.ValidationMessageFor(x => x.Amount)</span>
    <br />
        <br />
    @Html.LabelFor(x => x.Note)
    @Html.TextAreaFor(x => x.Note, new { style="width:500px;height:200px" })
}