@model MrCMS.Web.Apps.Ecommerce.Pages.Category
<div class="row-fluid">
    <div class="span3">
        @Html.LabelFor(webpage => webpage.FeatureImage)
        @Html.TextBoxFor(webpage => webpage.FeatureImage, new { @class = "media-selector" })
    </div>
    <div class="span9">
        @Html.LabelFor(category => category.Abstract)
        @Html.TextAreaFor(category => category.Abstract, new { rows=4, @class="span12"})
        @Html.ValidationMessageFor(category=>category.Abstract)
    </div>
</div>
@Html.LabelFor(webpage => webpage.DefaultProductSearchSort)
@Html.DropDownListFor(webpage => webpage.DefaultProductSearchSort, ViewData["product-search-sort-options"] as IEnumerable<SelectListItem>)