@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Pages.Product
<p></p>
@Html.LabelFor(product => product.PricePreTax)
@Html.TextBoxFor(product => product.PricePreTax)

@Html.LabelFor(product => product.PreviousPrice)
@Html.TextBoxFor(product => product.PreviousPrice)

@Html.LabelFor(product => product.SKU)
@Html.TextBoxFor(product => product.SKU)

@Html.LabelFor(product => product.StockRemaining)
@Html.TextBoxFor(product => product.StockRemaining)

@Html.LabelFor(product => product.TaxRate.Id, "Tax Rate")
@Html.DropDownListFor(product => product.TaxRate.Id, ViewData["taxrates"] as IEnumerable<SelectListItem>)

@if (Model.Gallery != null)
{
    @Html.LabelFor(product => product.Gallery.Id, "Gallery")
    @Html.ActionLink("To Gallery", "Edit", "MediaCategory", new { id = Model.Gallery.Id }, null)
}

@Html.Label("add-category", "Add Category")
@Html.TextBox("add-category")
<h5>Categories</h5>
<ul id="category-list">
    @for (int i = 0; i < Model.Categories.Count; i++)
    {
        <li>
            <input name="Categories[@i].Id" type="hidden" value="@Model.Categories[i].Id" />
            @Model.Categories[i].NestedName
            <a href="#" class="remove-category">x</a>
        </li>
    }
</ul>

@{ Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/edit-product.js"); }