@model MrCMS.Web.Apps.Ecommerce.Pages.Product
<div class="row-fluid">
    <div class="span3">
        @Html.LabelFor(product => product.Brand.Id, "Brand")
        @Html.DropDownListFor(product => product.Brand.Id, ViewData["brands"] as IEnumerable<SelectListItem>, new { @class = "span12" })
         <a href="@Url.Action("Add", "Brand", new { productId = Model.Id })" class="btn btn-mini btn-success" data-toggle="fb-modal">Add New</a>
    </div>
    <div class="span9">
        @Html.LabelFor(product => product.Abstract)
        @Html.TextAreaFor(product => product.Abstract, new { rows = 4, @class = "span12" })
    </div>
</div>
<hr />
<div class="row-fluid">
    <div class="span6">
        <h4>Prices and Variants</h4>
    </div>
    <div class="span6">
        @{ Html.RenderAction("PricingButtons", "Product", new { id = Model.Id });}
    </div>
</div>
@{ Html.RenderAction("PricingInfo", "Product", new { id = Model.Id }); }
<hr />
<div class="row-fluid">
    <div class="span6">
        @{Html.RenderAction("Categories", "Product", new { id = Model.Id });}
    </div>
    <div class="span6">
        @{Html.RenderAction("Specifications", "Product", new { id = Model.Id });}
    </div>
</div>
<hr />
@{ Html.RenderAction("Images", "Product", new { id = Model.Id }); }