@using MrCMS.Helpers
@using MrCMS.Settings
@using MrCMS.Website
@model MrCMS.Entities.Documents.Web.Webpage
@{
    var currentPage = CurrentRequestData.CurrentPage;
    var activePages = currentPage.ActivePages.Select(webpage => webpage.DocumentType).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.GetPageTitle()</title>
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        Html.IncludeCss("~/Apps/Ecommerce/Content/bootstrap/css/bootstrap.css");
        Html.IncludeCss("~/Apps/Ecommerce/Content/bootstrap/css/bootstrap-responsive.css");
        Html.IncludeCss("~/Apps/Ecommerce/Content/Styles/jquery-ui-bootstrap/jquery-ui-1.9.2.custom.css");
        Html.IncludeCss("~/Apps/Ecommerce/Content/Styles/style.css");
    }
    @Html.RenderCss()
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><script src="/Apps/Core/Content/Scripts/respond.min.js"></script><![endif]-->
    
    @Html.Raw(SiteSettings<SEOSettings>().TrackingScripts)
    @Html.Raw(Model.CustomHeaderScripts)
</head>
<body>
    <div id="wrap">
    <div class="container">
        <div class="pull-left">
            <img src="/Apps/Ecommerce/Content/Images/mrcms-logo.png" />
        </div>
 
         <div class="pull-right" id="checkout-nav-buttons">
               <div class="pull-left">
                    <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.Cart>())" class="btn btn-large btn-info" >
                              Basket
                        </a>
                   </div>
             &nbsp;
               <div class="pull-right">
               <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())" class="btn btn-large btn-info" >
                              Return to shop
                        </a>
                   </div>
        </div>
    </div>
        <br />
    <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                            <div id="checkout" class="wizard">
                            <ul class="steps">
                            <li class="span2 @(activePages.Contains("EnterOrderEmail", StringComparer.OrdinalIgnoreCase) ? "active" : "")">
                                <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">
                                    Welcome
                                </a>
                                <span class="chevron"></span></li>
                            <li class="span2 @(activePages.Contains("SetDeliveryDetails", StringComparer.OrdinalIgnoreCase) ? "active" : "")">
                                    Delivery
                                <span class="chevron"></span></li>
                            <li class="span2 @(activePages.Contains("PaymentDetails", StringComparer.OrdinalIgnoreCase) ? "active" : "")">
                                    Payment
                                <span class="chevron"></span></li>
                            <li class="span2 @(activePages.Contains("OrderPlaced", StringComparer.OrdinalIgnoreCase) ? "active" : "")">
                                    Receipt
                                <span class="chevron"></span></li>
                            </ul>
                            </div>
                </div>
            </div>
        </div>
     
      <div class="container">
        @RenderBody()
           </div>

      <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
      <ul>
          <li><a href="#">About &bull;</a></li>
           <li><a href="#">Contact Us &bull;</a></li>
           <li><a href="#">Privacy Policy & Cookie Info &bull;</a></li>
          <li><a href="#">Mr CMS</a></li>
      </ul>
    </div>
 </div>


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    @{ Html.IncludeScript("~/Apps/Ecommerce/Content/bootstrap/js/bootstrap.min.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.validate.min.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.validate.unobtrusive.min.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/bootstrap.dropdown.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/ecommerce.js");
    }
    @Html.RenderScripts()
    @if (IsSectionDefined("JavascriptBlockInclude"))
    {
        @RenderSection("JavascriptBlockInclude")
    }
    @Html.Raw(Model.CustomFooterScripts)
</body>
</html>
