@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.Users.Address
@{
    var otherAddresses = ViewData["other-addresses"] as List<SelectListItem>;
}
<div id="billing-address">
    @using (Html.BeginForm("SaveBillingAddress", "PaymentDetails", FormMethod.Post))
    {
        if (otherAddresses != null && otherAddresses.Any())
        {
        <div class="row-fluid">
            <div class="span4 align-right line-height-30">
                Existing Address :
            </div>
            <div class="span8">
                <div class="row-fluid">
                    @Html.DropDownList("existing-addresses", otherAddresses)
                </div>
            </div>
        </div>
        }
        <div class="row-fluid">
            <div class="span4">
                @Html.LabelFor(address => address.FirstName)
            </div>
            <div class="span8">
                @Html.TextBoxFor(address => address.FirstName)
                @Html.ValidationMessageFor(address => address.FirstName)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                @Html.LabelFor(address => address.LastName)
            </div>
            <div class="span8">
                @Html.TextBoxFor(address => address.LastName)
                @Html.ValidationMessageFor(address => address.LastName)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                @Html.LabelFor(address => address.Company)
            </div>
            <div class="span8">
                @Html.TextBoxFor(address => address.Company)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                @Html.LabelFor(address => address.PhoneNumber)
            </div>
            <div class="span8">
                @Html.TextBoxFor(address => address.PhoneNumber)
                @Html.ValidationMessageFor(address => address.PhoneNumber)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                @Html.LabelFor(address => address.Address1)
            </div>
            <div class="span8">
                @Html.TextBoxFor(address => address.Address1)
                @Html.ValidationMessageFor(address => address.Address1)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                @Html.LabelFor(address => address.Address2)
            </div>
            <div class="span8">
                @Html.TextBoxFor(address => address.Address2)
                @Html.ValidationMessageFor(address => address.Address2)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                @Html.LabelFor(address => address.City)
            </div>
            <div class="span8">
                @Html.TextBoxFor(address => address.City)
                @Html.ValidationMessageFor(address => address.City)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                @Html.LabelFor(address => address.StateProvince)
            </div>
            <div class="span8">
                @Html.TextBoxFor(address => address.StateProvince)
                @Html.ValidationMessageFor(address => address.StateProvince)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                @Html.LabelFor(address => address.Country)
            </div>
            <div class="span8">
                @Html.DisplayFor(address => address.Country.Name)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                @Html.LabelFor(address => address.PostalCode)
            </div>
            <div class="span8">
                @Html.TextBoxFor(address => address.PostalCode)
                @Html.ValidationMessageFor(address => address.PostalCode)
            </div>
        </div>
        <input type="submit" class="btn btn-info" id="continue" name="continue" value="Submit" />
    }
</div>
