@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@using MrCMS.Helpers
@using System.Linq
@using MrCMS.Web.Apps.Ecommerce.Entities.Products
@{
    var selectedVariant = ViewData["selected-variant"] as ProductVariant ?? Model.Variants.First();
    var hasSpecifications = Model.SpecificationValues.Any();
}
@Html.HiddenFor(x => x.UrlSegment)
@{ Html.RenderPartial("VariantDetails", selectedVariant);}

<div class="margin-top-bottom-30">
    <div class="container">
        <div class="row" id="fulldescription">
            <div class="@(hasSpecifications ? "col-sm-6" : "col-sm-12")">
                <div class="block-title">
                    <span>
                        <img src="/Apps/Ecommerce/Content/Images/description.png"/>
                    </span>
                    Full Description
                </div>
                @Editable(Model, product => product.BodyContent)
                <div class="clearfix"></div>
                @RenderZone("Below Product Description")
            </div>
            @if (hasSpecifications)
            {
                
                <div class="col-sm-6">
                    <div class="block-title">
                        <span>
                            <img src="/Apps/Ecommerce/Content/Images/specification.png"/>
                        </span>
                        Specification
                    </div>
                    @{
                        Html.RenderPartial("ProductSpecifications", Model);
                    }
                </div>
            }
        </div>
    </div>
</div>
@RenderZone("Below Product Information")
@{
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.history.js");
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/product.js");
}
