@using System.Drawing
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Entities.Products
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Web.Apps.Ecommerce.Settings
@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
@{
    var product = Model.Product;
    var cart = ViewData["cart"] as CartModel;
    var canBuy = Model.CanBuy(cart, 1);
}

<div class="margin-bottom-30 grey-border-top" id="variant-details">
    <div class="container">
        <div class="margin-top-bottom-30">
            <div class="row">
                <div class="col-sm-12">
                    <h1>@Editable(Model, x => x.Product.Name)</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    @{ Html.RenderPartial("ProductImages", Model); }
                </div>
                <div class="col-sm-4">
                    <div class="price margin-bottom-10">
                        @Model.Price.ToCurrencyFormat()
                        @if (canBuy.OK)
                        {
                            <span class="instock">in stock</span>
                        }
                        @if (Model.ShowPreviousPrice)
                        {
                            <span class="previous-price">
                                <span class="inner">@Model.PreviousPrice.Value.ToCurrencyFormat()</span>
                            </span>
                        }
                    </div>
                    
                    @if (!Model.SoldOut)
                    {
                        if (product.IsMultiVariant)
                        {
                            <div class="margin-bottom-10">
                                <div class="col-sm-3 col-xs-4 padding-left-0">
                                    <label class="line-height-30">Options :</label>
                                </div>
                                <div class="col-sm-9 col-xs-8 padding-right-0">
                                    @Html.DropDownList("variant", product.GetVariantOptions(Model), new { @class = "form-control" })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }

                        if (canBuy.OK)
                        {
                            Html.RenderAction("AddToCart", "Cart", new { model = new AddToCartModel { ProductVariant = Model, Quantity = 1 } });
                        }
                        if (canBuy is OutOfStock)
                        {
                            Html.RenderAction("BackInStockForm", "Product", new { id = Model.Id } );
                        }
                        if (canBuy is CannotOrderQuantity)
                        {
                            <p class="text-center">
                                You currently have all available stock in your cart
                            </p>
                        }
                        if (canBuy is NoShippingMethodWouldBeAvailable)
                        {
                            <p class="text-center">
                                @canBuy.Message
                            </p>
                        }

                        if (product.Brand != null)
                        {
                            if (!string.IsNullOrWhiteSpace(product.Brand.Logo))
                            {
                                <div>
                                    @RenderImage(product.Brand.Logo, new Size {Width = 120}, product.Brand.Name, product.Brand.Name, new {@class = "img-responsive"})
                                </div>
                            }
                        }

                        Html.RenderAction("Add", "Wishlist", new { productVariant = Model });
                        
                        Html.RenderPartial("ProductPricebreaks", Model);

                    }
                    else
                    {
                        @Html.Raw(Model.SoldOutMessage)
                    }

                    @if (!string.IsNullOrWhiteSpace(product.Abstract))
                    {
                        <div class="padding-bottom-10">
                            @Editable(product, p => p.Abstract, true)
                        </div>
                    }

                    <div class="padding-bottom-10" id="readFullDescription">
                        <p class="hidden-xs">
                            <a href="#fulldescription" title="Read full description">Read full description</a>
                        </p>
                    </div>
                    
                    @{ RenderZone("Below Product Price");}
                </div>
                <div class="col-sm-3">
                    <div class="padding-bottom-10 margin-bottom-20 grey-border-bottom hidden-xs">
                        <img src="/Apps/Ecommerce/Content/Images/secure.jpg" class="img-responsive" alt="Secure payments"/>
                    </div>
                    @{Html.RenderPartial("SocialLinks");}
                </div>
            </div>
        </div>
    </div>
</div>

@{ RenderZone("Below Add to cart"); }
