@model MrCMS.Web.Apps.Ryness.Entities.Testimonial
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Add", "Testimonial", FormMethod.Post))
{
    <fieldset>
        <legend>Add Testimonial
            <span class="btn-group  display-inline  pull-right">
                @Html.ActionLink("Back to list", "Index", "Testimonial", null, new { @class = "btn" })
                <input type="submit" class="btn-primary btn" value="Save" />
            </span>
        </legend>
    </fieldset>
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "span10" })
    @Html.ValidationMessageFor(x => x.Name)
    <br/>
    @Html.LabelFor(x => x.Text)
    @Html.TextAreaFor(x => x.Text, new { @class = "ckedit-enabled" })
    @Html.ValidationMessageFor(x => x.Text)
    <br/>
    <input type="submit" class="btn-primary btn" value="Save" />
}