@model IList<MrCMS.Web.Apps.Ryness.Entities.Testimonial>
@{
    ViewBag.Title = "Testimonials";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form>
    <fieldset>
        <legend>Testimonials
            <span class="btn-group display-inline pull-right">
                @Html.ActionLink("Add", "Add", null, new { @class = "btn btn-success" })
            </span>
        </legend>
        
        <table class="table table-condensed table-striped">
            <tr>
                <th>Name</th>
                <th>Created On</th>
                <th></th>
            </tr>
            @foreach (var testimonial in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(testimonial.Name, "Edit", new { id = testimonial.Id } )
                    </td>
                    <td>
                        @testimonial.CreatedOn
                    </td>
                    <td>
                        <div class="btn-group">
                            @Html.ActionLink("Edit", "Edit", new { id = testimonial.Id }, new { @class = "btn btn-mini" })
                            @Html.ActionLink("Delete", "Delete", new { id = testimonial.Id }, new { @class = "btn btn-danger btn-mini", data_toggle = "fb-modal" })
                        </div>
                    </td>
                </tr>
            }
        </table>
    </fieldset>
</form>