@model IEnumerable<MobileFriendlyNavigationRootNode>
@{
    Html.IncludeScript("~/Apps/MobileFriendlyNavigation/Content/Sidr/jquery.sidr.min.js");
    Html.IncludeScript("~/Apps/MobileFriendlyNavigation/Content/Scripts/mrcms/helpers.js");
    Html.IncludeScript("~/Apps/MobileFriendlyNavigation/Content/Scripts/mrcms/mobileFriendlyNavigation.js");
    var currentPage = CurrentRequestData.CurrentPage;
    var activePages = currentPage.ActivePages.Select(webpage => "/" + webpage.LiveUrlSegment).ToList();
}

<div id="mfnav-desktop" data-mfnav="root">
    <ul data-mfnav="nav" data-mfnav-max-levels="3" data-mfnav-url="/MobileFriendlyNavigation/GetChildNodes" class="mfnav nav navbar-nav">
        @foreach (MobileFriendlyNavigationRootNode rootNode in Model)
{
    <li data-mfnav="item" class="@(rootNode.HasSubMenu ? "has-sub-nav" : string.Empty) @(activePages.Contains(rootNode.Url.ToString(), StringComparer.OrdinalIgnoreCase) ? "active" : "")">
        <a href="@rootNode.Url">
            @rootNode.Text
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

        @*@if (rootNode.HasSubMenu)
            {
                <ul data-mfnav="subNav" class="sub-nav">
                    @foreach (MobileFriendlyNavigationChildNode childNode in rootNode.Children)
                    {
                        <li data-mfnav="item" data-mfnav-id="@childNode.Id" data-mfnav-has-sub-nav="@childNode.GetJsHasSubMenu()" class="@(childNode.HasSubMenu ? "has-sub-nav" : string.Empty)">
                            <a href="@childNode.Url">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                @childNode.Name
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>
                    }
                </ul>
            }*@
    </li>
}
    </ul>
</div>

<div data-mfnav="mobile" style="display: none">
    <div data-mfnav="mobileHeader" class="mobile-header">
        @*<div class="clearfix">
            <div class="m-left">
                <a data-mfnav="mobileBack" href="#">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div data-mfnav="mobileTitle" class="m-center"></div>
            <div class="m-right"></div>
        </div>*@

        <div data-mfnav="mobileCrumbs" class="mobile-crumbs"></div>
    </div>
</div>
<div class="clearfix"></div>