@using MrCMS.Web.Apps.CustomerFeedback.Entities
@model FeedbackRecord
@{
    var orderFeedback = Model.FeedbackRecords.OfType<FeedbackFacetRecord>().ToList();
    var productVariantFeedback = Model.FeedbackRecords.OfType<ProductVariantFeedbackRecord>().ToList();
}
<fieldset>
    <legend>
        Order #@Model.Order.Id Feedback
        <span class="pull-right display-inline btn-group">
            <a href="@Url.Action("ShowInteraction", "CustomerInteraction", new { id = Model.Order.Id })" class="btn btn-primary">Customer Interaction</a>
            <a href="@Url.Action("Index", "FeedbackRecord")" class="btn btn-default">Back</a>
        </span>
    </legend>


    @if (orderFeedback.Any())
    {
        <h4>Order Feedback</h4>
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>Facet</th>
                    <th>Customer Rating</th>
                    <th>Customer Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in orderFeedback)
                {
                    <tr>
                        <td>@item.FeedbackFacet.Name</td>
                        <td>@item.Rating</td>
                        <td>@item.Message</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (productVariantFeedback.Any())
    {
        <hr/>
        <h4>Product Feedback</h4>
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>Product Variant</th>
                    <th>Customer Rating</th>
                    <th>Customer Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in productVariantFeedback)
                {
                    <tr>
                        <td>@item.ProductVariant.Name</td>
                        <td>@item.Rating</td>
                        <td>@item.Message</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</fieldset>