@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
<div class="block-title">
    <div class="h1style">
        @Resource("Delivery Details")
    </div>
</div>
<ul class="media-list">
    <li>@(Model.ShippingAddress.Name ?? String.Empty)</li>
    <li>@(Model.ShippingAddress.PhoneNumber ?? String.Empty)</li>
    <li>@(Model.ShippingAddress.Company ?? String.Empty)</li>
    <li>@(Model.ShippingAddress.Address1 ?? String.Empty)</li>
    <li>@(Model.ShippingAddress.Address2 ?? String.Empty)</li>
    <li>@(Model.ShippingAddress.City ?? String.Empty)</li>
    <li>@(Model.ShippingAddress.PostalCode ?? String.Empty)</li>
    <li>@(Model.ShippingAddress.GetCountryName())</li>
</ul>
<a class="btn btn-default" id="edit" href="@(UniquePageHelper.GetUrl<SetShippingDetails>())">Edit</a>