@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
<h4>Delivery Details</h4>
<ul class="media-list">
    <li>@(Model.ShippingAddress.Name??String.Empty)</li>
    <li>@(Model.ShippingAddress.PhoneNumber??String.Empty)</li>
    <li>@(Model.ShippingAddress.Company??String.Empty)</li>
    <li>@(Model.ShippingAddress.Address1??String.Empty)</li>
    <li>@(Model.ShippingAddress.Address2??String.Empty)</li>
    <li>@(Model.ShippingAddress.City??String.Empty)</li>
    <li>@(Model.ShippingAddress.PostalCode??String.Empty)</li>
    <li>@(Model.ShippingAddress.GetCountryName())</li>
</ul>
<a class="btn btn-grey" id="edit" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.SetShippingDetails>())">Edit</a>