@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers

@if (Model.CanUsePayPalExpress)
{
    if (Model.IsPayPalTransaction)
    {
        <div class="grey-background padding-20 margin-bottom-20">
            <p><strong>@(Resource("Don't want to use PayPal after all?"))</strong></p>

            @using (Html.BeginForm("Reset", "PayPalExpressCheckout", FormMethod.Post))
            {
                @Html.ReturnToThis()
                <button type="submit" class="btn btn-primary">@Resource("Use standard checkout")</button>
            }
        </div>
    }
    else
    {
        <div class="grey-background padding-20 margin-bottom-20">
            <p><strong>@(Resource("Or Checkout with"))...</strong></p>

            @using (Html.BeginForm("SetExpressCheckout", "PayPalExpressCheckout", FormMethod.Post))
            {
                <input type="image" src="/Apps/Ecommerce/Content/Images/paypal-button.png" />
            }
        </div>
    }
}
<div class="grey-background padding-20 margin-bottom-20">
    <p>
        <strong>@Resource("Your Email")</strong>
        <span class="pull-right"><img src="~/Apps/Ecommerce/Content/Images/tick-sm.png" alt="tick"/></span>
    </p>
    <p>@Model.OrderEmail</p>
    @if (MrCMS.Website.CurrentRequestData.CurrentUser == null)
    {
        <a class="btn btn-default" id="edit" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">Edit</a>
    }
</div>
