@using System.Linq
@using System.Net.Configuration
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers.Cart
@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Web.Apps.Ecommerce.Settings
@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
<div id="basic-details" class="margin-bottom-20">
    @if (Model.Items.Any())
    {
        <div class="block-title">
            <div class="h1style">
                @Resource("Order Summary")
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>@Resource("Description")</th>
                    <th>@Resource("Amount")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            <ul class="media-list">
                                <li>@item.Name</li>
                                <li>@Resource("Item Price") : @item.UnitPrice.ToCurrencyFormat()</li>
                                <li>@Resource("Quantity") : @item.Quantity</li>
                            </ul>
                        </td>
                        <td>@item.Price.ToCurrencyFormat()</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>@Resource("Sub Total") :</th>
                    <td>@Model.TotalPreShipping.ToCurrencyFormat()</td>
                </tr>
                @if (Model.ShippingTotal > decimal.Zero)
                {
                    <tr>
                        <th>@Resource("Shipping") :</th>
                        <td>@Model.ShippingTotal.ToCurrencyFormat()</td>
                    </tr>
                }
                @if (Model.HasOrderTotalDiscount())
                {
                    <tr>
                        <th>@Resource("Discount") : </th>
                        <td>@((-Model.OrderTotalDiscount).ToCurrencyFormat())</td>
                    </tr>
                }
                @if (MrCMS.Website.MrCMSApplication.Get<TaxSettings>().TaxesEnabled)
                {
                    <tr>
                        <th>@Resource("Tax") : </th>
                        <td>@Model.Tax.ToCurrencyFormat()</td>
                    </tr>
                }
                <tr>
                    <th>@Resource("Total") :</th>
                    <td><strong>@Model.Total.ToCurrencyFormat()</strong></td>
                </tr>
                @if (Model.AppliedGiftCards.Any() || Model.UseRewardPoints)
                {
                    foreach (var card in Model.AppliedGiftCards)
                    {
                        <tr>
                            <td>
                                @Resource("Gift Card") @card.Code
                            </td>
                            <td>
                                @card.AvailableAmount.ToCurrencyFormat()
                            </td>
                        </tr>
                    }
                    if (Model.UseRewardPoints)
                    {
                        <tr>
                            <td>
                                Reward points applied (@Model.AppliedRewardPoints)
                            </td>
                            <td>
                                @((-Model.AppliedRewardPointsAmount).ToCurrencyFormat())
                            </td>
                        </tr>
                        
                    }
                    <tr>
                        <th>@Resource("Total to pay"):</th>
                        <td><strong>@Model.TotalToPay.ToCurrencyFormat()</strong></td>
                    </tr>
                }
            </tfoot>
        </table>
    }
    <a class="btn btn-default" id="edit" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.Cart>())">@Resource("Edit")</a>
</div>