@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Settings
@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
<div id="basic-details">
    @if (Model.Items.Any())
    {
        <h4>Your Order</h4>
        <table class="table summary-table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            <ul class="media-list summary-items">
                                <li>@item.Name</li>
                                <li class="summary-small">Item Price : @item.UnitPrice.ToCurrencyFormat()</li>
                                <li class="summary-small">Quantity : @item.Quantity</li>
                            </ul>
                        </td>
                        <td>@item.Price.ToCurrencyFormat()</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Sub Total :</th>
                    <td>@Model.TotalPreShipping.ToCurrencyFormat()</td>
                </tr>
                @if (Model.ShippingTotal.HasValue)
                {
                    <tr>
                        <th class="no-border">Shipping :</th>
                        <td class="no-border">@Model.ShippingTotal.Value.ToCurrencyFormat()</td>
                    </tr>
                }
                @if (Model.HasDiscount)
                {
                    <tr>
                        <th class="no-border">Discount : </th>
                        <td class="no-border">@((-Model.OrderTotalDiscount).ToCurrencyFormat())</td>
                    </tr>
                }
                @if (MrCMS.Website.MrCMSApplication.Get<TaxSettings>().TaxesEnabled)
                {
                    <tr>
                        <th class="no-border">Tax : </th>
                        <td class="no-border">@Model.Tax.ToCurrencyFormat()</td>
                    </tr>
                }
                <tr>
                    <th class="no-border">Total :</th>
                    <td class="no-border"><strong>@Model.Total.ToCurrencyFormat()</strong></td>
                </tr>
            </tfoot>
        </table>
    }
    <a class="btn btn-info" id="edit" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.Cart>())">Edit</a>
</div>