@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Entities.Cart
@using MrCMS.Web.Apps.Ecommerce.Entities.GiftCards
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers.Cart
@using MrCMS.Web.Apps.Ecommerce.Pages
@using MrCMS.Web.Apps.Ecommerce.Settings
@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
<div id="basic-details" class="margin-bottom-20">
    @if (Model.Items.Any())
    {
        <div class="block-title">
            <div class="h1style">
                @Resource("Order Summary")
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>@Resource("Description")</th>
                    <th>@Resource("Amount")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CartItem item in Model.Items)
                {
                    <tr>
                        <td>
                            <ul class="media-list">
                                <li>@item.Name</li>
                                <li>@Resource("Item Price"): @item.UnitPrice.ToCurrencyFormat()</li>
                                <li>@Resource("Quantity"): @item.Quantity</li>
                            </ul>
                        </td>
                        <td>@item.Price.ToCurrencyFormat()</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>@Resource("Sub Total"):</th>
                    <td>@Model.TotalPreShipping.ToCurrencyFormat()</td>
                </tr>
                @if (Model.ShippingTotalPreDiscount > decimal.Zero)
                {
                    <tr>
                        <th>@Resource("Shipping"):</th>
                        <td>@Model.ShippingTotalPreDiscount.ToCurrencyFormat()</td>
                    </tr>
                }
                @if (Model.ShippingDiscount > decimal.Zero)
                {
                    <tr>
                        <th>@Resource("Shipping Discount"):</th>
                        <td>@((-Model.ShippingDiscount).ToCurrencyFormat())</td>
                    </tr>
                }
                @if (Model.HasOrderTotalDiscount())
                {
                    <tr>
                        <th>@Resource("Discount"): </th>
                        <td>@((-Model.OrderTotalDiscount).ToCurrencyFormat())</td>
                    </tr>
                }
                @if (SiteSettings<TaxSettings>().TaxesEnabled)
                {
                    <tr>
                        <th>@Resource("Tax"): </th>
                        <td>@Model.Tax.ToCurrencyFormat()</td>
                    </tr>
                }
                <tr>
                    <th>@Resource("Total"):</th>
                    <td><strong>@Model.Total.ToCurrencyFormat()</strong></td>
                </tr>
                @if (Model.AppliedGiftCards.Any() || Model.UseRewardPoints)
                {
                    foreach (GiftCard card in Model.AppliedGiftCards)
                    {
                        <tr>
                            <td>
                                @Resource("Gift Card") @card.Code
                            </td>
                            <td>
                                @card.AvailableAmount.ToCurrencyFormat()
                            </td>
                        </tr>
                    }
                    if (Model.UseRewardPoints)
                    {
                        <tr>
                            <td>
                                Reward points applied (@Model.AppliedRewardPoints)
                            </td>
                            <td>
                                @((-Model.AppliedRewardPointsAmount).ToCurrencyFormat())
                            </td>
                        </tr>
                    }
                    <tr>
                        <th>@Resource("Total to pay"):</th>
                        <td><strong>@Model.TotalToPay.ToCurrencyFormat()</strong></td>
                    </tr>
                }
            </tfoot>
        </table>
    }
    <a class="btn btn-default margin-bottom-20" id="edit" href="@(UniquePageHelper.GetUrl<Cart>())">@Resource("Edit")</a>
    <div class="margin-bottom-20">
        <div class="block-title">
            <div class="h1style">
                @Resource("Discounts")
            </div>
        </div>
        @using (Html.BeginForm("Apply", "Discount", FormMethod.Post, new { data_apply_discount = true }))
        {
            <div class="row margin-bottom-10" id="discount-code-box">
                <div class="col-sm-4 line-height-30">
                    Discount Code
                </div>
                <div class="col-sm-4">
                    <input class="form-control" type="text" name="discountCode" />
                    <div class="visible-xs" style="padding-top: 5px;"></div>
                </div>
                <div class="col-sm-4">
                    <button type="submit" id="apply-discount-code" class="btn btn-default btn-block">Apply Code</button>
                </div>
            </div>
        }
        @if (Model.Discounts.Any())
        {
            <div class="row margin-bottom-10">
                <div class="col-xs-4 line-height-30">
                    Discount@(Model.Discounts.Count > 1 ? "s" : "")
                </div>
                <div class="col-xs-8 text-right">
                    <ul class="list-unstyled margin-bottom-0">
                        @foreach (var discount in Model.Discounts.Select(x => x.Discount))
                        {
                            <li class="line-height-30">
                                @discount.Name
                                @if (discount.RequiresCode)
                                {
                                    <span>(<a data-remove-discount-code="@Url.Action("Remove", "Discount", new {discountCode = discount.Code})" href="#">Remove</a>)</span>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
