@using MrCMS.Helpers
@using MrCMS.Settings
@using MrCMS.Website
@model MrCMS.Entities.Documents.Web.Webpage
@{
    Layout = "_BaseLayout.cshtml";
}
<header>
    
    <div class="navbar navbar-fixed-top visible-phone">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse">
                    @RenderZone("Navigation")
                </div>
                <div class="pull-right" style="position:fixed;top:0;right:0;">
                    @RenderZone("User Links")
                    <div class="mobile-menu"><a href="/basket" title="Basket"><img src="/Themes/Ryness/Content/Images/mobile-cart.png" alt="Cart"/></a></div>
                    <div class="clearfix"></div>
                </div>           
                @*
                    @RenderZone("Header Right")
                *@
            </div>
        </div>
    </div>
   

    <div class="container visible-phone margin-bottom-20">
        <div class="row-fluid">
            <div class="span12 text-align-center">
                <a href="/"><img src="/Themes/Ryness/Content/Images/logo.jpg" alt="Ryness Logo" title="Ryness" width="170" height="50"/></a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="s-mobile">
                    <div class="s-left">
                        <div class="row-fluid">
                            <input type="text" placeholder="eg : Wall Lights" class="span12" id="searchTerm1" name="searchTerm"/>
                        </div>
                    </div>
                    <div class="s-right">
                        <div class="row-fluid">
                            <button class="btn span12" id="searchButton1" name="searchButton">Search</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container hidden-phone">
        <div class="row-fluid">
            <div class="span3 padding-top-bottom-10 logo-con">
                @RenderZone("Header left")
            </div>
            <div class="span6 padding-top-bottom-20 margin-top-13 header-middle">
                @RenderZone("Header Middle")
            </div>
            <div class="span3 header-left">
                <div class="text-align-right header-links padding-top-bottom-5">
                    @RenderZone("User Links")
                </div>
                <div class="clearfix">
                </div>
                <div class="row-fluid padding-top-bottom-5 basket-items">
                    <div class="span12">
                        @RenderZone("Header Right")
                        <div class="clearfix"></div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="menu-con hidden-phone">
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="pull-left">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                        <span class="pull-left section">Menu
                        </span>
                    </a>
                    <div class="nav-collapse collapse">
                        @RenderZone("Navigation")
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="all-contents">
    @RenderZone("Before Content")
    @RenderBody()
    @RenderZone("After Content")
    <footer>
        <div class="container">
            <div class="row-fluid padding-top-bottom-10">
                <div class="span3">
                    <div class="sub-header">
                        Ryness
                    </div>
                    <div class="block-content">
                        @RenderZone("Footer")
                    </div>
                </div>
                <div class="span3">
                    <div class="sub-header">
                        Customer service
                    </div>
                    <div class="block-content">
                        @RenderZone("Footer Area 2")
                    </div>
                </div>
                <div class="span3">
                    <div class="sub-header">
                        Buying guides
                    </div>
                    <div class="block-content">
                        @RenderZone("Footer Area 3")
                    </div>
                </div>
                <div class="span3">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="sub-header">
                                Newsletter
                            </div>
                            <div class="block-content">
                                @RenderZone("Footer Area 4")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <div class="headoffice">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 white-text padding-top-bottom-10 text-align-center">
                    Head Office - Ryness Electrical Supplies Ltd, 413 North End Road, London, SW6 1NS - <a href="mailto:sales@ryness.co.uk">sales@ryness.co.uk</a>
                </div>
            </div>
        </div>
    </div>
    <div class="payment-con">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 text-align-center">
                    <img src="/Themes/Ryness/Content/Images/payment.jpg" alt="Payment methods" title="Payment methods" />
                </div>
            </div>
        </div>
    </div>
</div>