@model MrCMS.Web.Apps.Ryness.Widgets.Slider
           
<div class="slider-con">
    <div class="container">
        <div class="row-fluid padding-top-bottom-20">
            <div class="span12 slider-border">
                <div class="theme-default">
                    <div id="slider" class="nivoSlider">
                        @if (!string.IsNullOrWhiteSpace(Model.SliderImage1))
                        {
                            <a href="@Model.SliderUrl1"><img src="@Model.SliderImage1" /></a>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.SliderImage2))
                        {
                            <a href="@Model.SliderUrl2"><img src="@Model.SliderImage2" /></a>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.SliderImage3))
                        {
                            <a href="@Model.SliderUrl3"><img src="@Model.SliderImage3" /></a>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.SliderImage4))
                        {
                            <a href="@Model.SliderUrl4"><img src="@Model.SliderImage4" /></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>