@using MrCMS.Website

@model MrCMS.Web.Apps.Core.Models.Navigation.NavigationRecord
@{
    var currentPage = CurrentRequestData.CurrentPage;
    var activePages = currentPage.ActivePages.Select(webpage => "/" + webpage.LiveUrlSegment).ToList();
}

<ul>
@foreach (var record in Model.Children)
{
    if (record.Children.Any())
    {
        <li>
            <a href="@record.Url">@record.Text</a>
            @Html.Partial("_ChildCategories", record)
        </li>
    }
    else
    {
        <li class="@(activePages.Contains(record.Url.ToString(), StringComparer.OrdinalIgnoreCase) ? "active" : "")">
            <a href="@record.Url">@record.Text</a>
        </li>
    }
}
</ul>