@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Widgets.FeaturedProductsViewModel
@if (Model != null)
{
    <hr />
    if (!String.IsNullOrEmpty(Model.Title))
    {
    <h4>@Model.Title</h4>
    }

    <div class="row-fluid">
    @foreach (var item in Model.Products)
    {
            <div class="span3">
                <div style="height:200px; overflow:hidden;" >
                @if(item.Images.Count()>0)
                {
                    <img src="@(item.Images.First<MrCMS.Entities.Documents.Media.MediaFile>().FileUrl)" class="img-rounded pull-left span12" />
                }
                </div>
                    <div class="clearfix"></div>
                <h4 class="product-title"><a href="/@item.LiveUrlSegment">@item.Name</a></h4>
                <div style="height:130px;">@(item.Abstract.Length>255?item.Abstract.Substring(0,250)+"...":item.Abstract)</div>
                    <h1 class="product-price">
                    &pound;
                    @if (item.PricePreTax == 0 && item.Variants.Count>0)
                    {
                        @(item.Variants.OrderBy(x=>x.Price).First<MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant>().Price)
                    }
                    else
                    {
                        @item.PricePreTax;
                    }
                </h1>
                <span>shop price &pound;@(item.PreviousPrice.HasValue?item.PreviousPrice.Value.ToString("#.##"):"")</span>

           </div>
    }
    </div>
}