@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Ecommerce.Models.UserAccountOrdersModel

<div data-paging-type="async">
<h3>Your Orders</h3>
@if (Model != null && !Model.Items.Any())
{
    @:You have no orders yet.
}
else
{
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Order Id
                </th>
                <th>Payment Status
                </th>
                <th>Shipping Status
                </th>
                <th>Amount
                </th>
                <th>Created On
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.PaymentStatus
                    </td>
                    <td>
                        @item.ShippingStatus
                    </td>
                    <td>
                        @item.Total.ToCurrencyFormat()
                    </td>
                    <td>
                        @item.CreatedOn
                    </td>
                    <th>@item.Guid</th>
                </tr>
            }
        </tbody>
    </table>
     @Html.Pager(Model.Items, "UserAccountOrders", i => new { Model.Id, page = i })
}
</div>
@{ Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/async-paging.js"); }