@using MrCMS.Helpers
@using MrCMS.Web.Apps.Amazon.Models
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Amazon.Entities.Listings.AmazonListingGroup
@{
    ViewBag.Title = "Edit Amazon Listing Group";
}

@using (Html.BeginForm("Edit", "ListingGroup", FormMethod.Post, new { @class = "margin0" }))
{
    <fieldset>
        <legend>
            <div class="row-fluid">
                <div class="span12">
                    <span class="btn-group  display-inline  pull-right margin-left-10">
                        @Html.ActionLink("Back to Listing Groups", "Index", "ListingGroup", null, new { @class = "btn" })
                    </span>
                    <span class="btn-group  display-inline  pull-left">
                        @Html.ActionLink("Add Single", "ChooseProductVariant", "Listing", new { id = Model.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Bulk Add", "AddMany", "Listing", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    </span>
                    <span class="btn-group  display-inline  pull-left">
                        @Html.ActionLink("Sync", "SyncMany", "Listing", new { id = Model.Id }, new { @class = "btn btn-success" })
                        @(Model.IsListed ? Html.ActionLink("Close", "CloseMany", "Listing", new { id = Model.Id }, new { @class = "btn btn-warning" }) : Html.ActionLink("Delete", "Delete", "ListingGroup", new { id = Model.Id }, new { @class = "btn btn-danger", data_toggle = "fb-modal" }))
                    </span>
                </div>
            </div>
        </legend>


        <div class="row-fluid">
            <div class="span6">
                @Html.HiddenFor(x => x.Id)
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "span12" })
            </div>
            <div class="span6">
                @Html.LabelFor(x => x.FulfillmentChannel)
                @Html.DropDownListFor(x => x.FulfillmentChannel, Enum.GetValues(typeof(AmazonFulfillmentChannel))
                                                                     .OfType<AmazonFulfillmentChannel>().BuildSelectItemList(type => type.GetDescription(),
                                                                                                                             type => type.ToString(), type => type == Model.FulfillmentChannel, "Choose Fulfillment Channel"), null, new { @class = "margin0" })
                <button type="submit" class="btn">Save</button>
            </div>

        </div>
        <hr />
        <div class="row-fluid">
            <div class="span12">
                @{ Html.RenderAction("Listings", Model.Id); }
            </div>
        </div>
    </fieldset>
}
