@model MrCMS.Web.Apps.Ecommerce.Entities.NewsletterBuilder.NewsletterTemplate
@{
    ViewBag.Title = "Add Newsletter Template";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Add", "NewsletterTemplate", FormMethod.Post))
{
    <fieldset>
        <legend>Add Newsletter Template
            <span class="btn-group display-inline pull-right">
                @Html.ActionLink("Return to List", "Index", "NewsletterTemplate", null, new { @class = "btn" })
                <input type="submit" class="btn btn-primary" value="Add Newsletter Template"/>
            </span>
        </legend>
        
        <div class="row">
            <div class="span12">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name)
                @Html.ValidationMessageFor(x => x.Name)


                @Html.LabelFor(x => x.BaseTemplate)
                <div class="alert alert-info">
                    <strong>Available Tokens: </strong> [BodyContent]
                </div>
                @Html.TextAreaFor(x => x.BaseTemplate, new { @class = "span12", rows = 6 })
                @Html.ValidationMessageFor(x => x.BaseTemplate)

                @Html.LabelFor(x => x.Divider)
                @Html.TextAreaFor(x => x.Divider, new { @class = "span12", rows = 6 })
                @Html.ValidationMessageFor(x => x.Divider)

                <h4>Content Items Templates</h4>

                @Html.LabelFor(x => x.FreeTextTemplate)
                <div class="alert alert-info">
                    <strong>Available Tokens: </strong> [Text]
                </div>
                @Html.TextAreaFor(x => x.FreeTextTemplate, new { @class = "span12", rows = 6 })
                @Html.ValidationMessageFor(x => x.FreeTextTemplate)

                <br />

                @Html.LabelFor(x => x.ImageAndTextTemplate)
                <div class="alert alert-info">
                    <strong>Available Tokens: </strong> [ImageUrl], [Text]
                </div>
                @Html.TextAreaFor(x => x.ImageAndTextTemplate, new { @class = "span12", rows = 6 })
                @Html.ValidationMessageFor(x => x.ImageAndTextTemplate)

                <br />

                @Html.LabelFor(x => x.ProductGridTemplate)
                <div class="alert alert-info">
                    <strong>Available Tokens:</strong> [ProductRow]
                </div>
                @Html.TextAreaFor(x => x.ProductGridTemplate, new { @class = "span12", rows = 6 })
                @Html.ValidationMessageFor(x => x.ProductGridTemplate)

                <br />

                @Html.LabelFor(x => x.ProductRowTemplate)
                <div class="alert alert-info">
                    <strong>Available Tokens: </strong> [Product]
                </div>
                @Html.TextAreaFor(x => x.ProductRowTemplate, new { @class = "span12", rows = 6 })
                @Html.ValidationMessageFor(x => x.ProductRowTemplate)

                <br />

                @Html.LabelFor(x => x.ProductTemplate)
                <div class="alert alert-info">
                    <strong>Available Tokens: </strong> [ProductImage], [ProductName], [ProductUrl], [ProductPrice], [ProductOldPrice]
                </div>
                @Html.TextAreaFor(x => x.ProductTemplate, new { @class = "span12", rows = 6 })
                @Html.ValidationMessageFor(x => x.ProductTemplate)

                <br />

                @Html.LabelFor(x => x.BannerTemplate)
                <div class="alert alert-info">
                    <strong>Available Tokens: </strong> [ImageUrl], [LinkUrl]
                </div>
                @Html.TextAreaFor(x => x.BannerTemplate, new { @class = "span12", rows = 6 })
                @Html.ValidationMessageFor(x => x.BannerTemplate)
            </div>
        </div>
    </fieldset>
}