@using System.Web.Optimization
@using MrCMS.Helpers
@using MrCMS.Settings
@using MrCMS.Web.Apps.Ecommerce.Bundles
@using MrCMS.Website
@model MrCMS.Entities.Documents.Web.Webpage
@{
    var seoSettings = SiteSettings<SEOSettings>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.GetPageTitle()</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render(CheckoutStylesheetBundle.BundleUrl)
    @{ Html.RenderCss(); }
    @Html.Raw(Model.CustomHeaderScripts)
    @Html.Raw(seoSettings.TrackingScripts)
</head>
<body>
    @RenderBody()

    <!--
        Include the following script(i.e. https://js.stripe.com/v3/) in the head section on every page on your site.
        This script must always load directly from js.stripe.com to remain PCI compliant.
        thought.co.uk can not include the script in a bundle or host a copy of its own.
    -->

    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  

    @if (Model.GetType() == typeof(MrCMS.Web.Apps.Ecommerce.Pages.PaymentDetails))
    {
        <script src="~/Apps/Ecommerce/Content/Scripts/custom/elavon-payment.js" type="text/javascript"></script>

    }



    @Scripts.Render(CheckoutLibScriptBundle.BundleUrl)
    @{
        //Html.AddAppUIScripts();
    }
    @{ Html.RenderScripts(); }
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><script src="/Apps/Core/Content/Scripts/respond.min.js"></script><![endif]-->
    @if (CurrentRequestData.CurrentUserIsAdmin && SiteSettings<SiteSettings>().EnableInlineEditing)
    {
        Html.RenderAction("InPageEditor", "InPageAdmin", new { id = Model.Id, area = "Admin" });
    }
    @if (IsSectionDefined("JavascriptBlockInclude"))
    {
        @RenderSection("JavascriptBlockInclude")
    }
    @Html.Raw(Model.CustomFooterScripts)
</body>
</html>