@using MrCMS.Entities.Documents.Web
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@using MrCMS.Website
@model MrCMS.Entities.Documents.Web.Webpage
@{
    Layout = "_BaseLayout.cshtml";
    Webpage currentPage = CurrentRequestData.CurrentPage;
    List<string> activePages = currentPage.ActivePages.Select(webpage => webpage.DocumentType).ToList();
    int percentComplete = 25;
    if (activePages.Contains("SetShippingDetails", StringComparer.OrdinalIgnoreCase))
    {
        percentComplete = 50;
    }
    else if (activePages.Contains("PaymentDetails", StringComparer.OrdinalIgnoreCase))
    {
        percentComplete = 75;
    }
    else if (activePages.Contains("OrderPlaced", StringComparer.OrdinalIgnoreCase))
    {
        percentComplete = 100;
    }
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/checkout.js");
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/discount.js");
}

<div class="container checkout-header">
    <div class="row">
        <div class="col-xs-6">
            <div class="padding-top-10">
                @{ RenderZone("Checkout Header Left"); }
            </div>
        </div>
        <div class="col-xs-6 pull-right">
            @{ RenderZone("Checkout Header Middle"); }
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="navigation">
    <div class="container">
        <div class="row" id="checkout">
            <div class="col-md-3 col-sm-3 col-xs-3 light-green">
                <a href="@(UniquePageHelper.GetUrl<EnterOrderEmail>())">
                    <div class="circle hidden-xs hidden-sm">
                        1
                    </div>
                    <div class="session">
                        Welcome
                    </div>
                    <div class="pointer"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 @(percentComplete >= 50 ? "light-green" : "dark-grey")">
                <a href="@(UniquePageHelper.GetUrl<SetShippingDetails>())">
                    <div class="circle hidden-xs hidden-sm">
                        2
                    </div>
                    <div class="session">
                        Delivery
                    </div>
                    <div class="pointer"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3  @(percentComplete >= 75 ? "light-green" : "light-grey")">
                <div class="circle hidden-xs hidden-sm">
                    3
                </div>
                <div class="session">
                    Payment
                </div>
                <div class="pointer"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 @(percentComplete >= 100 ? "light-green" : "dark-grey")">
                <div class="circle hidden-xs hidden-sm">
                    4
                </div>
                <div class="session">
                    Receipt
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    @RenderBody()
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                @{ RenderZone("Checkout Footer Left"); }
            </div>
            <div class="col-sm-6">
                @{ RenderZone("Checkout Footer Right"); }
            </div>
        </div>
    </div>
</footer>