@using MrCMS.Helpers
@using MrCMS.Website
@model MrCMS.Entities.Documents.Web.Webpage
@{
    Layout = "_BaseLayout.cshtml";
    var currentPage = CurrentRequestData.CurrentPage;
    var activePages = currentPage.ActivePages.Select(webpage => webpage.DocumentType).ToList();
}

<div class="container">
    <div class="row-fluid margin-bottom-10">
        <div class="span4">
            @RenderZone("Header Left")
        </div>
        <div class="span4">
            @RenderZone("Header Middle")
        </div>
        <div class="span4">
            <div id="checkout-nav-buttons">
                <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.Cart>())" class="btn btn-info btn-large span6">Basket</a>
                <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())" class="btn btn-info btn-large span6">Return to shop</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <div id="checkout" class="wizard">
                <ul class="steps">
                    <li class="span2 @(activePages.Contains("EnterOrderEmail", StringComparer.OrdinalIgnoreCase) ? "active" : "")">
                        <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">Welcome
                        </a>
                        <span class="chevron"></span></li>
                    <li class="span2 @(activePages.Contains("SetDeliveryDetails", StringComparer.OrdinalIgnoreCase) ? "active" : "")">Delivery
                                <span class="chevron"></span></li>
                    <li class="span2 @(activePages.Contains("PaymentDetails", StringComparer.OrdinalIgnoreCase) ? "active" : "")">Payment
                                <span class="chevron"></span></li>
                    <li class="span2 @(activePages.Contains("OrderPlaced", StringComparer.OrdinalIgnoreCase) ? "active" : "")">Receipt
                                <span class="chevron"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            @RenderBody()
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <hr />
        <div class="row-fluid">
            <div class="span6">
                @RenderZone("Footer Left")
            </div>
            <div class="span6">
                @RenderZone("Footer Right")
            </div>
        </div>
    </div>
</footer>