@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Entities.Documents.Web.Webpage
@{
    Layout = "_BaseLayout.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="fixedHeader">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div id="sidebarmenu" class="visible-xs visible-sm c">
                    <div class="mobilemenu">
                        <a id="menu" href="#" data-mfnav="toggleMobileNav"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Menu</a>
                        <div class="pull-right hidden-sm">
                            <a data-toggle="collapse" data-target="#mobSearch" style="cursor: pointer;"><span class="glyphicon glyphicon-search"></span></a>
                        </div>
                    </div>
                </div>
                <div id="mobSearch" class="collapse">
                    <form class="form-inline" method="GET" action="@(UniquePageHelper.GetUrl<ProductSearch>())">
                        <div class="input-group">
                            <input type="text" placeholder="e.g. Shorts" name="searchTerm" class="form-control" style="margin-bottom: 5px;"/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn" style="margin-bottom: 5px;">
                                    Search
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="hidden-sm">
                    <div class="navbar-collapse collapse">
                        @RenderZone("Navigation")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="searchbar" id="search">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-4">
                <div class="padding-top-bottom-9 logo">
                    @RenderZone("Header Left")
                </div>
            </div>
            <div class="col-md-5 col-md-offset-3 grey-border-right col-sm-7 col-xs-4 padding-l-r-0 hidden-xs">
                @RenderZone("Header Middle")
            </div>
            <div class="col-md-2 text-right padding-left-0 col-sm-3 col-xs-8">
                @RenderZone("Header Right")
                @RenderZone("User Links")
            </div>
        </div>
    </div>
</div>


<div id="wrapper">
    <div class="info hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <ul>
                            <li>
                                <img src="/Apps/Ecommerce/Content/Images/tick-small.png" /> FREE delivery
                            </li>
                            <li>
                                <img src="/Apps/Ecommerce/Content/Images/tick-small.png" /> 100 % Secure shopping
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right margin-right-minus">
                        <ul>
                            <li>
                                e : <a href="mailto:info@mrcms.co.uk">
                                        info@mrcms.co.uk
                                    </a>
                            </li>
                            <li>
                                t : 0208 444 4545
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    @RenderZone("Before Content")
    @RenderBody()
    @RenderZone("After Content")

    <div class="margin-top-bottom-30">
        
        <div class="padding-top-bottom-20 payment grey-border-top-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/Apps/Ecommerce/Content/Images/payment.gif" class="img-responsive" alt="Our payment methods" />
                    </div>
                    <div class="col-md-9">
                        We accept Visa, Mastercard and Maestro card payments. We also take payments from customers with a Paypal account.
                    </div>
                </div>
            </div>
                
        </div>
    </div>

    <div class="margin-top-bottom-30">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        @RenderZone("Footer")
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        @RenderZone("Footer Area 2")
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        @RenderZone("Footer Area 3")
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        @RenderZone("Footer Area 4")
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
