@using MrCMS.Helpers
@using MrCMS.Settings
@using MrCMS.Website
@model MrCMS.Entities.Documents.Web.Webpage
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.GetPageTitle()</title>
    <meta name="description" content="@Model.MetaDescription" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        Html.IncludeCss("~/Apps/Ecommerce/Content/bootstrap/css/bootstrap.css");
        Html.IncludeCss("~/Apps/Ecommerce/Content/bootstrap/css/bootstrap-responsive.css");
        Html.IncludeCss("~/Apps/Ecommerce/Content/Styles/jquery-ui-bootstrap/jquery-ui-1.9.2.custom.css");
        Html.IncludeCss("~/Apps/Ecommerce/Content/Styles/style.css");
    }
    @Html.RenderCss()
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><script src="/Apps/Core/Content/Scripts/respond.min.js"></script><![endif]-->
    
    @Html.Raw(SiteSettings<SEOSettings>().TrackingScripts)
    @Html.Raw(Model.CustomHeaderScripts)
</head>
<body>
    <div id="fb-root"></div>
    <div id="wrap">
    <div class="container">
        <div class="pull-left">
            <img src="/Apps/Ecommerce/Content/Images/mrcms-logo.png" />
        </div>
 
         <div class="pull-right">
           <div id="top-menu-box">
               <div class="pull-left">
               <a href="#">Stores</a>
                   </div>
               <div class="pull-right">
               <a href="#">Your Account</a>
                   </div>
           </div>
             <button class="btn btn-large btn-info btn-checkout" type="button">Checkout</button>
        </div>

                <div id="basket-info-box" class="pull-right">
           <i class="icon-shopping-cart"></i> Your basket 0 items - &pound;0.00
        </div>

         <div id="search-box" class="pull-right">
             <input type="text" class="input-xlarge" placeholder="e.g : Shorts"/>
            <button class="btn" type="button">Search</button>
        </div>
    </div>
    <div id="navbar-wrapper">
    <div class="container">
        <div class="masthead">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Information</a></li>
                <li><a href="#">Delivery Details</a></li>
                <li><a href="#">Shop Locations</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
           <div class="container">
        @RenderZone("Header")
               </div>
      <div class="container">
        @RenderBody()
           </div>
           <div class="container">
        @RenderZone("After Content")
               <br />
        @RenderZone("Footer")
      </div>
        <div id="bottom-box">
             <div class="container">
            <h1>WELCOME TO YOUR ECOMMERCE</h1>
            <p>
                Lorem ipsum dolor sit amet, volumus conclusionemque an vix, dolor noster meliore usu te, ne sit facete convenire scribentur. Ut quot aperiri lobortis his, posse graeci inciderint cum et, vel rebum prompta albucius ei. Est ad civibus corrumpit torquatos, qui reque bonorum voluptaria ex. Usu option verterem ea. Vis veritus ponderum posidonium ex, ea falli eirmod persius vim. Et est vocibus percipit, nec suavitate vituperatoribus ei.
Periculis suscipiantur ne has, et debet suscipit oportere vim. An iuvaret sensibus per, in mei idque oblique. At sea case erroribus, quot tibique facilisi mei ei, porro accommodare sed ut. Vix sumo concludaturque te. Id eos utamur consulatu. Posse partiendo eloquentiam cu sed, vis soleat labores facilisi id, constituto vituperata liberavisse eam no.
Mel tale veri possit ne, his cu sale legere prompta. Ut odio admodum deterruisset duo. Nec graece deleniti ei, fastidii eligendi lobortis at vel. Has case prompta alterum ei, cum omnesque detraxit in.
            </p>
                  <button class="btn" type="button">Read More</button>
        </div>
        </div>
      <div id="push"></div>
    </div>
          
    <div id="footer">
        <div class="container">
      <ul>
          <li><a href="#">About &bull;</a></li>
           <li><a href="#">Contact Us &bull;</a></li>
           <li><a href="#">Privacy Policy & Cookie Info &bull;</a></li>
          <li><a href="#">Mr CMS</a></li>
      </ul>
    </div>
 </div>


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    @{ Html.IncludeScript("~/Apps/Ecommerce/Content/bootstrap/js/bootstrap.min.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.validate.min.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.validate.unobtrusive.min.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/facebook.js");
     }
    @Html.RenderScripts()
    @if (CurrentRequestData.CurrentUserIsAdmin && SiteSettings<SiteSettings>().EnableInlineEditing)
    {
        Html.RenderAction("InPageEditor", "InPageAdmin", new { id = Model.Id, area = "Admin" });
    }
    @if (IsSectionDefined("JavascriptBlockInclude"))
    {
        @RenderSection("JavascriptBlockInclude")
    }
    @Html.Raw(Model.CustomFooterScripts)
</body>
</html>
