@using MrCMS.Helpers
@using MrCMS.Settings
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    @{
        Html.IncludeCss("~/Apps/Ecommerce/Content/bootstrap/css/bootstrap.css");
        Html.IncludeCss("~/Apps/Ecommerce/Content/bootstrap/css/bootstrap-responsive.css");
        Html.IncludeCss("~/Apps/Ecommerce/Content/Styles/jquery-ui-bootstrap/jquery-ui-1.9.2.custom.css");
        Html.IncludeCss("~/Apps/Ecommerce/Content/Styles/style.css");
    }
    @Html.RenderCss()
    @Html.Raw(SiteSettings<SEOSettings>().TrackingScripts)
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"> </script>
    <![endif]-->
    <style>
        body { padding-top: 0;}
    </style>
</head>
<body>
    @RenderBody()

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    @{ Html.IncludeScript("~/Apps/Ecommerce/Content/bootstrap/js/bootstrap.min.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.validate.min.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.validate.unobtrusive.min.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/facebook.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/bootstrap.dropdown.js");
       Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/ecommerce.js");
    }
    @Html.RenderScripts()
    @if (IsSectionDefined("JavascriptBlockInclude"))
    {
        @RenderSection("JavascriptBlockInclude")
    }
</body>
</html>
