@using MrCMS.Helpers
@using MrCMS.Settings
@using MrCMS.Website
@model MrCMS.Entities.Documents.Web.Webpage
@{
    Layout = "_EcommerceLayout.cshtml";
}


    <div class="welcome-con">
        <div class="container">
            <div class="margin-top-bottom-30">
                @*<div class="row">
                    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                        <a href="#" class="btn btn-default btn-block">
                            About my shop
                        </a>
                    </div>
                </div>
                <br />*@
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center col-sm-10 col-sm-offset-1">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>


@RenderZone("Home After Content")

<div class="margin-top-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                @RenderZone("Teaser1")
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                @RenderZone("Teaser2")
            </div>
            <div class="clearfix visible-xs padding-top-bottom-10"><br /></div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                @RenderZone("Teaser3")
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                @RenderZone("Teaser4")
            </div>
        </div>
    </div>
</div>