@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Web.Apps.Ecommerce.Settings
@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@{ var cart = ViewData["cart"] as CartModel;}
@if (Model.Variants.Any())
{
    <div class="span3 photo">
        @RenderImage(Model.DisplayImageUrl)
    </div>
    <div class="span6">
        <h4><a href="/@Model.LiveUrlSegment">@Model.Name</a></h4>
        @(Model.Abstract != null ? (Model.Abstract.Length > 255 ? Model.Abstract.Substring(0, 250) + "..." : Model.Abstract) : String.Empty)
    </div>
    <div class="span3">
        <div class="text-right">
            <div class="product-price">
                @Html.DisplayFor(product => product.DisplayPrice)
            </div>
            @if (Model.ShowPreviousPrice)
            {
                <span>@(SiteSettings<EcommerceSettings>().PreviousPriceText) <span style="text-decoration: line-through">@Html.DisplayFor(product => product.DisplayPreviousPrice)</span></span>
            }
            <a href="/@Model.LiveUrlSegment" class="btn btn-more margin-bottom-5 span12">View</a>
            @if (Model.Variants.Count == 1 && Model.Variants.Any(variant => variant.CanBuy(cart, 1).OK))
            {
                using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                {
                @Html.Hidden("ProductVariant.Id", Model.Variants.First(variant => variant.CanBuy(cart, 1).OK).Id)
                @Html.Hidden("quantity", 1)
                <button class="btn btn-info span12">Add to basket</button>
                }
            }
        </div>
    </div>
}
