@using System.Drawing
@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Web.Apps.Ecommerce.Settings
@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@{ var cart = ViewData["cart"] as CartModel;}
<div class="span3">
    <div style="overflow: hidden;">
        <a href="/@Model.LiveUrlSegment">@RenderImage(Model.DisplayImageUrl, null, null, new { @class = "img-rounded span12" })</a>
    </div>
    <div class="clearfix"></div>
    <h4 class="product-title"><a href="/@Model.LiveUrlSegment">@Model.Name</a></h4>
    <div>@(Model.Abstract != null ? (Model.Abstract.Length > 255 ? Model.Abstract.Substring(0, 250) + "..." : Model.Abstract) : String.Empty)</div>
    <div class="product-price">
        @Html.DisplayFor(product => product.DisplayPrice)
    </div>
    @if (Model.DisplayPreviousPrice.HasValue && Model.DisplayPreviousPrice > Model.DisplayPrice)
    {
        <span>@(SiteSettings<EcommerceSettings>().PreviousPriceText) @Html.DisplayFor(product => product.DisplayPreviousPrice)</span>
    }
    else
    {
        <span>&nbsp;</span>
    }
    @if (Model.Variants.Count == 1 && Model.Variants.Any(variant => variant.CanBuy(cart, 1).OK))
    {
        using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
        {
        @Html.Hidden("ProductVariant.Id", Model.Variants.First(variant => variant.CanBuy(cart, 1).OK).Id)
        @Html.Hidden("quantity", 1)
            <div class="row-fluid">
                <button class="btn btn-info span12">Add to basket</button>
            </div>
        }
    }
</div>
