@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@if (Model.Variants.Any())
{
    <div class="span3 photo">
        @RenderImage(Model.DisplayImageUrl)
    </div>
    <div class="span6">
        <h4><a href="/@Model.LiveUrlSegment">@Model.Name</a></h4>
        @(Model.Abstract != null ? (Model.Abstract.Length > 255 ? Model.Abstract.Substring(0, 250) + "..." : Model.Abstract) : String.Empty)
    </div>
    <div class="span3">
        <div class="text-right">
            <div class="product-price">
                @Html.DisplayFor(product => product.DisplayPrice)
            </div>
            @if (Model.ShowPreviousPrice)
            {
                <span>@Model.PreviousPriceText <span style="text-decoration: line-through">@Html.DisplayFor(product => product.DisplayPreviousPrice)</span></span>
            }   
            <a href="/@Model.LiveUrlSegment" class="btn btn-more margin-bottom-5 span12">View</a>
            @if (!Model.IsMultiVariant && Model.Variants.FirstOrDefault().InStock)
            {
                    using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                    {
                        @Html.Hidden("Id", Model.Variants.FirstOrDefault().Id)
                        @Html.Hidden("quantity", 1)
                        <button class="btn btn-info span12">Add to basket</button>
                    }
            }
        </div>
    </div>
}
