@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@if (Model.Variants.Any())
{
    <div class="span3 photo">
        @RenderImage(Model.DisplayImageUrl)
    </div>
    <div class="span6">
        <h4><a href="/@Model.LiveUrlSegment">@Model.Name</a></h4>
        @(Model.Abstract != null ? (Model.Abstract.Length > 255 ? Model.Abstract.Substring(0, 250) + "..." : Model.Abstract) : String.Empty)
    </div>
    <div class="span3">
        <div class="pull-right">
            <h1 class="product-price">
                @Html.DisplayFor(product => product.DisplayPrice)
            </h1>
            @if (Model.ShowPreviousPrice)
            {
                <span>@Model.PreviousPriceText <span style="text-decoration: line-through">@Model.DisplayPreviousPrice </span></span>
            }   
            <a href="/@Model.LiveUrlSegment" class="btn btn-info span12">View</a>
        </div>
    </div>
}
