@using System.Drawing
@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Web.Apps.Ecommerce.Settings
@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@if (Model.Variants.Any())
{
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 margin-bottom-30">
        <div class="product-con">
            <div class="product-image">
                <a href="/@Model.LiveUrlSegment">@RenderImage(Model.DisplayImageUrl, new Size { Width = 200, Height = 200 }, null, null, new { @class = "img-responsive" })</a>
                @*<img src="/Apps/Ecommerce/Content/Images/topoffer.png" class="offer" />*@
            </div>
            <div class="product-info">
                <div class="product-name">
                    <a href="/@Model.LiveUrlSegment">@Model.Name</a>
                </div>
                <div class="product-price">
                    <span class="current-price">
                        @(Model.IsMultiVariant ? "From " : "")
                        @Html.DisplayFor(product => product.DisplayPrice)
                    </span>
                    @if (Model.ShowPreviousPrice)
                    {
                        <span class="old-price">
                            <span class="inner">
                                @(SiteSettings<EcommerceSettings>().PreviousPriceText) : @Html.DisplayFor(product => product.DisplayPreviousPrice)
                            </span>
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>


    
}
