@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Web.Apps.Ecommerce.Settings
@using MrCMS.Website
@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
@{
    var @abstract = Model.Product != null ? Model.Product.Abstract ?? string.Empty : string.Empty;
    var cartModel = ViewData["cart"] as CartModel ?? MrCMSApplication.Get<CartModel>();
}
<div class="row-fluid" data-wishlist-item="@Model.Id">
    <div class="span3 photo">
        @RenderImage(Model.DisplayImageUrl)
    </div>
    <div class="span6">
        <h4><a href="@Model.DirectUrl">@(!string.IsNullOrWhiteSpace(Model.Name) ? Model.Name : Model.Product.Name)</a></h4>
        @(@abstract.Length > 255 ? @abstract.Substring(0, 250) + "..." : @abstract)
    </div>
    <div class="span3">
        <div class="text-right">
            <div class="product-price">
                @Model.Price.ToCurrencyFormat()
            </div>
            @if (Model.ShowPreviousPrice)
            {
                <span>@(SiteSettings<EcommerceSettings>().PreviousPriceText) <span style="text-decoration: line-through">@Model.PreviousPrice.ToCurrencyFormat()</span></span>
            }
            <div>
                <a href="@Model.DirectUrl" class="btn btn-more margin-bottom-5 span12">View</a>
            </div>
            @if (Model.CanBuy(cartModel, 1).OK)
            {
                using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                {
                <button class="btn btn-info span12 margin-bottom-5">Add to basket</button>
                @Html.Hidden("ProductVariant.Id", Model.Id)
                @Html.Hidden("quantity", 1)
                }
            }
            @{ Html.RenderAction("Add", "Wishlist", new { id = Model.Id }); }
        </div>
    </div>
</div>
<hr />
