@using System.Collections.Generic
@using System.Linq
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@{
    var shippingMethods = ViewData["shipping-methods"] as List<SelectListItem> ?? new List<SelectListItem>();
}
<div class="block-title">
    <h1>Select shipping method</h1>
</div>

<div class="form-group">
    <label>Postage Selection <span class="red">*</span> :</label>
    @if (shippingMethods.Any())
    {
        @Html.DropDownList("ShippingMethod", shippingMethods, new { @class = "form-control margin-bottom-10" })
        <div id="to-payment-details" style="display: none">
            <a class="btn btn-primary btn-lg margin-top-10" href="@(UniquePageHelper.GetUrl<PaymentDetails>())">
                @Resource("Continue")
            </a>
        </div>
    }
    else
    {
        <p>
            There are no available shipping methods for this cart to this address. 
        </p>
        <div>
            <a class="btn btn-default margin-top-10" href="@(UniquePageHelper.GetUrl<Cart>())">
                @Resource("To Cart")
            </a>
        </div>
    }
</div>
