@using MrCMS.Helpers
@model MrCMS.Paging.IPagedList<MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order>
           
@if (Model!=null && !Model.Any())
{
    @:You have no orders yet.
}
else
{
    <p>Your orders:</p>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Email
                </th>
                <th>Payment Status
                </th>
                <th>Shipping Status
                </th>
                <th>Amount
                </th>
                <th>Created On
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.OrderEmail
                    </td>
                    <td>
                        @item.PaymentStatus
                    </td>
                    <td>
                        @item.ShippingStatus
                    </td>
                    <td>
                        &pound;@item.Total.ToString("#.##")
                    </td>
                    <td>
                        @item.CreatedOn
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@Html.Pager(Model, "Index", i => new {pageNum = i})
