@model MrCMS.Web.Apps.Ecommerce.Entities.Geographic.Country

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Add", "Country", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Add Country</h3>
    </div>
    <div class="modal-body">
        @*ADDING COUNTRIES FROM STATIC LIST*@
        @* @Html.Label("countryCode", "Name")*@
        @*@Html.DropDownList("countryCode", Model)*@

        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        <br />
        @Html.LabelFor(x => x.ISOTwoLetterCode)
        @Html.EditorFor(x => x.ISOTwoLetterCode)
        @Html.ValidationMessageFor(x => x.ISOTwoLetterCode)
        <br />
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Add Country" />
    </div>
}