@model MrCMS.Web.Apps.Ecommerce.Entities.Geographic.Country
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Edit", "Country", FormMethod.Post))
{
    <fieldset>
        <legend>Edit Country
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Edit Country" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        <br />
        @Html.LabelFor(x => x.ISOTwoLetterCode)
        @Html.EditorFor(x => x.ISOTwoLetterCode)
        @Html.ValidationMessageFor(x => x.ISOTwoLetterCode)

    </fieldset>
}