@model MrCMS.Web.Apps.Ecommerce.Entities.Geographic.Country
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Edit", "Country", FormMethod.Post))
{
    <fieldset>
        <legend>Edit Country
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Edit Country" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ISOTwoLetterCode)
            @Html.TextBoxFor(x => x.ISOTwoLetterCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ISOTwoLetterCode)
        </div>
    </fieldset>
}