@using System.Drawing
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Ryness.Widgets.FeaturedProductsVerticalViewModel
@if (Model != null)
{
    if (!String.IsNullOrEmpty(Model.Title))
    {
    <div class="section-header">
        <span>@Model.Title</span>
    </div>
    }
    <div class="bulbs-container white-background">
        @foreach (var item in Model.Products)
        {
            <div class="row-fluid side-list">
                <div class="span4 text-align-center">
                    @if (item.Images.Any())
                    {
                        <a href="/@item.LiveUrlSegment">
                            @RenderImage(item.Images.First().FileUrl, new Size { Width = 84, Height = 147 })
                        </a>
                    }
                </div>
                <div class="span8 side-list-items">
                    <div class="product-abstract">
                        <h3><a href="/@item.LiveUrlSegment">@item.Name</a></h3>
                    </div>
                    <div class="product-price">
                        <span>Exclusive price</span>
                        @item.DisplayPrice.ToCurrencyFormat()
                        <span>Shop price : <span>@item.DisplayPreviousPrice.ToCurrencyFormat()</span>
                        </span>
                    </div>
                    <div class="more-info">
                        <div class="row-fluid">
                            <a href="/@item.LiveUrlSegment" class="generic-button big-red-gradient span9 text-align-center">More info</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
