@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers.Cart
@using MrCMS.Web.Apps.Ecommerce.Settings
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
<div id="details">
    <div class="row margin-bottom-10">
        <div class="col-sm-6">
            <h1>Shopping Basket</h1>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="@(!Model.CanEnterPaymentFlow ? "col-sm-offset-6" : "") col-sm-6">
                    <a class="btn btn-default btn-block " href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())">Continue Shopping</a>
                </div>
                @if (Model.CanEnterPaymentFlow)
                {
                    <div class="visible-xs" style="padding-top:5px;"></div>
                    <div class="col-sm-6">
                        <a class="btn btn-normalgreen btn-block" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">Pay Securely NOW!</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="cart-items" class="margin-bottom-20">
        @if (Model.Items.Any())
        {
            <div class="row margin-bottom-10 padding-bottom-10 grey-border-bottom" id="header">
                <div class="col-xs-6">
                    <strong>Item Description</strong>
                </div>
                <div class="col-xs-2 text-center">
                    <strong class="hidden-xs">Quantity</strong>
                    <strong class="visible-xs">Qty</strong>
                </div>
                <div class="col-xs-3 col-sm-2 text-right">
                    <strong>Price</strong>
                </div>
                <div class="col-xs-3 col-sm-2 text-right">
                    <strong>Total</strong>
                </div>
            </div>
            foreach (var item in Model.Items)
            {
                Html.RenderPartial("CartItem", item);
            }
        }
        else
        {
            <p class="red">No items in basket.</p>
        }
    </div>

    @if (Model.Items.Any())
    {
        <div class="row margin-bottom-20">
            <div class="col-sm-8 col-sm-offset-4 col-lg-6 col-lg-offset-6">
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-block" id="update-basket">Update Basket</button>
                    </div>
                    <div class="visible-xs" style="padding-top:5px;"></div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-danger btn-block" id="empty-basket">Empty Basket</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom-10" id="cart-discount">
            <div class="col-sm-8 col-sm-offset-4 col-lg-6 col-lg-offset-6">
                @Html.HiddenFor(x => x.DiscountCode)
                <div class="row" id="discount-code-box">
                    <div class="col-sm-4 line-height-30">
                        Discount Code
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" id="discount-code" />
                        <div class="visible-xs" style="padding-top:5px;"></div>
                    </div>
                    <div class="col-sm-4">
                        <button id="apply-discount-code" class="btn btn-default btn-block">Apply Discount Code</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-8 col-sm-offset-4 col-lg-6 col-lg-offset-6" id="cart-summary">
            @if (Model.Items.Any())
            {
                <div class="row margin-bottom-10">
                    <div class="col-xs-8 col-sm-6">
                        Subtotal before delivery charges
                    </div>
                    <div class="col-xs-4 col-sm-6 text-right" id="cart-subtotal">
                        @Model.Subtotal.ToCurrencyFormat()
                    </div>
                </div>
                if (Model.HasDiscount)
                {
                    <div class="row margin-bottom-10">
                        <div class="col-xs-8 col-sm-6">
                            Discount
                        </div>
                        <div class="col-xs-4 col-sm-6 text-right" id="cart-discount">
                            <button id="remove-discount-code" class="btn btn-danger">Remove</button>

                            @((-Model.OrderTotalDiscount).ToCurrencyFormat())
                        </div>
                    </div>
                }
                if (MrCMS.Website.MrCMSApplication.Get<TaxSettings>().TaxesEnabled)
                {
                    <div class="row margin-bottom-10">
                        <div class="col-xs-8 col-sm-6">
                            VAT
                        </div>
                        <div class="col-xs-4 col-sm-6 text-right" id="cart-tax">
                            @Model.Tax.ToCurrencyFormat()
                        </div>
                    </div>
                }
                <div class="row margin-bottom-10">
                    <div class="col-xs-8 col-sm-6">
                        Shipping
                    </div>
                    <div class="col-xs-4 col-sm-6 text-right" id="cart-shipping">
                        @Model.CartPageShipping()
                    </div>
                </div>
                <hr />
                <div class="row margin-bottom-10">
                    <div class="col-xs-8 col-sm-6">
                        <strong>Total</strong>
                    </div>
                    <div class="col-xs-4 col-sm-6 text-right" id="cart-total">
                        <strong>@Model.CartPageTotal()</strong>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row margin-bottom-10">
        <div class="col-sm-6 col-sm-offset-6">
            @if (Model.CanEnterPaymentFlow)
            {
                <a class="btn btn-normalgreen btn-block" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">Pay Securely NOW!</a>
            }
            @if (Model.CanUsePayPalExpress)
            {
                using (Html.BeginForm("SetExpressCheckout", "PayPalExpressCheckout", FormMethod.Post))
                {
                    <div class="text-center">
                        <p>Or</p>
                        <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_xpressCheckout.gif" />
                    </div>
                }
            }
        </div>
    </div>
</div>
@{ Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/cart.js"); }