@model MrCMS.Web.Apps.Ecommerce.Entities.Shipping.ShippingCalculation
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "ShippingCalculation", new { id = "" }, FormMethod.Post, new { id = "add-shipping-calculation" }))
{
    <div class="modal-header">
        <h3>Add Shipping Calculation</h3>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(x => x.ShippingMethod.Id)
        @Html.LabelFor(x => x.ShippingCriteria)
        @Html.DropDownListFor(x => x.ShippingCriteria, ViewData["criterias"] as IEnumerable<SelectListItem>)
        @Html.LabelFor(x => x.LowerBound)
        @Html.TextBoxFor(x => x.LowerBound)
        @Html.LabelFor(x => x.UpperBound)
        @Html.TextBoxFor(x => x.UpperBound) (leave blank if there is no upper bound)
        @Html.LabelFor(x => x.BaseAmount)
        @Html.TextBoxFor(x => x.BaseAmount)
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="save-add" data-action="save" data-form-id="add-shipping-calculation">
            Add Shipping Calculation</button>
    </div>
}