@model MrCMS.Web.Apps.Ecommerce.Entities.Shipping.ShippingCalculation

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}

@using (Html.BeginForm("Edit", "ShippingCalculation", FormMethod.Post, new { id = "edit-shipping-calculation" }))
{
    <div class="modal-header">
        <h3>Edit Tax Rate</h3>
    </div>
    <div class="modal-body">
    @Html.HiddenFor(x => x.Id)
         @Html.HiddenFor(x => x.Country.Id)
        @Html.LabelFor(x => x.ShippingMethod)
        @Html.DropDownListFor(x => x.ShippingMethod.Id, ViewData["shipping-methods"] as IEnumerable<SelectListItem>)
        @Html.ValidationMessageFor(x => x.ShippingMethod.Id)
        @Html.LabelFor(x => x.ShippingCriteria)
        @Html.DropDownListFor(x => x.ShippingCriteria, ViewData["criterias"] as IEnumerable<SelectListItem>)
        @Html.ValidationMessageFor(x => x.ShippingCriteria)
        @Html.LabelFor(x => x.LowerBound)
        @Html.TextBoxFor(x => x.LowerBound)
          @Html.ValidationMessageFor(x => x.LowerBound)
        @Html.LabelFor(x => x.UpperBound)
        @Html.TextBoxFor(x => x.UpperBound) (leave blank if there is no upper bound)
        @Html.LabelFor(x => x.BaseAmount)
        @Html.TextBoxFor(x => x.BaseAmount)
          @Html.ValidationMessageFor(x => x.BaseAmount)
    </div>
    <div class="modal-footer">
         <button class="btn btn-primary" id="save-edit" data-action="save" data-form-id="edit-shipping-calculation">
                Save Changes</button>
    </div>
}