@using MrCMS.Web.Apps.Ecommerce.Entities.Shipping
@model IList<ShippingMethod>
@{
    ViewBag.Title = "Shipping Calculations";
}

<form>
    <fieldset>
        <legend>Shipping Calculations
        </legend>

@foreach (var shippingMethod in Model)
{
    <div class="pull-left">
        <h4>@shippingMethod.Name</h4>
    </div>
    <div class="pull-right">
        @Html.ActionLink("Add", "Add", "ShippingCalculation", new { id = shippingMethod.Id }, new { @class = "btn btn-success btn-mini", data_toggle = "fb-modal" })
    </div>
    <br />
    <br />
    if (!shippingMethod.ShippingCalculations.Any()) { continue; }
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th class="span6">Description</th>
                <th class="span2">Price</th>
                <th class="span4">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sc in shippingMethod.ShippingCalculations.OrderBy(calculation => calculation.ShippingCriteria).ThenBy(calculation => calculation.LowerBound))
            {
                <tr>
                    <td>
                        @sc.Description
                    </td>
                    <td>
                        @sc.Amount.ToString("C")
                    </td>
                    <td>
                        <div class="btn-group">
                            @Html.ActionLink("Edit", "Edit", "ShippingCalculation", new { id = sc.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                            @Html.ActionLink("Delete", "Delete", "ShippingCalculation", new { id = sc.Id }, new { @class = "btn btn-mini btn-danger", data_toggle = "fb-modal" })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

    </fieldset>
</form>